Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

py-compile:
  name: py-compile
  entry: python -m py_compile
  language: system

validate-dependencies:
  name: Validate Dependencies
  entry: python3 scripts/validation/validate_dependencies.py
  language: system
  pass_filenames: false
  always_run: false

validate-doc-links:
  name: Validate Documentation Links
  entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
  language: system
  pass_filenames: false
  always_run: false

check-placeholders:
  name: Check for Placeholder Content
  entry: python3 -c "import sys; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD', 'HACK', 'STUB']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
  language: system

validate-agents-structure:
  name: Validate AGENTS.md Structure
  entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
  language: system
  pass_filenames: false
  always_run: false

refactor: replace PIL availability check with importlib.util.find_spec
  src/codomyrmex/video/models.py
Due: py-compile

update
  CHANGELOG.md
  TODO.md
  docs/agents/hermes/AGENTS.md
  docs/agents/hermes/README.md
  docs/agents/hermes/architecture.md
  docs/agents/hermes/cli_reference.md
  docs/agents/hermes/codomyrmex_integration.md
  docs/agents/hermes/configuration.md
  docs/agents/hermes/copilot_acp.md
  docs/agents/hermes/cron.md
  docs/agents/hermes/environment.md
  docs/agents/hermes/gateway.md
  docs/agents/hermes/launchd.md
  docs/agents/hermes/models.md
  docs/agents/hermes/multi_instance.md
  docs/agents/hermes/personalities.md
  docs/agents/hermes/security.md
  docs/agents/hermes/sessions.md
  docs/agents/hermes/setup_guide.md
  docs/agents/hermes/skills.md
  docs/agents/hermes/telegram.md
  docs/agents/hermes/troubleshooting.md
  src/codomyrmex/agentic_memory/memory.py
  src/codomyrmex/agents/hermes/mcp_tools.py
  src/codomyrmex/events/integration_bus.py
  src/codomyrmex/events/mcp_tools.py
  src/codomyrmex/orchestrator/mcp_tools.py
  src/codomyrmex/orchestrator/swarm_topology.py
  src/codomyrmex/tests/unit/agentic_memory/test_knowledge_memory.py
  src/codomyrmex/tests/unit/events/test_integration_bus_p2p.py
  src/codomyrmex/tests/unit/hermes/test_hermes_graph_ki_tools.py
  src/codomyrmex/tests/unit/orchestrator/test_swarm_topology.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

update
  docs/agents/hermes/codomyrmex_integration.md
  docs/agents/hermes/gateway.md
  src/codomyrmex/agentic_memory/ki_index.py
  src/codomyrmex/agentic_memory/memory.py
  src/codomyrmex/agents/hermes/AGENTS.md
  src/codomyrmex/agents/hermes/mcp_tools.py
  src/codomyrmex/agents/hermes/session.py
  src/codomyrmex/events/AGENTS.md
  src/codomyrmex/events/integration_bus.py
  src/codomyrmex/orchestrator/AGENTS.md
  src/codomyrmex/orchestrator/__init__.py
  src/codomyrmex/orchestrator/integration.py
  src/codomyrmex/tests/unit/agentic_memory/test_ki_index.py
  src/codomyrmex/tests/unit/orchestrator/test_agent_orchestrator_extended.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

typehint(tool_use): add missing self type hints in ToolEntry methods
  src/codomyrmex/tool_use/registry.py
Due: py-compile

doc(hermes): add missing docstrings to session store __init__ methods
  src/codomyrmex/agents/hermes/session.py
Due: py-compile

test(agents): fix BaseAgent test signature mismatch in test_execute_with_error_handling
  src/codomyrmex/tests/unit/agents/test_core_agents.py
Due: py-compile

fix(hermes-client): remove erroneous asterisks in ContextCompressor initialization
  src/codomyrmex/agents/hermes/hermes_client.py
Due: py-compile

fix(editing-loop): ensure _plan method returns non-empty string to prevent test failures
  src/codomyrmex/agents/editing_loop.py
Due: py-compile

feat(hermes-client): add gateway status, model info, command dispatch, and skill install methods
  src/codomyrmex/agents/hermes/hermes_client.py
Due: py-compile

update
  AGENTS.md
  CLAUDE.md
  src/codomyrmex/agents/editing_loop.py
  src/codomyrmex/agents/hermes/hermes_client.py
  src/codomyrmex/agents/hermes/session.py
  src/codomyrmex/git_operations/core/repository_metadata.json
  src/codomyrmex/orchestrator/__init__.py
  src/codomyrmex/skills/__init__.py
  src/codomyrmex/skills/skills/custom/geopolitical_market_sim/geopolitical_market_pipeline.py
  src/codomyrmex/tests/unit/agentic_memory/test_cognilayer_bridge.py
  src/codomyrmex/tests/unit/agents/hermes/test_new_client_methods.py
  src/codomyrmex/tests/unit/agents/hermes/test_new_mcp_tools.py
  src/codomyrmex/tests/unit/agents/test_hermes_client_execution.py
  src/codomyrmex/tests/unit/agents/test_hermes_skill_registry.py
  src/codomyrmex/tests/unit/events/test_integration_bus_p2p.py
  src/codomyrmex/tests/unit/hermes/test_hermes_graph_ki_tools.py
  src/codomyrmex/tests/unit/hermes/test_hermes_session_close.py
  src/codomyrmex/tests/unit/orchestrator/test_agent_orchestrator_extended.py
  src/codomyrmex/tests/unit/skills/test_hermes_skill_bridge.py
  src/codomyrmex/tests/unit/test_hermes_mcp_tools_extended.py
  src/codomyrmex/tests/unit/test_hermes_session.py
  src/codomyrmex/tests/unit/video/test_transcription.py
  src/codomyrmex/video/__init__.py
  src/codomyrmex/video/transcription.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

docs(root): track hermes paperclip adapter workspace updates
  TODO.md
  projects/README.md
Due: validate-doc-links, check-placeholders

docs(projects): add paperclip adapter project type and inventory
  projects/AGENTS.md
  projects/SPEC.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

docs(root): sync project surfaces with paperclip adapter workspace
  AGENTS.md
  README.md
  SPEC.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

chore(projects): treat hermes paperclip adapter as standalone nested repo
  .gitignore
  projects/AGENTS.md
  projects/README.md
  projects/SPEC.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

docs(changelog): record paperclip workspace integration mode
  CHANGELOG.md
Due: validate-doc-links, check-placeholders

docs(projects): add daf consulting paperclip workspace to inventory
  projects/AGENTS.md
  projects/README.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

docs(projects): list active paperclip workspaces in spec
  projects/SPEC.md
Due: validate-doc-links, check-placeholders

docs(readme): enumerate active paperclip workspaces in project tree
  README.md
Due: validate-doc-links, check-placeholders

docs(root): clarify paperclip integration workspace scope
  AGENTS.md
  SPEC.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

docs(changelog): record daf paperclip v0.4.1 milestone
  CHANGELOG.md
Due: validate-doc-links, check-placeholders

docs(readme): annotate daf paperclip workspace release version
  README.md
Due: validate-doc-links, check-placeholders

docs(changelog): Add notes for Zero-Mock and Code Health fixes
  CHANGELOG.md
Due: validate-doc-links, check-placeholders

fix(hermes): Fix HermesClient test suite for upstream API changes
  src/codomyrmex/tests/unit/test_hermes_client.py
Due: py-compile

Fix secrets shadowing and CI Hypothesis env
  .github/workflows/AGENTS.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  Makefile
  docs/modules/security/index.md
  docs/modules/security/technical_overview.md
  docs/modules/tests/RUNNING_TESTS.md
  docs/plans/2026-03-05-pai-pm-module-integration.md
  pyproject.toml
  src/codomyrmex/agents/hermes/AGENTS.md
  src/codomyrmex/cerebrum/__init__.py
  src/codomyrmex/coding/pattern_matching/ast_matcher.py
  src/codomyrmex/coding/review/reviewer.py
  src/codomyrmex/conftest.py
  src/codomyrmex/docs_gen/api_doc_extractor.py
  src/codomyrmex/git_operations/core/repository_metadata.json
  src/codomyrmex/security/secrets/SPEC.md
  src/codomyrmex/security/secrets/vault.py
  src/codomyrmex/static_analysis/exports.py
  src/codomyrmex/system_discovery/module_introspector.py
  src/codomyrmex/tests/RUNNING_TESTS.md
  src/codomyrmex/tests/conftest.py
  src/codomyrmex/tests/unit/agentic_memory/test_cognilayer_bridge.py
  src/codomyrmex/tests/unit/security/AGENTS.md
  src/codomyrmex/tests/unit/security/secrets/__init__.py
  src/codomyrmex/tests/unit/security/secrets_tests/AGENTS.md
  src/codomyrmex/tests/unit/security/secrets_tests/PAI.md
  src/codomyrmex/tests/unit/security/secrets_tests/README.md
  src/codomyrmex/tests/unit/security/secrets_tests/SPEC.md
  src/codomyrmex/tests/unit/security/secrets_tests/__init__.py
  src/codomyrmex/tests/unit/security/secrets_tests/py.typed
  src/codomyrmex/tests/unit/security/secrets_tests/test_secrets.py
  uv.lock
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

chore(git): drop tracked PR error JSON, ignore @output JSON
  .gitignore
  src/codomyrmex/git_operations/core/commands/tags.py
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260126_085342.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260126_085518.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260126_090733.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260126_090844.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260126_100200.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260126_100341.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260126_100937.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260126_103617.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260126_103758.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260126_104643.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260126_104823.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260126_110045.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260126_110226.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260126_111956.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260126_112136.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260126_114120.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260126_114259.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260126_153138.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260126_153318.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260127_065954.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260127_070144.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260127_070644.json
  src/codomyrmex/tests/unit/git_operations/@output/01_github_ops_test_results/pr_errors_20260127_070933.json
  src/codomyrmex/tests/unit/git_operations/unit/test_git_manager.py
Due: py-compile

Reduce sensitive logging in audit path and example scripts
  projects/test_project/src/security_audit.py
  scripts/agents/hermes/verify_hermes_gateway_post_update.py
  scripts/auth/auth_utils.py
  scripts/cloud/infomaniak/compute_examples.py
  scripts/cloud/infomaniak/identity_examples.py
Due: py-compile

Harden example scripts against log-sensitive heuristics
  scripts/cloud/infomaniak/setup_env.py
  scripts/defense/demo_orchestrator.py
  scripts/email/orchestrator.py
  scripts/llm/cost_tracking/openrouter_free_example.py
  scripts/llm/embeddings/openrouter_free_example.py
Due: py-compile

Path conditions:
  py-compile: any of: \.py$
  validate-dependencies: any of: ^pyproject\.toml$
  validate-doc-links: any of: \.md$
  check-placeholders: any of: \.md$
  validate-agents-structure: any of: AGENTS\.md$
