Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Codomyrmex
# Install: uv sync (pre-commit is included in dev dependencies)
# Setup: pre-commit install
# Run: pre-commit run --all-files

repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.10
        args: [--line-length=88]

  # Python import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=88]

  # Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=88, --extend-ignore=E203, W503]
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports]

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: [--recursive, --configfile=pyproject.toml, src/codomyrmex/]

  # Python syntax checking
  - repo: local
    hooks:
      - id: py-compile
        name: py-compile
        entry: python -m py_compile
        language: system
        files: \.py$

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [yaml]
        exclude: ^.*\.github/.*$

  # JSON formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [json]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--disable=MD013, MD033, MD041]

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files

  # Dependency validation
  - repo: local
    hooks:
      - id: validate-dependencies
        name: Validate Dependencies
        entry: python3 scripts/validation/validate_dependencies.py
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false
        always_run: false

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck

  # Documentation validation
  - repo: local
    hooks:
      - id: validate-doc-links
        name: Validate Documentation Links
        entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
        language: system
        files: \.md$
        pass_filenames: false
        always_run: false

      - id: check-placeholders
        name: Check for Placeholder Content
        entry: python3 -c "import sys, re; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
        language: system
        files: \.md$

      - id: validate-agents-structure
        name: Validate AGENTS.md Structure
        entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
        language: system
        files: AGENTS\.md$
        pass_filenames: false
        always_run: false

docs: Restructure TO-DO.md — condense past releases, expand upcoming
  TO-DO.md
Due: validate-doc-links, check-placeholders

docs: Massively expand v0.1.8/v0.1.9 roadmap — MCP robustness & verification
  TO-DO.md
Due: validate-doc-links, check-placeholders

feat(mcp): Stream 1 — schema validation & structured error envelope
  src/codomyrmex/agents/pai/mcp_bridge.py
  src/codomyrmex/model_context_protocol/__init__.py
  src/codomyrmex/model_context_protocol/errors.py
  src/codomyrmex/model_context_protocol/server.py
  src/codomyrmex/model_context_protocol/validation.py
  src/codomyrmex/tests/unit/mcp/test_mcp_bridge_errors.py
  src/codomyrmex/tests/unit/mcp/test_mcp_error_envelope.py
  src/codomyrmex/tests/unit/mcp/test_mcp_validation.py
Due: py-compile

feat(mcp): Stream 2 — transport robustness: retry, health check, circuit breaker, rate limiter
  src/codomyrmex/model_context_protocol/__init__.py
  src/codomyrmex/model_context_protocol/circuit_breaker.py
  src/codomyrmex/model_context_protocol/client.py
  src/codomyrmex/model_context_protocol/rate_limiter.py
  src/codomyrmex/model_context_protocol/server.py
  src/codomyrmex/tests/unit/mcp/test_circuit_breaker.py
  src/codomyrmex/tests/unit/mcp/test_mcp_http_and_errors.py
  src/codomyrmex/tests/unit/mcp/test_rate_limiter.py
  src/codomyrmex/tests/unit/mcp/test_transport_robustness.py
Due: py-compile

docs: mark Streams 1-2 complete, improve Streams 3-7 spec with post-implementation context
  TO-DO.md
Due: validate-doc-links, check-placeholders

feat(mcp): Stream 3 — MCP Discovery Hardening
  src/codomyrmex/agents/pai/mcp_bridge.py
  src/codomyrmex/model_context_protocol/__init__.py
  src/codomyrmex/model_context_protocol/discovery.py
  src/codomyrmex/model_context_protocol/discovery/__init__.py
  src/codomyrmex/model_context_protocol/server.py
  src/codomyrmex/tests/unit/mcp/test_mcp_discovery_cache.py
  src/codomyrmex/tests/unit/mcp/test_mcp_discovery_engine.py
  src/codomyrmex/tests/unit/mcp/test_mcp_discovery_metrics.py
Due: py-compile

docs: mark Stream 3 MCP Discovery Hardening as complete in TO-DO.md
  TO-DO.md
Due: validate-doc-links, check-placeholders

feat(mcp): Stream 4 — MCP Stress & Concurrency Tests
  src/codomyrmex/model_context_protocol/validation.py
  src/codomyrmex/tests/unit/mcp/test_mcp_concurrent_tools.py
  src/codomyrmex/tests/unit/mcp/test_mcp_stress.py
  src/codomyrmex/tests/unit/mcp/test_mcp_tool_isolation.py
  src/codomyrmex/tests/unit/mcp/test_mcp_transport_stress.py
Due: py-compile

docs: mark Stream 4 complete, improve Streams 5-7 specs with post-Stream-4 context
  TO-DO.md
Due: validate-doc-links, check-placeholders

feat(orchestrator): Stream 5 — Orchestrator v2 async-first
  src/codomyrmex/events/core/event_schema.py
  src/codomyrmex/orchestrator/__init__.py
  src/codomyrmex/orchestrator/async_runner.py
  src/codomyrmex/orchestrator/async_scheduler.py
  src/codomyrmex/orchestrator/retry_policy.py
  src/codomyrmex/tests/unit/orchestrator/test_async_runner.py
  src/codomyrmex/tests/unit/orchestrator/test_scheduler_async.py
Due: py-compile

docs: mark Stream 5 complete, improve Streams 6-7 specs with post-Stream-5 context
  TO-DO.md
Due: validate-doc-links, check-placeholders

feat(observability): Stream 6 — Observability Pipeline
  src/codomyrmex/logging_monitoring/core/logger_config.py
  src/codomyrmex/logging_monitoring/event_bridge.py
  src/codomyrmex/logging_monitoring/ws_handler.py
  src/codomyrmex/model_context_protocol/observability.py
  src/codomyrmex/tests/unit/mcp/test_event_bridge.py
  src/codomyrmex/tests/unit/mcp/test_mcp_observability.py
  src/codomyrmex/tests/unit/mcp/test_ws_handler.py
Due: py-compile

docs: mark Stream 6 complete, improve Stream 7 spec with post-Stream-6 context
  TO-DO.md
Due: validate-doc-links, check-placeholders

feat(performance): Stream 7 — Performance Baselines
  scripts/benchmark_startup.py
  src/codomyrmex/tests/performance/__init__.py
  src/codomyrmex/tests/performance/test_lazy_imports.py
  src/codomyrmex/tests/performance/test_mcp_performance.py
Due: py-compile

feat(pai): harden PAI bridge with tool versioning, capability normalization, and workflow listing
  src/codomyrmex/agents/pai/mcp_bridge.py
  src/codomyrmex/agents/pai/trust_gateway.py
  src/codomyrmex/model_context_protocol/discovery/__init__.py
  src/codomyrmex/model_context_protocol/validation.py
  src/codomyrmex/tests/unit/agents/pai/test_pai_bridge_hardening.py
Due: py-compile

feat(pai): harden trust gateway with audit logs, hooks, and confirmation
  src/codomyrmex/agents/pai/trust_gateway.py
  src/codomyrmex/tests/unit/agents/pai/test_pai_bridge_hardening.py
  src/codomyrmex/tests/unit/agents/pai/test_trust_gateway_hardening.py
Due: py-compile

feat: implement simulation and networks modules (stream 3)
  src/codomyrmex/networks/graph.py
  src/codomyrmex/simulation/agent.py
  src/codomyrmex/simulation/simulator.py
  src/codomyrmex/tests/unit/networks/test_network.py
  src/codomyrmex/tests/unit/simulation/test_simulator.py
Due: py-compile

feat: finalize v0.1.9 stream 4 - docs, refactor, mcp exposure
  README.md
  SPEC.md
  src/codomyrmex/agents/pai/mcp_bridge.py
  src/codomyrmex/networks/graph.py
  src/codomyrmex/simulation/simulator.py
  src/codomyrmex/tests/unit/integration/test_mcp_integration.py
Due: py-compile, validate-doc-links, check-placeholders

feat: v0.1.9 ship + v0.2.0 streams (taxonomy, correlation, TO-DO condensed)
  CHANGELOG.md
  TO-DO.md
  pyproject.toml
  src/codomyrmex/__init__.py
  src/codomyrmex/agentic_memory/stores.py
  src/codomyrmex/agents/orchestrator.py
  src/codomyrmex/cli/core.py
  src/codomyrmex/cli/doctor.py
  src/codomyrmex/concurrency/__init__.py
  src/codomyrmex/concurrency/dead_letter.py
  src/codomyrmex/concurrency/pool.py
  src/codomyrmex/defense/active.py
  src/codomyrmex/git_operations/core/repository_metadata.json
  src/codomyrmex/logging_monitoring/__init__.py
  src/codomyrmex/logging_monitoring/correlation.py
  src/codomyrmex/model_context_protocol/__init__.py
  src/codomyrmex/model_context_protocol/taxonomy.py
  src/codomyrmex/tests/integration/workflows/__init__.py
  src/codomyrmex/tests/integration/workflows/conftest.py
  src/codomyrmex/tests/integration/workflows/test_cli_doctor.py
  src/codomyrmex/tests/integration/workflows/test_infinite_conversation.py
  src/codomyrmex/tests/integration/workflows/test_workflow_analyze.py
  src/codomyrmex/tests/integration/workflows/test_workflow_concurrent.py
  src/codomyrmex/tests/integration/workflows/test_workflow_docs.py
  src/codomyrmex/tests/integration/workflows/test_workflow_memory.py
  src/codomyrmex/tests/integration/workflows/test_workflow_roundtrip.py
  src/codomyrmex/tests/integration/workflows/test_workflow_search.py
  src/codomyrmex/tests/integration/workflows/test_workflow_status.py
  src/codomyrmex/tests/integration/workflows/test_workflow_trust.py
  src/codomyrmex/tests/integration/workflows/test_workflow_verify.py
  src/codomyrmex/tests/unit/defense/test_honeytoken_activation.py
  src/codomyrmex/tests/unit/logging/test_correlation.py
  src/codomyrmex/tests/unit/mcp/test_mcp_taxonomy.py
  uv.lock
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders

feat: triple-confirm infinite conversation (12/12 real-LLM tests)
  src/codomyrmex/agents/orchestrator.py
  src/codomyrmex/tests/integration/workflows/test_infinite_conversation.py
Due: py-compile

feat: file-injected infinite dev conversations (18/18 tests)
  src/codomyrmex/agents/orchestrator.py
  src/codomyrmex/tests/integration/workflows/test_infinite_conversation.py
Due: py-compile

docs: deeply improved TO-DO specification grounded in codebase reality
  TO-DO.md
Due: validate-doc-links, check-placeholders

docs: deeply intelligent TO-DO — module tiers, failure taxonomy, sprint-ordered
  TO-DO.md
Due: validate-doc-links, check-placeholders

update
  src/codomyrmex/agents/pai/trust_gateway.py
  src/codomyrmex/git_operations/core/repository_metadata.json
  src/codomyrmex/model_context_protocol/errors.py
  src/codomyrmex/tests/unit/agents/test_mcp_bridge.py
  src/codomyrmex/tests/unit/agents/test_trust_gateway.py
Due: py-compile

feat(cli): complete infinite chat orchestrator and architecture telemetry
  CHANGELOG.md
  TO-DO.md
  docs/ARCHITECTURE.md
  scripts/generate_architecture_diagram.py
  src/codomyrmex/agents/orchestrator.py
  src/codomyrmex/cli/core.py
  src/codomyrmex/cli/handlers/__init__.py
  src/codomyrmex/cli/handlers/chat.py
Due: py-compile, validate-doc-links, check-placeholders

feat(sprint6): implement real backends for pattern_matching, model_evaluation, meme — restore 11 skipped tests
  TO-DO.md
  src/codomyrmex/coding/pattern_matching/run_codomyrmex_analysis.py
  src/codomyrmex/meme/narrative/engine.py
  src/codomyrmex/model_ops/evaluation/quality.py
  src/codomyrmex/tests/unit/meme/test_structure.py
  src/codomyrmex/tests/unit/model_evaluation/test_model_evaluation.py
  src/codomyrmex/tests/unit/pattern_matching/test_pattern_matching.py
Due: py-compile, validate-doc-links, check-placeholders

fix(perf): export get_system_metrics in performance __init__ — doctor now 6/6
  TO-DO.md
  src/codomyrmex/performance/__init__.py
Due: py-compile, validate-doc-links, check-placeholders

docs(roadmap): deeply scope v0.2.1–v0.5.0 — 16 sprints, 60 files, 600 tests, LOC targets, acceptance gates
  TO-DO.md
Due: validate-doc-links, check-placeholders

test(sprint7): add 105 coverage tests — events, system_discovery, orchestrator
  src/codomyrmex/@output/01_github_ops_test_results/pr_errors_20260220_083734.json
  src/codomyrmex/git_analysis/git_report_git_tree.mmd
  src/codomyrmex/git_analysis/git_report_git_tree.png
  src/codomyrmex/git_analysis/git_report_summary_dashboard.png
  src/codomyrmex/git_operations/core/repository_metadata.json
  src/codomyrmex/rollback_plans/plan_deploy_123_1771605359.json
  src/codomyrmex/rollback_plans/plan_deploy_1_1771605359.json
  src/codomyrmex/rollback_plans/plan_deploy_2_1771605359.json
  src/codomyrmex/rollback_plans/plan_deploy_blue_green_1771605359.json
  src/codomyrmex/rollback_plans/plan_deploy_canary_1771605359.json
  src/codomyrmex/rollback_plans/plan_deploy_immediate_1771605359.json
  src/codomyrmex/rollback_plans/plan_deploy_manual_1771605359.json
  src/codomyrmex/rollback_plans/plan_deploy_rolling_1771605359.json
  src/codomyrmex/tests/unit/events/test_events.py
  src/codomyrmex/tests/unit/orchestrator/test_orchestrator_coverage.py
  src/codomyrmex/tests/unit/system_discovery/test_system_discovery.py
Due: py-compile

test(sprint7): add 32 tier-1 module tests — cerebrum, fpf, containerization, git_operations
  src/codomyrmex/tests/unit/coverage_push/test_tier1_modules.py
Due: py-compile

fix(tests): replace deprecated asyncio.get_event_loop() with asyncio.run()
  src/codomyrmex/tests/unit/events/test_events.py
  src/codomyrmex/tests/unit/orchestrator/test_orchestrator_coverage.py
Due: py-compile

test(sprint7): add 56 tier-2 module tests — data_visualization, documentation, coding, agents
  src/codomyrmex/tests/unit/coverage_push/test_tier2_modules.py
Due: py-compile

docs: update TO-DO.md — Sprint 7 complete (193 tests across 11 modules)
  TO-DO.md
Due: validate-doc-links, check-placeholders

ci(sprint7): add coverage floor (fail_under=35) and badges to README
  README.md
  pyproject.toml
Due: validate-dependencies, validate-doc-links, check-placeholders

type(sprint8): mypy --strict 0 errors on logging_monitoring (12→0)
  src/codomyrmex/logging_monitoring/__init__.py
  src/codomyrmex/logging_monitoring/core/__init__.py
  src/codomyrmex/logging_monitoring/core/logger_config.py
  src/codomyrmex/logging_monitoring/correlation.py
Due: py-compile

type(sprint8): mypy backbone — gradual strictness config + Makefile target
  Makefile
  pyproject.toml
  src/codomyrmex/model_context_protocol/__init__.py
Due: py-compile, validate-dependencies

type(sprint8): MCP mypy errors 124→56 (55% reduction)
  pyproject.toml
  src/codomyrmex/model_context_protocol/circuit_breaker.py
  src/codomyrmex/model_context_protocol/client.py
  src/codomyrmex/model_context_protocol/decorators.py
  src/codomyrmex/model_context_protocol/discovery/__init__.py
  src/codomyrmex/model_context_protocol/main.py
  src/codomyrmex/model_context_protocol/rate_limiter.py
  src/codomyrmex/model_context_protocol/schemas/mcp_schemas.py
  src/codomyrmex/model_context_protocol/testing.py
  src/codomyrmex/model_context_protocol/tools.py
  src/codomyrmex/model_context_protocol/validation.py
  src/codomyrmex/model_context_protocol/validators/__init__.py
Due: py-compile, validate-dependencies
