Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Codomyrmex
# Install: uv sync (pre-commit is included in dev dependencies)
# Setup: pre-commit install
# Run: pre-commit run --all-files

repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3.10
        args: [--line-length=88]

  # Python linting and import sorting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports]

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: [--recursive, --configfile=pyproject.toml, src/codomyrmex/]

  # Python syntax checking
  - repo: local
    hooks:
      - id: py-compile
        name: py-compile
        entry: python -m py_compile
        language: system
        files: \.py$

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [yaml]
        exclude: ^.*\.github/.*$

  # JSON formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [json]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: [--disable=MD013, MD033, MD041]

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files

  # Dependency validation
  - repo: local
    hooks:
      - id: validate-dependencies
        name: Validate Dependencies
        entry: python3 scripts/validation/validate_dependencies.py
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false
        always_run: false

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  # Documentation validation
  - repo: local
    hooks:
      - id: validate-doc-links
        name: Validate Documentation Links
        entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
        language: system
        files: \.md$
        pass_filenames: false
        always_run: false

      - id: check-placeholders
        name: Check for Placeholder Content
        entry: python3 -c "import sys; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD', 'HACK', 'STUB']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
        language: system
        files: \.md$

      - id: validate-agents-structure
        name: Validate AGENTS.md Structure
        entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
        language: system
        files: AGENTS\.md$
        pass_filenames: false
        always_run: false

⚡ Bolt: [performance improvement] O(1) InMemoryCache Eviction (#488)
  .jules/bolt.md
  src/codomyrmex/cache/backends/in_memory.py
Due: py-compile, validate-doc-links, check-placeholders

perf: ⚡ Bolt: precompile regex in safety scanner (#379)
  src/codomyrmex/llm/safety.py
Due: py-compile

perf: ⚡ Bolt: [performance improvement] Extract inline dictionary for type mapping (#432)
  src/codomyrmex/events/core/event_schema.py
  src/codomyrmex/events/emitters/event_emitter.py
Due: py-compile

⚡ Bolt: [performance improvement] Hoist inline dictionaries to module-level constants (#444)
  src/codomyrmex/audio/speech_to_text/providers/__init__.py
  src/codomyrmex/audio/text_to_speech/providers/__init__.py
  src/codomyrmex/documents/utils/mime_type_detector.py
  src/codomyrmex/operating_system/detector.py
  src/codomyrmex/static_analysis/imports.py
Due: py-compile

perf: ⚡ Bolt: Eliminate N+1 query in HistoryStore (#365)
  src/codomyrmex/agents/history/stores.py
Due: py-compile

refactor: 🧹 remove unused SUPPORTED_FORMATS import in frame_extractor.py (#367)
  src/codomyrmex/video/extraction/frame_extractor.py
  tests/unit/video/test_video.py
  tests/unit/video/test_video_core.py
Due: py-compile

fix: 🎨 palette: add explicit label associations in dispatch.html (#322)
  src/codomyrmex/website/templates/dispatch.html
Due: none

test: 🧪 add test for has_template in template_manager (#354)
  tests/unit/templating/test_templating.py
Due: py-compile

test: 🧪 Add unit tests for get_default_engine in templating module (#362)
  tests/unit/templating/test_init.py
Due: py-compile

test: 🧪 Add missing test for has_mcp_contract_gap (#335)
  tests/unit/system_discovery/test_module_catalog.py
Due: py-compile

test: add tests for analyze_capability_relationships (#340)
  tests/unit/system_discovery/test_capability_scanner.py
Due: py-compile

test: 🧪 add test for docs_module_missing in module catalog (#345)
  tests/unit/system_discovery/test_module_catalog.py
Due: py-compile

test: 🧪 add test for has_required_docs in module_catalog (#346)
  tests/unit/system_discovery/test_module_catalog.py
Due: py-compile

fix(db): resolve SQL injection vulnerability in get_table_info (#247)
  src/codomyrmex/database_management/db_manager.py
Due: py-compile

deploy: cce58ab377d276ea51abcf9b70c3642ea99d5aa4
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

pr #217: feat: add aria-labels to icon-only buttons in PAI PM SPA
  src/codomyrmex/pai_pm/server/spa/index.html
Due: none

pr #149: Add ARIA role="alert" to dynamic Ollama warning banners in chat.html
  src/codomyrmex/website/templates/chat.html
Due: none

pr #250: perf: optimize html report string concatenation
  projects/test_project/src/reporter.py
Due: py-compile

pr #229: perf: optimize string concatenation in markdown report generation
  projects/test_project/src/reporter.py
Due: py-compile

pr #169: chore(deps-dev): update vulture requirement from >=2.7.0 to >=2.16
  pyproject.toml
  uv.lock
Due: validate-dependencies

pr #170: chore(deps-dev): update dynaconf requirement from >=3.1.0 to >=3.2.13
  pyproject.toml
  uv.lock
Due: validate-dependencies

pr #171: chore(deps): update bandit requirement from >=1.8.0 to >=1.9.4
  pyproject.toml
  uv.lock
Due: validate-dependencies

pr #172: chore(deps-dev): update opencv-python requirement
  pyproject.toml
  uv.lock
Due: validate-dependencies

pr #364: test: 🧪 add test for remove_template in template_manager
  tests/unit/templating/test_templating.py
Due: py-compile

pr #347: test: 🧪 Add tests for export_capabilities_report
  tests/unit/system_discovery/test_capability_scanner.py
Due: py-compile

pr #470: ⚡ Bolt: Optimize TTLPolicy eviction to O(1)
  src/codomyrmex/cache/policies/__init__.py
Due: py-compile

pr #287: test: add unit tests for src.__init__
  tests/unit/test_src_init.py
Due: py-compile

pr #286: test: add unit tests for cache cli_commands
  tests/unit/cache/test_cache.py
Due: py-compile

pr #221: fix: Replace eval() with AST-based safe evaluation to prevent RCE
  src/codomyrmex/orchestrator/mcp_tools.py
Due: py-compile

pr #283: test: add cache_stats metrics test and fix in-memory stats backend recording
  src/codomyrmex/cache/backends/in_memory.py
  tests/unit/cache/test_cache_mcp_tools.py
Due: py-compile

pr #483: ⚡ Bolt: Use time.monotonic() for cache eviction
  src/codomyrmex/cache/invalidation/__init__.py
  src/codomyrmex/cache/policies/SPEC.md
  src/codomyrmex/cache/policies/__init__.py
  tests/unit/cache/invalidation/test_invalidation.py
  tests/unit/cache/test_cache_policies.py
Due: py-compile, validate-doc-links, check-placeholders

pr #219: perf: optimize hash integer conversion from hexdigest
  src/codomyrmex/data_curation/minhash.py
  src/codomyrmex/feature_flags/experiments.py
  src/codomyrmex/utils/hashing.py
Due: py-compile

pr #160: perf: optimize scale-free graph generation
  src/codomyrmex/meme/rhizome/network.py
Due: py-compile

pr #278: test: add coverage for scrape_extract_content image_count, meta and error handling
  tests/unit/scrape/test_scrape_core.py
Due: py-compile

pr #307: fix: mitigate RCE vulnerability in Z3 solver backend via safe AST parsing
  src/codomyrmex/formal_verification/backends/z3_backend.py
  src/codomyrmex/tests/unit/formal_verification/test_z3_backend.py
Due: py-compile

pr #326: fix: Fix arbitrary code execution in workflow script evaluation
  src/codomyrmex/testing/workflow/executors.py
Due: py-compile

pr #449: ⚡ Bolt: Hoist dictionary allocation in create_policy to module level
  src/codomyrmex/cache/policies/__init__.py
Due: py-compile

pr #323: fix: mitigate yaml.load() SAST warning with safeLoad wrapper
  src/codomyrmex/agents/pai/pm/routes/dispatch.ts
Due: none

pr #485: ⚡ Bolt: O(1) LRU Cache Eviction Optimization
  src/codomyrmex/model_ops/optimization/cache.py
Due: py-compile
