Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Codomyrmex
# Install: uv sync (pre-commit is included in dev dependencies)
# Setup: pre-commit install
# Run: pre-commit run --all-files

repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3.10
        args: [--line-length=88]

  # Python linting and import sorting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports]

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: [--recursive, --configfile=pyproject.toml, src/codomyrmex/]

  # Python syntax checking
  - repo: local
    hooks:
      - id: py-compile
        name: py-compile
        entry: python -m py_compile
        language: system
        files: \.py$

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [yaml]
        exclude: ^.*\.github/.*$

  # JSON formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [json]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: [--disable=MD013, MD033, MD041]

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files

  # Dependency validation
  - repo: local
    hooks:
      - id: validate-dependencies
        name: Validate Dependencies
        entry: python3 scripts/validation/validate_dependencies.py
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false
        always_run: false

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  # Documentation validation
  - repo: local
    hooks:
      - id: validate-doc-links
        name: Validate Documentation Links
        entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
        language: system
        files: \.md$
        pass_filenames: false
        always_run: false

      - id: check-placeholders
        name: Check for Placeholder Content
        entry: python3 -c "import sys; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD', 'HACK', 'STUB']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
        language: system
        files: \.md$

      - id: validate-agents-structure
        name: Validate AGENTS.md Structure
        entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
        language: system
        files: AGENTS\.md$
        pass_filenames: false
        always_run: false

fix(ci_cd_automation): accept config mappings and expose validate_pipeline_config
  src/codomyrmex/ci_cd_automation/__init__.py
  src/codomyrmex/ci_cd_automation/pipeline/__init__.py
  src/codomyrmex/ci_cd_automation/pipeline/_validation.py
  src/codomyrmex/ci_cd_automation/pipeline/functions.py
  src/codomyrmex/ci_cd_automation/pipeline/manager.py
  tests/integration/security/test_analysis_security_cicd.py
  tests/integration/test_cross_module_workflows.py
  tests/unit/ci_cd_automation/test_pipeline_manager.py
Due: py-compile

test: stop test packages from shadowing real modules
  tests/unit/email/__init__.py
  tests/unit/email/agentmail/__init__.py
  tests/unit/examples/__init__.py
  tests/unit/soul/__init__.py
  tests/unit/test_test_package_names.py
  tests/unit/tree_sitter/__init__.py
Due: py-compile

fix(tree_sitter): port the wrapper to the py-tree-sitter 0.25 API
  pyproject.toml
  scripts/tree_sitter/examples/basic_usage.py
  src/codomyrmex/tree_sitter/languages/languages.py
  src/codomyrmex/tree_sitter/parsers/parser.py
  tests/unit/tree_sitter/test_tree_sitter.py
  uv.lock
Due: py-compile, validate-dependencies

fix(scripts): import ScriptBase normally in example scripts
  scripts/collaboration/examples/basic_usage.py
  scripts/concurrency/examples/basic_usage.py
  scripts/deployment/examples/basic_usage.py
  scripts/evolutionary_ai/examples/basic_usage.py
  scripts/feature_flags/examples/basic_usage.py
  scripts/model_ops/examples/basic_usage.py
  scripts/telemetry/examples/basic_usage.py
Due: py-compile

feat(validation): provide the documented package-level validate/is_valid/get_errors
  src/codomyrmex/validation/__init__.py
  src/codomyrmex/validation/validator.py
  tests/unit/validation/test_package_api.py
Due: py-compile

test(documentation): keep aggregate_docs test out of the source tree
  src/codomyrmex/documentation/documentation_website.py
  tests/unit/documentation/test_documentation_website.py
Due: py-compile

deploy: 8ca8dcf4437d6e4ffbada3e7ab200d362dbd460c
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

test: make the test-package shadowing guard independent of sys.path
  tests/unit/test_test_package_names.py
Due: py-compile

fix(security): stop reporting placeholder compliance results
  src/codomyrmex/security/digital/compliance_checker.py
  tests/unit/security/test_digital_compliance_checker.py
Due: py-compile

build(ty): make unresolved-import an error with an explicit allowlist
  pyproject.toml
Due: validate-dependencies

fix: repair imports of modules that do not exist
  src/codomyrmex/agents/ai_code_editing/ai_code_helpers/config.py
  src/codomyrmex/agents/ai_code_editing/ai_code_helpers/utils.py
  src/codomyrmex/agents/cli/handlers.py
  src/codomyrmex/agents/core/react.py
  src/codomyrmex/agents/qwen/mcp_tools.py
  src/codomyrmex/cli/handlers/fpf.py
  src/codomyrmex/cli/handlers/orchestration.py
  src/codomyrmex/cli/handlers/system.py
  src/codomyrmex/cli/utils.py
  src/codomyrmex/data_visualization/git/_charts.py
  src/codomyrmex/documentation/education/__init__.py
  src/codomyrmex/examples/paperclip_mission_control.py
  src/codomyrmex/finance/ledger.py
  src/codomyrmex/git_operations/api/visualization.py
  src/codomyrmex/git_operations/cli/demo.py
  src/codomyrmex/logistics/task/queue.py
  src/codomyrmex/model_context_protocol/mcp_deprecation.py
  src/codomyrmex/security/digital/__init__.py
  tests/unit/agents/qwen/test_qwen.py
  tests/unit/documentation/test_education.py
  tests/unit/git_operations/test_git_operations_package_surface.py
  tests/unit/git_operations/test_visualization.py
Due: py-compile

fix(scripts,tests): import moved modules from their real locations
  scripts/agents/agent_comparison.py
  scripts/agents/ai_code_editing/run_ai_code_editing.py
  scripts/agents/claude/claude_code_demo.py
  scripts/agents/claude/claude_code_workflow.py
  scripts/agents/claude/claude_example.py
  scripts/agents/codex/codex_example.py
  scripts/agents/gemini/gemini_example.py
  scripts/audits/audit_rasp.py
  scripts/build_synthesis/examples/advanced_workflow.py
  scripts/build_synthesis/examples/basic_usage.py
  scripts/data_visualization/examples/advanced_workflow.py
  scripts/data_visualization/examples/basic_usage.py
  scripts/llm/embeddings/embeddings_demo.py
  scripts/metrics/examples/advanced_workflow.py
  scripts/metrics/examples/basic_usage.py
  scripts/model_context_protocol/mcp_discover.py
  scripts/model_context_protocol/mcp_full_test.py
  scripts/model_context_protocol/mcp_test.py
  scripts/orchestrator/workflows/analyze_and_report.py
  scripts/pattern_matching/examples/advanced_workflow.py
  scripts/pattern_matching/examples/basic_usage.py
  scripts/static_analysis/examples/basic_usage.py
  scripts/tools/examples/advanced_workflow.py
  scripts/tools/examples/basic_usage.py
  tests/performance/test_lazy_imports.py
  tests/unit/environment_setup/test_env_robustness.py
  tests/unit/model_context_protocol/test_mcp_server.py
  tests/unit/scripts/test_review_pipeline.py
  tests/unit/test_v1_1_12.py
Due: py-compile

style: apply pre-commit fixes and mark placeholder test credentials
  src/codomyrmex/data_visualization/git/_charts.py
  tests/unit/agents/qwen/test_qwen.py
  tests/unit/git_operations/test_visualization.py
  tests/unit/scripts/test_review_pipeline.py
Due: py-compile

style: keep detect-secrets pragmas on the flagged lines
  tests/unit/agents/qwen/test_qwen.py
  tests/unit/scripts/test_review_pipeline.py
Due: py-compile

fix(ai_code_editing): do not expect an API key for Ollama
  src/codomyrmex/agents/ai_code_editing/ai_code_helpers/utils.py
  tests/unit/agents/ai_code_editing/unit/test_provider_keys.py
Due: py-compile

docs(fpf): document ReportGenerator.generate_report, not generate_html_report
  docs/modules/fpf/API_SPECIFICATION.md
  src/codomyrmex/documentation/docs/modules/fpf/api_specification.md
  src/codomyrmex/fpf/API_SPECIFICATION.md
Due: validate-doc-links, check-placeholders

test: ignore plain directories in the shadowing guard
  tests/unit/test_test_package_names.py
Due: py-compile

feat(model_ops): submit real OpenAI fine-tuning jobs instead of fake IDs
  docs/modules/model_ops/API_SPECIFICATION.md
  scripts/model_ops/examples/basic_usage.py
  src/codomyrmex/documentation/docs/modules/model_ops/api_specification.md
  src/codomyrmex/model_ops/API_SPECIFICATION.md
  src/codomyrmex/model_ops/__init__.py
  src/codomyrmex/model_ops/fine_tuning/SPEC.md
  src/codomyrmex/model_ops/fine_tuning/fine_tuning.py
  tests/unit/model_ops/test_fine_tuning_job.py
  tests/unit/model_ops/test_model_ops.py
  tests/unit/model_ops/test_model_ops_core.py
Due: py-compile, validate-doc-links, check-placeholders

feat(containerization): execute WASM modules with wasmtime
  src/codomyrmex/containerization/wasm.py
  tests/unit/containerization/test_wasm.py
Due: py-compile

fix(meme): compute the oscillation spectrum with an FFT
  src/codomyrmex/meme/cultural_dynamics/SPEC.md
  src/codomyrmex/meme/cultural_dynamics/engine.py
  tests/unit/meme/test_cultural_dynamics.py
Due: py-compile, validate-doc-links, check-placeholders

fix(governance): chart real policy outcomes instead of a fixed 85/15
  src/codomyrmex/security/governance/SPEC.md
  src/codomyrmex/security/governance/policy.py
  src/codomyrmex/security/governance/visualization.py
  tests/unit/governance/test_policy_compliance.py
Due: py-compile, validate-doc-links, check-placeholders

fix: compute values that were hard-coded or silently skipped
  src/codomyrmex/documents/API_SPECIFICATION.md
  src/codomyrmex/documents/transformation/splitter.py
  src/codomyrmex/finance/SPEC.md
  src/codomyrmex/finance/forecasting/forecast.py
  src/codomyrmex/llm/multimodal/SPEC.md
  src/codomyrmex/llm/multimodal/processors.py
  tests/unit/documents/unit/transformation/test_split_by_pages.py
  tests/unit/finance/test_finance_comprehensive.py
  tests/unit/multimodal/test_image_resize.py
Due: py-compile, validate-doc-links, check-placeholders

fix(security): verify SBOM signatures with public keys
  src/codomyrmex/security/sbom.py
  tests/unit/security/test_sbom_extended.py
Due: py-compile

fix(events): deliver webhook notifications over HTTP
  src/codomyrmex/events/notification/SPEC.md
  src/codomyrmex/events/notification/providers.py
  tests/unit/notification/test_notification.py
Due: py-compile, validate-doc-links, check-placeholders

deploy: 88b0fb5986faca3ce6f89550af27de75524176d0
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

ci: bound the native prerequisite installs
  .github/workflows/ci-integration.yml
  .github/workflows/ci.yml
Due: none

deploy: 7e35c0c617c6c9b6632715c18202429c94797dfd
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

deploy: 630862d5ea74e02e496376c8222237a9b96d14e8
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

fix(mcp): scan for deprecated tools without importing the agents layer
  src/codomyrmex/model_context_protocol/mcp_deprecation.py
  tests/unit/model_context_protocol/test_mcp_deprecation.py
Due: py-compile

deploy: fe9b833c80686d4934e9edc313b4e82a871b4d63
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

deploy: c827781dc187a645981c4f54d281108e8fcbbdce
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

deploy: f60dea7567487452ddbdb5b8d00df5e1ec9e9a2b
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

docs(gate): import every codomyrmex name shown in Markdown code blocks
  Makefile
  docs/development/documentation.md
  justfile
  scripts/documentation/validate_code_references.py
  tests/unit/scripts/test_validate_code_references.py
Due: py-compile, validate-doc-links, check-placeholders

docs: changelog for the hardening pass, current counts, repository guards
  CHANGELOG.md
  CLAUDE.md
  docs/development/testing-strategy.md
Due: validate-doc-links, check-placeholders
