Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Codomyrmex
# Install: uv sync (pre-commit is included in dev dependencies)
# Setup: pre-commit install
# Run: pre-commit run --all-files

repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3.10
        args: [--line-length=88]

  # Python linting and import sorting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports]

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: [--recursive, --configfile=pyproject.toml, src/codomyrmex/]

  # Python syntax checking
  - repo: local
    hooks:
      - id: py-compile
        name: py-compile
        entry: python -m py_compile
        language: system
        files: \.py$

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [yaml]
        exclude: ^.*\.github/.*$

  # JSON formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [json]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: [--disable=MD013, MD033, MD041]

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files

  # Dependency validation
  - repo: local
    hooks:
      - id: validate-dependencies
        name: Validate Dependencies
        entry: python3 scripts/validation/validate_dependencies.py
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false
        always_run: false

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  # Documentation validation
  - repo: local
    hooks:
      - id: validate-doc-links
        name: Validate Documentation Links
        entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
        language: system
        files: \.md$
        pass_filenames: false
        always_run: false

      - id: check-placeholders
        name: Check for Placeholder Content
        entry: python3 -c "import sys; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD', 'HACK', 'STUB']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
        language: system
        files: \.md$

      - id: validate-agents-structure
        name: Validate AGENTS.md Structure
        entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
        language: system
        files: AGENTS\.md$
        pass_filenames: false
        always_run: false

fix(quality): resolve 13 review findings — docstrings, logger patterns, error consistency
  src/codomyrmex/api/openapi_generator.py
  src/codomyrmex/cerebrum/core/utils.py
  src/codomyrmex/data_visualization/engines/advanced_plotter.py
  src/codomyrmex/data_visualization/engines/plotter.py
  src/codomyrmex/events/core/event_schema.py
  src/codomyrmex/events/handlers/event_logger.py
  src/codomyrmex/git_operations/mcp_tools.py
Due: py-compile

fix(quality): resolve 5 blind review findings — stub, decorator dupe, logger imports, scattered @mcp_tool
  src/codomyrmex/data_visualization/charts/bar_chart.py
  src/codomyrmex/data_visualization/charts/line_plot.py
  src/codomyrmex/data_visualization/charts/pie_chart.py
  src/codomyrmex/llm/mcp_tools.py
  src/codomyrmex/logging_monitoring/core/logger_config.py
  src/codomyrmex/model_context_protocol/decorators.py
Due: py-compile

fix(git_ops): add timeout to all subprocess.run calls in git commands
  src/codomyrmex/git_operations/core/commands/AGENTS.md
  src/codomyrmex/git_operations/core/commands/README.md
  src/codomyrmex/git_operations/core/commands/SPEC.md
  src/codomyrmex/git_operations/core/commands/branching.py
  src/codomyrmex/git_operations/core/commands/commit.py
  src/codomyrmex/git_operations/core/commands/remote.py
  src/codomyrmex/git_operations/core/commands/status.py
  src/codomyrmex/git_operations/core/commands/sync.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

fix(agents): consolidate AgentRequest — remove duplicate in llm_client, re-export from core.base
  src/codomyrmex/agents/llm_client.py
Due: py-compile

fix(logging): export LogContext and log_with_context from top-level logging_monitoring
  src/codomyrmex/logging_monitoring/__init__.py
Due: py-compile

test(system_discovery): add 294 zero-mock tests — discovery_engine 94%, health_reporter 87%, status_reporter 91%
  src/codomyrmex/tests/unit/system_discovery/test_discovery_engine.py
  src/codomyrmex/tests/unit/system_discovery/test_health_reporter.py
  src/codomyrmex/tests/unit/system_discovery/test_status_reporter.py
Due: py-compile

fix(data_viz): add figure_size param to bar_chart, scatter_plot, histogram, pie_chart
  src/codomyrmex/data_visualization/charts/bar_chart.py
  src/codomyrmex/data_visualization/charts/histogram.py
  src/codomyrmex/data_visualization/charts/pie_chart.py
  src/codomyrmex/data_visualization/charts/scatter_plot.py
Due: py-compile

fix(test): update autograd MCP test to use _mcp_tool_meta (canonical attribute)
  src/codomyrmex/tests/unit/autograd/test_autograd.py
Due: py-compile

test(coverage): add zero-mock tests for 3 zero-coverage high-stmt modules
  src/codomyrmex/tests/unit/agents/cli/test_handlers.py
  src/codomyrmex/tests/unit/coding/review/__init__.py
  src/codomyrmex/tests/unit/coding/review/test_reviewer_dashboard.py
  src/codomyrmex/tests/unit/physical_management/test_object_manager.py
Due: py-compile

fix: move remaining test_video_models.py straggler to scripts/exploration/
  scripts/exploration/test_video_models.py
Due: py-compile

fix(quality): resolve 6 blind review findings
  .desloppify/query.json
  src/codomyrmex/data_visualization/charts/bar_chart.py
  src/codomyrmex/data_visualization/charts/histogram.py
  src/codomyrmex/data_visualization/charts/pie_chart.py
  src/codomyrmex/data_visualization/charts/scatter_plot.py
Due: py-compile

test(mcp): fix tool name assertion — decorator prefixes codomyrmex. namespace
  src/codomyrmex/tests/unit/model_context_protocol/test_discovery.py
Due: py-compile

test(coverage): add 177 zero-mock tests — coda_io models 96→100%, config_loader 88→93%
  src/codomyrmex/tests/integration/audio/test_speech_to_text.py
  src/codomyrmex/tests/integration/audio/test_text_to_speech.py
  src/codomyrmex/tests/integration/calendar_integration/test_mcp_tools.py
  src/codomyrmex/tests/unit/agents/core/test_base_agent.py
  src/codomyrmex/tests/unit/api/authentication/test_authentication.py
  src/codomyrmex/tests/unit/api/circuit_breaker/test_circuit_breaker.py
  src/codomyrmex/tests/unit/api/mocking/test_mocking.py
  src/codomyrmex/tests/unit/api/pagination/test_pagination.py
  src/codomyrmex/tests/unit/api/rate_limiting/test_rate_limiting.py
  src/codomyrmex/tests/unit/api/test_api_freeze.py
  src/codomyrmex/tests/unit/api/test_api_http_primitives.py
  src/codomyrmex/tests/unit/api/test_api_request_response.py
  src/codomyrmex/tests/unit/api/test_api_routing.py
  src/codomyrmex/tests/unit/api/test_api_schema.py
  src/codomyrmex/tests/unit/api/test_api_versioning.py
  src/codomyrmex/tests/unit/api/test_openapi.py
  src/codomyrmex/tests/unit/api/test_openapi_doc_generator.py
  src/codomyrmex/tests/unit/api/test_openapi_std_generator.py
  src/codomyrmex/tests/unit/api/webhooks/test_webhooks.py
  src/codomyrmex/tests/unit/api_documentation/test_api_documentation.py
  src/codomyrmex/tests/unit/api_standardization/test_api_standardization.py
  src/codomyrmex/tests/unit/cloud/test_coda_models.py
  src/codomyrmex/tests/unit/coding/review/test_reviewer_dashboard.py
  src/codomyrmex/tests/unit/config_management/test_config_loader.py
  src/codomyrmex/tests/unit/model_context_protocol/test_discovery.py
  src/codomyrmex/tests/unit/system_discovery/test_discovery_engine.py
  src/codomyrmex/tests/unit/system_discovery/test_health_reporter.py
  src/codomyrmex/tests/unit/system_discovery/test_status_reporter.py
Due: py-compile

fix(data_viz): use plt.switch_backend() instead of matplotlib.use() in to_html()
  src/codomyrmex/data_visualization/plots/_base.py
Due: py-compile

test(coverage): add 168 zero-mock tests for high-fan-in base classes
  src/codomyrmex/tests/unit/data_visualization/test_plots_base.py
  src/codomyrmex/tests/unit/exceptions/test_base.py
  src/codomyrmex/tests/unit/llm/test_provider_models.py
Due: py-compile

fix(subprocess): add timeout to 18 subprocess calls across 5 modules
  src/codomyrmex/agents/gemini/gemini_cli.py
  src/codomyrmex/documentation/documentation_website.py
  src/codomyrmex/git_operations/core/commands/config.py
  src/codomyrmex/git_operations/core/commands/history.py
  src/codomyrmex/git_operations/core/commands/repository.py
Due: py-compile

fix(tests): rename FakeGeminiClient to _StubGeminiClient to clarify zero-mock compliance
  src/codomyrmex/tests/unit/multimodal/test_image_generation.py
Due: py-compile

fix(utils): break subprocess→subprocess_advanced import cycle
  src/codomyrmex/utils/__init__.py
  src/codomyrmex/utils/process/__init__.py
  src/codomyrmex/utils/process/subprocess.py
Due: py-compile

fix(tests): fix subprocess test import after import cycle fix
  src/codomyrmex/tests/unit/utils/test_subprocess.py
Due: py-compile

fix(tests): replace private member coupling and vacuous assertions
  src/codomyrmex/tests/performance/test_module_performance.py
  src/codomyrmex/tests/unit/agents/test_mcp_bridge.py
Due: py-compile

docs: reconcile version drift, module counts, coverage targets across 16 files
  .gitignore
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  INDEX.md
  PAI.md
  SKILL.md
  TODO.md
  package.json
  skill.json
  src/AGENTS.md
  src/INDEX.md
  src/PAI.md
  src/README.md
  src/SPEC.md
  src/__init__.py
  src/codomyrmex/tests/unit/test_generated_math_functions.py
  tool
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

chore: automated tech debt cleanup
  docs/project/codebase_audit.md
  src/codomyrmex/audio/mcp_tools.py
  src/codomyrmex/tests/unit/audio/test_mcp_tools.py
  src/codomyrmex/tests/unit/examples/test_fastapi_endpoint_example.py
Due: py-compile, validate-doc-links, check-placeholders

docs: rewrite README.md for v1.1.0 GitHub presence
  README.md
Due: validate-doc-links, check-placeholders

chore: GitHub discoverability improvements
  .github/FUNDING.yml
  .github/social-preview.png
  CHANGELOG.md
  CITATION.cff
  fail_test.py
  uv.lock
Due: py-compile, validate-doc-links, check-placeholders

update
  TODO.md
  docs/bio/AGENTS.md
  docs/bio/PAI.md
  docs/bio/README.md
  docs/bio/SPEC.md
  docs/bio/eusociality.md
  docs/bio/evolution.md
  docs/bio/free_energy.md
  docs/bio/immune_system.md
  docs/bio/memory_and_forgetting.md
  docs/bio/metabolism.md
  docs/bio/myrmecology.md
  docs/bio/stigmergy.md
  docs/bio/superorganism.md
  docs/bio/swarm_intelligence.md
  docs/bio/symbiosis.md
  docs/getting-started/GETTING_STARTED_WITH_AGENTS.md
  pyproject.toml
  src/codomyrmex/tests/unit/agentic_memory/test_rule_loader_property.py
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

fix: register skills/upstream submodule and update gitnexus pointer
  .gitmodules
Due: none
