Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Codomyrmex
# Install: uv sync (pre-commit is included in dev dependencies)
# Setup: pre-commit install
# Run: pre-commit run --all-files

repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3.10
        args: [--line-length=88]

  # Python linting and import sorting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports]

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: [--recursive, --configfile=pyproject.toml, src/codomyrmex/]

  # Python syntax checking
  - repo: local
    hooks:
      - id: py-compile
        name: py-compile
        entry: python -m py_compile
        language: system
        files: \.py$

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [yaml]
        exclude: ^.*\.github/.*$

  # JSON formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [json]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: [--disable=MD013, MD033, MD041]

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files

  # Dependency validation
  - repo: local
    hooks:
      - id: validate-dependencies
        name: Validate Dependencies
        entry: python3 scripts/validation/validate_dependencies.py
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false
        always_run: false

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  # Documentation validation
  - repo: local
    hooks:
      - id: validate-doc-links
        name: Validate Documentation Links
        entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
        language: system
        files: \.md$
        pass_filenames: false
        always_run: false

      - id: check-placeholders
        name: Check for Placeholder Content
        entry: python3 -c "import sys; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD', 'HACK', 'STUB']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
        language: system
        files: \.md$

      - id: validate-agents-structure
        name: Validate AGENTS.md Structure
        entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
        language: system
        files: AGENTS\.md$
        pass_filenames: false
        always_run: false

deploy: 846819e855edb6195efc1e3be6abbd545e62db9c
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

fix(pai): harden PAI skill discovery, env defaults, and Docker shim detection
  .github/README.md
  README.md
  docs/reference/inventory.md
  src/codomyrmex/agents/pai/_modules.py
  src/codomyrmex/agents/pai/_systems.py
  src/codomyrmex/coding/sandbox/container.py
  tests/conftest.py
  tests/unit/agents/test_pai_bridge.py
  tests/unit/colony_kernel/test_manuscript_consistency.py
Due: py-compile, validate-doc-links, check-placeholders

docs: clarify Zero-Mock policy — narrow monkeypatch permitted for input isolation
  .github/CONTRIBUTING.md
Due: validate-doc-links, check-placeholders

docs: update AGENTS.md Zero-Mock reference from issue to CONTRIBUTING.md
  AGENTS.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

deploy: 0e8878318bc85f5495c7cfd11a5cafd8f1d8749a
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

docs: update CHANGELOG and doc count for PAI hardening changes
  CHANGELOG.md
  docs/AGENTS.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

deploy: 88f3a5f0c9f762edd9605d16bf1f10f6c9ab6b08
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

deploy: 06535755ff1eb9ca1828999b4b71c29a1dcf3326
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

fix(security): P0 — MCP trust gateway enforcement and module allowlist
  src/codomyrmex/agents/pai/mcp/proxy_tools.py
  src/codomyrmex/agents/pai/mcp/server.py
Due: py-compile

docs: add Mahakala security audit report with threat model and remediation priorities
  SECURITY_AUDIT_REPORT.md
Due: validate-doc-links, check-placeholders

deploy: 34654798d84d03fe9844dc6a0381a80bfe77b146
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

fix(security): P1 — auto-merge check logic, trust ledger signing, assumption register
  .github/workflows/auto-merge.yml
  ASSUMPTION_REGISTER.md
  src/codomyrmex/agents/pai/trust_gateway.py
Due: py-compile, validate-doc-links, check-placeholders

deploy: 6364a0c89b210e8293479f9d23ed9194ce74638f
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

fix(crypto): Keccak-256 for Ethereum addresses, pycryptodome opt dep, branch coverage, docs nuance
  README.md
  pyproject.toml
  src/codomyrmex/crypto/currency/addresses.py
  src/codomyrmex/crypto/currency/tokens.py
  src/codomyrmex/crypto/currency/wallet.py
  uv.lock
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders

fix: Docker seccomp profile, shell=True variable quoting, ruff exclusions
  SECURITY_AUDIT_REPORT.md
  pyproject.toml
  src/codomyrmex/ci_cd_automation/pipeline/_execution.py
  src/codomyrmex/coding/sandbox/resource_limits.py
  src/codomyrmex/coding/sandbox/seccomp_profile.json
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders

deploy: 1fe6e6acca80610311174473816b431a76e3cf6d
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

deploy: 1356691fea4cb2d6ef5ed0fa656e82460106e4a2
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

docs: harden v1.3.0 manuscript release
  .github/CONTRIBUTING.md
  README.md
  TODO.md
  docs/AGENTS.md
  docs/manuscript/02_methodology.md
  docs/manuscript/02_theory.md
  docs/manuscript/03_results.md
  docs/manuscript/06_reproducibility.md
  docs/manuscript/09_research_roadmap.md
  docs/manuscript/10_formalism_code_crosswalk.md
  docs/manuscript/11_supplemental_notation.md
  docs/manuscript/90_appendix_design_rationale.md
  docs/manuscript/AGENTS.md
  docs/manuscript/README.md
  docs/manuscript/SYNTAX.md
  docs/manuscript/claim_ledger.yaml
  docs/manuscript/config.yaml
  docs/plans/manuscript-red-team-review-2026-08-01.md
  docs/reference/inventory.md
  output/paper.html
  scripts/compile_manuscript.py
  scripts/validate_manuscript_integrity.py
  src/codomyrmex/colony_kernel/research/benchmark.py
  src/codomyrmex/colony_kernel/research/metrics.py
  src/codomyrmex/manuscript/figures/gate_heatmap.py
  src/codomyrmex/manuscript/figures/orchestrator.py
  src/codomyrmex/manuscript/figures/pheromone_decay.py
  src/codomyrmex/manuscript/figures/safety_utility_frontier.py
  src/codomyrmex/manuscript/variables.py
  src/codomyrmex/release/CHANGELOG.md
  src/codomyrmex/release/README.md
  src/codomyrmex/release/SPEC.md
  src/codomyrmex/release/__main__.py
  src/codomyrmex/release/publication.py
  tests/unit/colony_kernel/test_manuscript_consistency.py
  tests/unit/colony_kernel/test_research_harness.py
  tests/unit/manuscript/test_integrity.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

fix(docs): prevent manuscript cover overflow
  docs/manuscript/manuscript.css
  docs/plans/manuscript-red-team-review-2026-08-01.md
Due: validate-doc-links, check-placeholders

deploy: 9207ac24d69f0d292a2c26ccbaf823a22fb75d70
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
  documentation-quality/paper.html
Due: none

deploy: 9207ac24d69f0d292a2c26ccbaf823a22fb75d70
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

fix(pai): harden webhook auth/bounds, fix EventBus dispatch, fail-closed ledger load
  src/codomyrmex/agents/pai/PAI.md
  src/codomyrmex/agents/pai/pai_webhook.py
  src/codomyrmex/agents/pai/trust_gateway.py
  tests/unit/agents/pai/test_pai_webhook_hardening.py
  tests/unit/agents/pai/test_trust_gateway_hardening.py
Due: py-compile, validate-doc-links, check-placeholders

deploy: 5007d90bf97677bec5393af5d2b7770a3abf6203
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

deploy: 5007d90bf97677bec5393af5d2b7770a3abf6203
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

deploy: 3fe5b50792a574806f08d830de47307ad52d7474
  documentation-quality/agents_validation.json
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
  documentation-quality/paper.html
Due: none

deploy: 7e66cea3f37fe8283a358564e8b96d8e211e9df8
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

fix: normalize formatted manuscript commit receipts
  scripts/compile_manuscript.py
Due: py-compile

deploy: 8a51a1be640e7612ec6a47a1bd9b8053363d3e03
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

fix: harden online bibliography resolution
  docs/manuscript/06_reproducibility.md
  docs/manuscript/README.md
  scripts/audit_bibliography.py
  src/codomyrmex/manuscript/bibliography.py
  tests/unit/manuscript/test_bibliography.py
Due: py-compile, validate-doc-links, check-placeholders

deploy: 26e7dbf8e11f340efbdd8870310365d5ab40ddbd
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

docs: refresh collected test inventory
  .github/README.md
  INDEX.md
  README.md
  docs/getting-started/tutorials/running-tests.md
  docs/index.md
  docs/modules/tests/RUNNING_TESTS.md
  docs/reference/inventory.md
  tests/RUNNING_TESTS.md
  tests/unit/SPEC.md
  tests/unit/colony_kernel/test_manuscript_consistency.py
Due: py-compile, validate-doc-links, check-placeholders

deploy: 156901959cfb71697f2852e9a93efcf7400d5ca0
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

fix: allow full inventory collection under coverage
  scripts/doc_inventory.py
Due: py-compile

deploy: 3efa6f1b95ce5bdf4b656c713e124261de43e285
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

fix: harden manuscript and documentation gates
  .github/README.md
  .github/workflows/ci.yml
  .github/workflows/documentation-validation.yml
  .github/workflows/documentation.yml
  CHANGELOG.md
  INDEX.md
  Makefile
  README.md
  docs/development/documentation.md
  docs/getting-started/tutorials/running-tests.md
  docs/index.md
  docs/modules/tests/RUNNING_TESTS.md
  docs/reference/api-complete.md
  docs/reference/inventory.md
  justfile
  scripts/README.md
  scripts/compile_manuscript.py
  scripts/validate_manuscript_integrity.py
  src/codomyrmex/documentation/API_SPECIFICATION.md
  src/codomyrmex/documentation/docs/modules/agents/mcp_tool_specification.md
  src/codomyrmex/documentation/docs/modules/container_optimization/api_specification.md
  src/codomyrmex/documentation/docs/modules/manuscript/readme.md
  src/codomyrmex/documentation/docs/modules/model_context_protocol/api_specification.md
  src/codomyrmex/documentation/docs/modules/release/api_specification.md
  src/codomyrmex/documentation/docs/modules/release/mcp_tool_specification.md
  src/codomyrmex/documentation/docs/modules/release/readme.md
  src/codomyrmex/documentation/docs/modules/templating/api_specification.md
  src/codomyrmex/documentation/docs/modules/terminal_interface/api_specification.md
  src/codomyrmex/documentation/docs/modules/website/api_specification.md
  src/codomyrmex/documentation/documentation_website.py
  tests/RUNNING_TESTS.md
  tests/unit/SPEC.md
  tests/unit/colony_kernel/test_manuscript_consistency.py
  tests/unit/documentation/test_documentation.py
  tests/unit/documentation/test_documentation_website.py
  tests/unit/manuscript/test_pdf_validation.py
Due: py-compile, validate-doc-links, check-placeholders

deploy: 8b3c964249e9fdb8e82200006e4529887c1bc606
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

deploy: 8b3c964249e9fdb8e82200006e4529887c1bc606
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none
