Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

py-compile:
  name: py-compile
  entry: python -m py_compile
  language: system

validate-dependencies:
  name: Validate Dependencies
  entry: python3 scripts/validation/validate_dependencies.py
  language: system
  pass_filenames: false
  always_run: false

validate-doc-links:
  name: Validate Documentation Links
  entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
  language: system
  pass_filenames: false
  always_run: false

check-placeholders:
  name: Check for Placeholder Content
  entry: python3 -c "import sys, re; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
  language: system

validate-agents-structure:
  name: Validate AGENTS.md Structure
  entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
  language: system
  pass_filenames: false
  always_run: false

docs: update Sprint 8 progress in TO-DO.md with actual counts
  TO-DO.md
Due: validate-doc-links, check-placeholders

type(sprint8): pydantic.mypy plugin + callable fix (MCP 56→44 errors)
  pyproject.toml
  src/codomyrmex/model_context_protocol/schemas/mcp_schemas.py
Due: py-compile, validate-dependencies

type(sprint8): fix remaining type annotations across MCP module
  src/codomyrmex/model_context_protocol/decorators.py
  src/codomyrmex/model_context_protocol/schemas/__init__.py
  src/codomyrmex/model_context_protocol/validators/__init__.py
Due: py-compile

type(sprint8): MCP mypy 124→0 errors — 100% clean
  src/codomyrmex/model_context_protocol/discovery/__init__.py
  src/codomyrmex/model_context_protocol/main.py
  src/codomyrmex/model_context_protocol/schemas/mcp_schemas.py
  src/codomyrmex/model_context_protocol/server.py
  src/codomyrmex/model_context_protocol/testing.py
  src/codomyrmex/model_context_protocol/validation.py
Due: py-compile

docs: Sprint 8 DONE — MCP 124→0 errors, update TO-DO.md with full results
  TO-DO.md
Due: validate-doc-links, check-placeholders

feat(sprint9): performance verification + MCP expansion to 20 modules
  Makefile
  pyproject.toml
  src/codomyrmex/config_management/mcp_tools.py
  src/codomyrmex/crypto/mcp_tools.py
  src/codomyrmex/events/mcp_tools.py
  src/codomyrmex/git_operations/core/repository_metadata.json
  src/codomyrmex/model_context_protocol/mcp_tools.py
  src/codomyrmex/system_discovery/mcp_tools.py
  src/codomyrmex/tests/performance/test_mcp_load.py
Due: py-compile, validate-dependencies

feat(sprint10): mutation kill ratio 54→62%, validation.py at 85%
  scripts/mutation_test.py
  src/codomyrmex/tests/unit/mcp/test_mutation_kill.py
Due: py-compile

docs: update TO-DO.md Sprint 9+10 → ✅ DONE, v0.2.1 gate status
  TO-DO.md
Due: validate-doc-links, check-placeholders

release: v0.2.1 — Quality Floor
  pyproject.toml
Due: validate-dependencies

feat(sprint11): Chain-of-Thought reasoning pipeline — 56 tests pass
  TO-DO.md
  src/codomyrmex/agents/core/thinking_agent.py
  src/codomyrmex/llm/chain_of_thought.py
  src/codomyrmex/llm/context_manager.py
  src/codomyrmex/llm/models/reasoning.py
  src/codomyrmex/tests/unit/agents/core/test_thinking_agent.py
  src/codomyrmex/tests/unit/llm/test_chain_of_thought.py
  src/codomyrmex/tests/unit/llm/test_context_manager.py
  uv.lock
Due: py-compile, validate-doc-links, check-placeholders

feat(sprint12): Knowledge Integration — 31 tests pass
  TO-DO.md
  src/codomyrmex/agentic_memory/consolidation.py
  src/codomyrmex/cerebrum/distillation.py
  src/codomyrmex/graph_rag/agent_bridge.py
  src/codomyrmex/tests/unit/agentic_memory/test_consolidation.py
  src/codomyrmex/tests/unit/cerebrum/test_distillation.py
  src/codomyrmex/tests/unit/graph_rag/test_agent_bridge.py
Due: py-compile, validate-doc-links, check-placeholders

feat(sprint13): Code Analysis Intelligence — 27 tests pass
  src/codomyrmex/cerebrum/agent_prompts.py
  src/codomyrmex/cerebrum/anti_patterns.py
  src/codomyrmex/cerebrum/code_reviewer.py
  src/codomyrmex/cerebrum/drift_tracker.py
  src/codomyrmex/tests/unit/cerebrum/test_code_analysis.py
Due: py-compile

feat(sprint14): Security Hardening — 26 tests pass
  TO-DO.md
  src/codomyrmex/ci_cd_automation/dependency_scan.py
  src/codomyrmex/ci_cd_automation/sbom.py
  src/codomyrmex/tests/unit/security/test_security_hardening.py
  src/codomyrmex/wallet/encrypted_storage.py
Due: py-compile, validate-doc-links, check-placeholders

feat(sprint15): Swarm Protocol — 39 tests pass
  src/codomyrmex/collaboration/swarm/__init__.py
  src/codomyrmex/collaboration/swarm/consensus.py
  src/codomyrmex/collaboration/swarm/decomposer.py
  src/codomyrmex/collaboration/swarm/message_bus.py
  src/codomyrmex/collaboration/swarm/pool.py
  src/codomyrmex/collaboration/swarm/protocol.py
  src/codomyrmex/tests/unit/collaboration/swarm/test_swarm.py
Due: py-compile

feat(sprint16): Self-Healing Orchestration — 31 tests pass
  src/codomyrmex/orchestrator/agent_circuit_breaker.py
  src/codomyrmex/orchestrator/failure_taxonomy.py
  src/codomyrmex/orchestrator/healing_log.py
  src/codomyrmex/orchestrator/retry_engine.py
  src/codomyrmex/orchestrator/self_healing.py
  src/codomyrmex/tests/unit/orchestrator/test_self_healing.py
Due: py-compile

feat(sprint17+18): Meta-Agent + Project Context — 32 tests pass
  src/codomyrmex/agents/context/__init__.py
  src/codomyrmex/agents/context/indexer.py
  src/codomyrmex/agents/context/project.py
  src/codomyrmex/agents/meta/__init__.py
  src/codomyrmex/agents/meta/ab_testing.py
  src/codomyrmex/agents/meta/meta_agent.py
  src/codomyrmex/agents/meta/scoring.py
  src/codomyrmex/agents/meta/strategies.py
  src/codomyrmex/tests/unit/agents/context/test_project_context.py
  src/codomyrmex/tests/unit/agents/meta/test_meta_agent.py
Due: py-compile

docs: update TO-DO.md — v0.4.0 sprints 15-18 all marked done
  TO-DO.md
Due: validate-doc-links, check-placeholders

feat(sprint19): Deployment Pipeline — 23 tests pass
  src/codomyrmex/api/health.py
  src/codomyrmex/containerization/auto_build.py
  src/codomyrmex/deployment/canary.py
  src/codomyrmex/tests/unit/deployment/test_deployment_pipeline.py
Due: py-compile

feat(sprint20+21): Observability + Code Generation — 29 tests pass
  src/codomyrmex/agents/specialized/review_loop.py
  src/codomyrmex/coding/generator.py
  src/codomyrmex/coding/test_generator.py
  src/codomyrmex/data_visualization/dashboard_export.py
  src/codomyrmex/git_operations/pr_builder.py
  src/codomyrmex/security/audit_trail.py
  src/codomyrmex/telemetry/alerts.py
  src/codomyrmex/telemetry/otel.py
  src/codomyrmex/tests/unit/observability/test_observability_codegen.py
Due: py-compile

docs: mark v0.5.0 Sprints 19-21 done in TO-DO.md
  TO-DO.md
Due: validate-doc-links, check-placeholders

refactor: orchestrator→resilience + MCP→transport/quality shims — 154 tests pass
  src/codomyrmex/tests/unit/observability/test_observability_codegen.py
Due: py-compile

feat(sprint22): Module Triage Engine — 15 tests pass
  src/codomyrmex/orchestrator/triage_engine.py
  src/codomyrmex/tests/unit/orchestrator/test_triage_engine.py
Due: py-compile

docs: mark Sprint 22 done in TO-DO.md — v0.5.0 scope complete
  TO-DO.md
Due: validate-doc-links, check-placeholders

feat(sprint23+24): Workflow Engine + Agent Memory — 25 tests pass
  TO-DO.md
  src/codomyrmex/agents/memory/__init__.py
  src/codomyrmex/agents/memory/conversation.py
  src/codomyrmex/agents/memory/journal.py
  src/codomyrmex/agents/memory/store.py
  src/codomyrmex/orchestrator/workflow_engine.py
  src/codomyrmex/orchestrator/workflow_templates.py
  src/codomyrmex/tests/unit/workflow/test_workflow_memory.py
Due: py-compile, validate-doc-links, check-placeholders

feat(sprint25+26): Integration Bus + Autonomous Planning — 20 tests pass
  src/codomyrmex/agents/planner/__init__.py
  src/codomyrmex/agents/planner/executor.py
  src/codomyrmex/agents/planner/plan_engine.py
  src/codomyrmex/events/integration_bus.py
  src/codomyrmex/orchestrator/module_connector.py
  src/codomyrmex/tests/unit/integration/test_integration_planning.py
Due: py-compile

docs: mark Sprints 23-26 done — v0.6.0 scope complete
  TO-DO.md
Due: validate-doc-links, check-placeholders

feat(website): Add Agent Dispatch tab to Codomyrmex dashboard
  index.html
  src/codomyrmex/website/generator.py
  src/codomyrmex/website/server.py
  src/codomyrmex/website/templates/base.html
  src/codomyrmex/website/templates/dispatch.html
Due: py-compile

fix(website): Auto-increment dashboard port to resolve Address in use
  scripts/launch_dashboard.py
Due: py-compile

fix(website): Loosen CORS validation to support dynamic localhost ports
  src/codomyrmex/website/server.py
Due: py-compile

feat(dashboard): add Agent Dispatch tab and fix Antigravity provider
  src/codomyrmex/agents/orchestrator.py
  src/codomyrmex/ide/antigravity/agent_bridge.py
  test_ag_client.py
  test_dispatch_api.py
Due: py-compile

fix(orchestrator): Prevent 404 when falling back to Ollama without Anthropic key
  src/codomyrmex/agents/orchestrator.py
Due: py-compile

fix(pai): Resolve EventBus errors and add proxy endpoints for PAI Dashboard
  src/codomyrmex/agents/pai/trust_gateway.py
  src/codomyrmex/website/server.py
Due: py-compile

fix(pai): Resolve EventBus errors and add proxy endpoints for PAI Dashboard
  dirs.txt
Due: none

up
  src/AGENTS.md
  src/INDEX.md
  src/PAI.md
  src/README.md
  src/SPEC.md
  src/__init__.py
  src/codomyrmex.llm/AGENTS.md
  src/codomyrmex.llm/README.md
  src/codomyrmex.llm/SPEC.md
  src/codomyrmex.llm/outputs/AGENTS.md
  src/codomyrmex.llm/outputs/README.md
  src/codomyrmex.llm/outputs/SPEC.md
  src/codomyrmex.llm/outputs/config/AGENTS.md
  src/codomyrmex.llm/outputs/config/README.md
  src/codomyrmex.llm/outputs/config/SPEC.md
  src/codomyrmex.llm/outputs/integration/AGENTS.md
  src/codomyrmex.llm/outputs/integration/README.md
  src/codomyrmex.llm/outputs/integration/SPEC.md
  src/codomyrmex.llm/outputs/llm_outputs/AGENTS.md
  src/codomyrmex.llm/outputs/llm_outputs/README.md
  src/codomyrmex.llm/outputs/llm_outputs/SPEC.md
  src/codomyrmex.llm/outputs/models/AGENTS.md
  src/codomyrmex.llm/outputs/models/README.md
  src/codomyrmex.llm/outputs/models/SPEC.md
  src/codomyrmex.llm/outputs/performance/AGENTS.md
  src/codomyrmex.llm/outputs/performance/README.md
  src/codomyrmex.llm/outputs/performance/SPEC.md
  src/codomyrmex.llm/outputs/reports/AGENTS.md
  src/codomyrmex.llm/outputs/reports/README.md
  src/codomyrmex.llm/outputs/reports/SPEC.md
  src/codomyrmex.llm/outputs/test_results/AGENTS.md
  src/codomyrmex.llm/outputs/test_results/README.md
  src/codomyrmex.llm/outputs/test_results/SPEC.md
  src/codomyrmex/git_operations/core/repository_metadata.json
  test_external.py
  test_mcp_tools.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

feat: wrap gemini-cli into codomyrmex module
  index.html
  scripts/pai/AGENTS.md
  scripts/pai/README.md
  scripts/pai/dashboard.py
  src/codomyrmex/agents/gemini/AGENTS.md
  src/codomyrmex/agents/gemini/PAI.md
  src/codomyrmex/agents/gemini/README.md
  src/codomyrmex/agents/gemini/SPEC.md
  src/codomyrmex/agents/gemini/__init__.py
  src/codomyrmex/agents/gemini/gemini_cli.py
  src/codomyrmex/agents/gemini/gemini_client.py
  src/codomyrmex/git_operations/core/git.py
  src/codomyrmex/tests/conftest.py
  src/codomyrmex/tests/unit/agents/gemini/test_gemini_cli.py
  src/codomyrmex/tests/unit/agents/pai/test_pai_bridge_hardening.py
  src/codomyrmex/tests/unit/agents/pai/test_trust_gateway_hardening.py
  src/codomyrmex/tests/unit/website/unit/test_server.py
  src/codomyrmex/website/server.py
  src/codomyrmex/website/templates/awareness.html
  src/codomyrmex/website/templates/dispatch.html
  src/codomyrmex/website/templates/pai_control.html
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

Path conditions:
  py-compile: any of: \.py$
  validate-dependencies: any of: ^pyproject\.toml$
  validate-doc-links: any of: \.md$
  check-placeholders: any of: \.md$
  validate-agents-structure: any of: AGENTS\.md$
