Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

py-compile:
  name: py-compile
  entry: python -m py_compile
  language: system

validate-dependencies:
  name: Validate Dependencies
  entry: python3 scripts/validation/validate_dependencies.py
  language: system
  pass_filenames: false
  always_run: false

validate-doc-links:
  name: Validate Documentation Links
  entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
  language: system
  pass_filenames: false
  always_run: false

check-placeholders:
  name: Check for Placeholder Content
  entry: python3 -c "import sys; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD', 'HACK', 'STUB']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
  language: system

validate-agents-structure:
  name: Validate AGENTS.md Structure
  entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
  language: system
  pass_filenames: false
  always_run: false

update
  src/codomyrmex/agents/pai/pm/AGENTS.md
  src/codomyrmex/agents/pai/pm/PAI.md
  src/codomyrmex/agents/pai/pm/README.md
  src/codomyrmex/agents/pai/pm/SPEC.md
  src/codomyrmex/agents/pai/pm/config.ts
  src/codomyrmex/agents/pai/pm/routes/email.ts
  src/codomyrmex/agents/pai/pm/routes/github.ts
  src/codomyrmex/tests/integration/pai/test_bikeride_api.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

....
  docs/pai/AGENTS.md
  docs/pai/PAI.md
  docs/pai/README.md
  docs/pai/SPEC.md
  docs/pai/dashboard-setup.md
  docs/pai/on-ramp.md
  docs/pai/screenshots/SPEC.md
  src/codomyrmex/agents/pai/pm/AGENTS.md
  src/codomyrmex/agents/pai/pm/PAI.md
  src/codomyrmex/agents/pai/pm/README.md
  src/codomyrmex/agents/pai/pm/SPEC.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

Add 'On Ramp' link to PAI docs
  docs/pai/architecture.md
  docs/pai/skills-and-commands.md
  docs/pai/tools-reference.md
  docs/pai/workflows.md
Due: validate-doc-links, check-placeholders

fix: ruff zero + subprocess timeouts + ClassVar annotations (Wave 2A+2B)
  src/codomyrmex/agents/hermes/session.py
  src/codomyrmex/git_operations/core/commands/merge.py
  src/codomyrmex/git_operations/core/commands/stash.py
  src/codomyrmex/git_operations/core/commands/submodules.py
  src/codomyrmex/git_operations/core/commands/tags.py
  src/codomyrmex/ide/antigravity/client.py
  src/codomyrmex/languages/csharp/manager.py
  src/codomyrmex/languages/elixir/manager.py
  src/codomyrmex/languages/go/manager.py
  src/codomyrmex/languages/java/manager.py
  src/codomyrmex/languages/javascript/manager.py
  src/codomyrmex/languages/php/manager.py
  src/codomyrmex/languages/python/manager.py
  src/codomyrmex/languages/r/manager.py
  src/codomyrmex/languages/ruby/manager.py
  src/codomyrmex/languages/rust/manager.py
  src/codomyrmex/languages/swift/manager.py
  src/codomyrmex/languages/typescript/manager.py
  src/codomyrmex/llm/guardrails/detectors.py
  src/codomyrmex/llm/providers/openrouter.py
  src/codomyrmex/llm/safety.py
  src/codomyrmex/security/secrets/scanner.py
  src/codomyrmex/synthetic_data/generator.py
  src/codomyrmex/tests/integration/pai/test_bikeride_api.py
  src/codomyrmex/tests/unit/agents/theory/test_theory_reasoning_models.py
  src/codomyrmex/tests/unit/coding/test_review_models.py
  src/codomyrmex/tests/unit/dependency_injection/test_container.py
  src/codomyrmex/tests/unit/finance/test_finance_models.py
Due: py-compile

fix: ClassVar imports + Wave 2C tests (telemetry exporters + LLM guardrails)
  src/codomyrmex/ide/antigravity/client.py
  src/codomyrmex/llm/safety.py
  src/codomyrmex/security/secrets/scanner.py
  src/codomyrmex/synthetic_data/generator.py
  src/codomyrmex/tests/unit/llm/test_guardrails_detectors.py
  src/codomyrmex/tests/unit/telemetry/test_exporters.py
Due: py-compile

fix: remove unused imports + fix ClassVar import in detectors
  src/codomyrmex/llm/guardrails/detectors.py
  src/codomyrmex/tests/unit/agents/agent_setup/test_registry.py
Due: py-compile

test: Wave 1+2 test suite expansion — +1200 tests across 8 domains
  src/codomyrmex/security/secrets/scanner.py
  src/codomyrmex/tests/unit/exceptions/test_specialized.py
  src/codomyrmex/tests/unit/llm/test_guardrails_detectors.py
  src/codomyrmex/tests/unit/model_context_protocol/test_tools_extended.py
  src/codomyrmex/tests/unit/telemetry/test_exporters.py
Due: py-compile

test: add 82 zero-mock tests for model_ops evaluation metrics
  src/codomyrmex/tests/unit/model_ops/test_evaluation_metrics.py
Due: py-compile

test: add 164 zero-mock tests for cloud/coda_io/models.py (944 LOC)
  src/codomyrmex/tests/unit/cloud/test_coda_io_models.py
Due: py-compile

test: add 108 zero-mock tests for config_audits/rules and synthetic_data/generator
  src/codomyrmex/tests/unit/config_audits/__init__.py
  src/codomyrmex/tests/unit/config_audits/__pycache__/__init__.cpython-313.pyc
  src/codomyrmex/tests/unit/config_audits/__pycache__/test_auditor.cpython-313-pytest-9.0.2.pyc
  src/codomyrmex/tests/unit/config_audits/__pycache__/test_mcp_tools_config_audits.cpython-313-pytest-9.0.2.pyc
  src/codomyrmex/tests/unit/config_audits/__pycache__/test_rules.cpython-313-pytest-9.0.2.pyc
  src/codomyrmex/tests/unit/config_audits/test_rules.py
  src/codomyrmex/tests/unit/synthetic_data/__pycache__/__init__.cpython-313.pyc
  src/codomyrmex/tests/unit/synthetic_data/__pycache__/test_generator.cpython-313-pytest-9.0.2.pyc
  src/codomyrmex/tests/unit/synthetic_data/__pycache__/test_synthetic_data.cpython-313-pytest-9.0.2.pyc
  src/codomyrmex/tests/unit/synthetic_data/test_generator.py
Due: py-compile

ypdate
  .github/README.md
  AGENTS.md
  CLAUDE.md
  Makefile
  PAI.md
  README.md
  SKILL.md
  SPEC.md
  TODO.md
  scripts/setup_submodules.sh
  src/codomyrmex/agents/hermes/scripts/run_evolution_bridge.py
  src/codomyrmex/agents/hermes/scripts/run_mcp_tools.py
  src/codomyrmex/agents/hermes/scripts/test_hermes_scripts.py
  src/codomyrmex/agents/jules/AGENTS.md
  src/codomyrmex/agents/jules/PAI.md
  src/codomyrmex/agents/jules/README.md
  src/codomyrmex/agents/jules/SPEC.md
  src/codomyrmex/collaboration/__init__.py
  src/codomyrmex/collaboration/exceptions.py
  src/codomyrmex/collaboration/mcp_tools.py
  src/codomyrmex/collaboration/swarm/__init__.py
  src/codomyrmex/data_visualization/engines/plotter.py
  src/codomyrmex/environment_setup/scripts/install_with_uv.sh
  src/codomyrmex/git_analysis/SPEC.md
  src/codomyrmex/system_discovery/core/capability_scanner.py
  src/codomyrmex/tests/integration/calendar_integration/test_mcp_tools.py
  src/codomyrmex/tests/integration/email/test_gmail_integration.py
  src/codomyrmex/tests/unit/agents/agent_setup/test_registry.py
  src/codomyrmex/tests/unit/collaboration/test_collaboration_comprehensive.py
  src/codomyrmex/tests/unit/email/test_email_generics_and_models.py
  src/codomyrmex/tests/unit/formal_verification/test_formal_verification.py
  src/codomyrmex/tests/unit/git_analysis/test_mcp_tools.py
  src/codomyrmex/tests/unit/llm/test_output_manager.py
  src/codomyrmex/tests/unit/mcp/test_mcp_smoke.py
  src/codomyrmex/tests/unit/relations/test_mcp_tools.py
  src/codomyrmex/tests/unit/security/test_security_cognitive.py
  src/codomyrmex/tests/unit/validation/test_validation_mcp_tools.py
  src/codomyrmex/validation/mcp_tools.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

feat: add free_apis submodule + expand test coverage
  src/codomyrmex/agents/hermes/hermes_client.py
  src/codomyrmex/api/mcp_tools.py
  src/codomyrmex/cerebrum/visualization/core.py
  src/codomyrmex/collaboration/__init__.py
  src/codomyrmex/tests/integration/calendar_integration/test_mcp_tools.py
  src/codomyrmex/tests/unit/agents/test_agents_hermes_client.py
  src/codomyrmex/tests/unit/agents/test_hermes_orchestrators.py
  src/codomyrmex/tests/unit/audio/test_mcp_tools.py
  src/codomyrmex/tests/unit/audio/test_synthesizer.py
  src/codomyrmex/tests/unit/audio/test_transcriber.py
  src/codomyrmex/tests/unit/auth/test_google_auth.py
  src/codomyrmex/tests/unit/bio_simulation/test_bio_simulation.py
  src/codomyrmex/tests/unit/bio_simulation/test_visualization.py
  src/codomyrmex/tests/unit/cache/test_namespaced_cache.py
  src/codomyrmex/tests/unit/cache/test_redis_backend.py
  src/codomyrmex/tests/unit/ci_cd_automation/test_ci_cd_edge_cases.py
  src/codomyrmex/tests/unit/coding/review/test_code_review_functional.py
  src/codomyrmex/tests/unit/coding/test_pattern_matching.py
  src/codomyrmex/tests/unit/coding/test_refactoring.py
  src/codomyrmex/tests/unit/vector_store/__init__.py
  src/codomyrmex/tests/unit/vector_store/test_vector_store_core.py
  src/codomyrmex/tests/unit/website/__init__.py
  src/codomyrmex/tests/unit/website/test_accessibility.py
Due: py-compile

fix: orchestrator integration UnboundLocalError for retry_policy
  src/codomyrmex/orchestrator/integration.py
Due: py-compile

test: add 491 zero-mock tests for validation, vector_store, website accessibility
  src/codomyrmex/tests/unit/validation/test_validation_core.py
  src/codomyrmex/tests/unit/website/test_accessibility_core.py
Due: py-compile

test: expand coverage for serialization, validation, free_apis (439 tests)
  src/codomyrmex/tests/unit/api/free_apis/test_free_apis.py
  src/codomyrmex/tests/unit/serialization/test_serialization_core.py
Due: py-compile

test: add 147 zero-mock tests for networking module
  src/codomyrmex/tests/unit/networking/test_networking_core.py
Due: py-compile

test: add 59 zero-mock tests for compression module
  src/codomyrmex/tests/unit/compression/__init__.py
Due: py-compile

test: add 132 zero-mock tests for config_management (460 total)
  src/codomyrmex/tests/unit/config_management/test_config_management_extended.py
Due: py-compile

test: expand compression tests to 95 passing (98% core coverage)
  src/codomyrmex/tests/unit/compression/test_compression_core.py
Due: py-compile

up
  scripts/agents/hermes/_dispatch_helpers.py
  scripts/agents/hermes/dispatch_hermes.py
  scripts/maintenance/_config_module_meta.py
Due: py-compile

v1.1.10: Dashboard v2 & Telemetry UX
  AGENTS.md
  TODO.md
  pyproject.toml
  scripts/agents/hermes/_dispatch_helpers.py
  scripts/agents/hermes/dispatch_hermes.py
  scripts/maintenance/generate_config_docs.py
  src/codomyrmex/data_visualization/charts/sparkline.py
  src/codomyrmex/data_visualization/mermaid/dag_exporter.py
  src/codomyrmex/telemetry/metrics/token_tracker.py
  src/codomyrmex/telemetry/tracing/call_graph.py
  src/codomyrmex/tests/unit/test_v1_1_10.py
  src/codomyrmex/website/handlers/dashboard_api.py
  src/codomyrmex/website/module_health.py
  src/codomyrmex/website/static/design_tokens.css
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

v1.1.11: Hermetic Distribution & System Verification
  AGENTS.md
  Dockerfile
  TODO.md
  docker-compose.yml
  pyproject.toml
  src/codomyrmex/formal_verification/config_invariants.py
  src/codomyrmex/formal_verification/schema_verifier.py
  src/codomyrmex/tests/unit/test_v1_1_11.py
  uv.lock
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

v1.1.12: Pre-1.2.0 Polish & Agentic CI
  AGENTS.md
  TODO.md
  pyproject.toml
  scripts/maintenance/release_audit.py
  src/codomyrmex/ci_cd_automation/flaky_quarantine.py
  src/codomyrmex/cost_management/budget_manager.py
  src/codomyrmex/tests/unit/test_v1_1_12.py
  src/codomyrmex/website/live_feed.py
  uv.lock
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

v1.2.0: Ecosystem Integration & Codomyrmex Prime
  AGENTS.md
  TODO.md
  pyproject.toml
  src/codomyrmex/ci_cd_automation/sbom_generator.py
  src/codomyrmex/cli/core.py
  src/codomyrmex/cli/handlers/agent.py
  src/codomyrmex/cli/handlers/memory.py
  src/codomyrmex/tests/unit/test_v1_2_0.py
  uv.lock
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

v1.2.1: Utilities, Skills & Codebase Awareness
  AGENTS.md
  TODO.md
  pyproject.toml
  src/codomyrmex/logging_monitoring/log_context.py
  src/codomyrmex/skills/skill_health.py
  src/codomyrmex/system_discovery/dependency_mapper.py
  src/codomyrmex/system_discovery/module_introspector.py
  src/codomyrmex/tests/unit/test_v1_2_1.py
  src/codomyrmex/utils/retry_enhanced.py
  uv.lock
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

v1.2.2: Codebase Health, API Freeze, Config Validation, Typed Events, Performance Profiling
  AGENTS.md
  TODO.md
  pyproject.toml
  src/codomyrmex/api/api_spec_stamper.py
  src/codomyrmex/config_management/config_validator.py
  src/codomyrmex/events/typed_event_bus.py
  src/codomyrmex/performance/cli_profiler.py
  src/codomyrmex/system_discovery/health_reporter.py
  src/codomyrmex/tests/unit/test_v1_2_2.py
  uv.lock
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

up
  docs/AGENTS.md
  docs/ARCHITECTURE.md
  docs/PAI.md
  docs/README.md
  docs/SPEC.md
  docs/agents/AGENTS.md
  docs/agents/PAI.md
  docs/agents/SPEC.md
  docs/agents/claude/README.md
  docs/agents/gemini/README.md
  docs/agents/hermes/AGENTS.md
  docs/agents/hermes/README.md
  docs/agents/jules/README.md
  docs/agi/README.md
  docs/bio/README.md
  docs/cognitive/README.md
  docs/compliance/README.md
  docs/deployment/README.md
  docs/development/README.md
  docs/examples/README.md
  docs/getting-started/README.md
  docs/index.md
  docs/integration/README.md
  docs/pai/README.md
  docs/plans/README.md
  docs/project/README.md
  docs/project_orchestration/README.md
  docs/reference/README.md
  docs/security/README.md
  docs/skills/README.md
  scripts/agents/hermes/README.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

Add hermes-templates: spawn.sh, config.yaml, GOTCHAS.md, INSTANCES.md, QUESTIONS.md for provisioning non-overlapping Hermes instances with Telegram integration
  hermes-templates/.env.example
  hermes-templates/GOTCHAS.md
  hermes-templates/INSTANCES.md
  hermes-templates/QUESTIONS.md
  hermes-templates/README.md
  hermes-templates/config.crescent-city.yaml
  hermes-templates/config.yaml
  hermes-templates/spawn.sh
  src/codomyrmex/documentation/.cursor/AGENTS.md
  src/codomyrmex/documentation/.cursor/PAI.md
  src/codomyrmex/documentation/.cursor/README.md
  src/codomyrmex/documentation/.cursor/SPEC.md
  src/codomyrmex/environment_setup/.cursor/AGENTS.md
  src/codomyrmex/environment_setup/.cursor/PAI.md
  src/codomyrmex/environment_setup/.cursor/README.md
  src/codomyrmex/environment_setup/.cursor/SPEC.md
  src/codomyrmex/logging_monitoring/.cursor/AGENTS.md
  src/codomyrmex/logging_monitoring/.cursor/PAI.md
  src/codomyrmex/logging_monitoring/.cursor/README.md
  src/codomyrmex/logging_monitoring/.cursor/SPEC.md
  src/codomyrmex/model_context_protocol/.cursor/AGENTS.md
  src/codomyrmex/model_context_protocol/.cursor/PAI.md
  src/codomyrmex/model_context_protocol/.cursor/README.md
  src/codomyrmex/model_context_protocol/.cursor/SPEC.md
  src/codomyrmex/module_template/.cursor/.cursorrules
  src/codomyrmex/module_template/.cursor/AGENTS.md
  src/codomyrmex/module_template/.cursor/PAI.md
  src/codomyrmex/module_template/.cursor/README.md
  src/codomyrmex/module_template/.cursor/SPEC.md
  src/codomyrmex/tests/unit/config_audits/__pycache__/__init__.cpython-313.pyc
  src/codomyrmex/tests/unit/synthetic_data/__pycache__/test_synthetic_data.cpython-313-pytest-9.0.2.pyc
  src/codomyrmex/website/.cursor/.cursorrules
  src/codomyrmex/website/.cursor/AGENTS.md
  src/codomyrmex/website/.cursor/PAI.md
  src/codomyrmex/website/.cursor/README.md
  src/codomyrmex/website/.cursor/SPEC.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

Update Hermes instances: improve template bot config, update documentation with GOTCHAS and INSTANCES.md, refine memory and soul configurations
  TODO.md
  src/codomyrmex/embodiment/__init__.py
  src/codomyrmex/embodiment/bridge.py
  src/codomyrmex/embodiment/telemetry.py
  src/codomyrmex/evolutionary_ai/__init__.py
  src/codomyrmex/evolutionary_ai/genetic.py
  src/codomyrmex/evolutionary_ai/optimizer.py
  src/codomyrmex/meme/mcp_tools.py
  src/codomyrmex/tests/unit/embodiment/test_embodiment.py
  src/codomyrmex/tests/unit/evolutionary_ai/test_genetic.py
Due: py-compile, validate-doc-links, check-placeholders

Add meme MCP integration test, update submodules (evolution, mission_control, gitnexus, upstream)
  src/codomyrmex/meme/mcp_tools.py
  src/codomyrmex/tests/unit/meme/test_mcp_integration.py
Due: py-compile

Path conditions:
  py-compile: any of: \.py$
  validate-dependencies: any of: ^pyproject\.toml$
  validate-doc-links: any of: \.md$
  check-placeholders: any of: \.md$
  validate-agents-structure: any of: AGENTS\.md$
