Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Codomyrmex
# Install: uv sync (pre-commit is included in dev dependencies)
# Setup: pre-commit install
# Run: pre-commit run --all-files

repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3.10
        args: [--line-length=88]

  # Python linting and import sorting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports]

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: [--recursive, --configfile=pyproject.toml, src/codomyrmex/]

  # Python syntax checking
  - repo: local
    hooks:
      - id: py-compile
        name: py-compile
        entry: python -m py_compile
        language: system
        files: \.py$

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [yaml]
        exclude: ^.*\.github/.*$

  # JSON formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [json]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: [--disable=MD013, MD033, MD041]

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files

  # Dependency validation
  - repo: local
    hooks:
      - id: validate-dependencies
        name: Validate Dependencies
        entry: python3 scripts/validation/validate_dependencies.py
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false
        always_run: false

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  # Documentation validation
  - repo: local
    hooks:
      - id: validate-doc-links
        name: Validate Documentation Links
        entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
        language: system
        files: \.md$
        pass_filenames: false
        always_run: false

      - id: check-placeholders
        name: Check for Placeholder Content
        entry: python3 -c "import sys; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD', 'HACK', 'STUB']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
        language: system
        files: \.md$

      - id: validate-agents-structure
        name: Validate AGENTS.md Structure
        entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
        language: system
        files: AGENTS\.md$
        pass_filenames: false
        always_run: false

feat(colony_kernel): add R2-R5 research adapters, formal invariants, and test suites
  TODO.md
  docs/todo/COLONY_KERNEL.md
  src/codomyrmex/colony_kernel/falsification/py.typed
  src/codomyrmex/colony_kernel/invariants.py
  src/codomyrmex/colony_kernel/research/__init__.py
  src/codomyrmex/colony_kernel/research/active_inference_adapter.py
  src/codomyrmex/colony_kernel/research/actuation_adapter.py
  src/codomyrmex/colony_kernel/research/adversarial_workload.py
  src/codomyrmex/colony_kernel/research/calibration_study.py
  src/codomyrmex/colony_kernel/research/concurrency_study.py
  src/codomyrmex/colony_kernel/research/py.typed
  src/codomyrmex/manuscript/bibliography.py
  tests/unit/colony_kernel/test_active_inference_adapter.py
  tests/unit/colony_kernel/test_adversarial_workload.py
  tests/unit/colony_kernel/test_calibration_study.py
  tests/unit/colony_kernel/test_concurrency_study.py
  tests/unit/colony_kernel/test_external_actuation.py
  tests/unit/colony_kernel/test_invariants.py
Due: py-compile, validate-doc-links, check-placeholders

deploy: 34c35930140ff1abee843065a6321fa5633b9fd2
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

docs(tests): flesh out coverage_push PAI.md and list AGENTS.md in README
  tests/unit/coverage_push/PAI.md
  tests/unit/coverage_push/README.md
Due: validate-doc-links, check-placeholders

deploy: 463a885558bfad6bddfb1e73fc61cf1bc26a3bc7
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

fix: harden colony research and release gates
  Makefile
  output/paper.html
  src/codomyrmex/colony_kernel/research/actuation_adapter.py
  src/codomyrmex/colony_kernel/research/calibration_study.py
  src/codomyrmex/colony_kernel/research/concurrency_study.py
  src/codomyrmex/model_context_protocol/transport/main.py
  tests/unit/agents/test_mcp_discovery.py
  tests/unit/colony_kernel/test_calibration_study.py
  tests/unit/colony_kernel/test_concurrency_study.py
  tests/unit/colony_kernel/test_external_actuation.py
  tests/unit/hermes/test_hermes_context_refs.py
  uv.lock
Due: py-compile

deploy: 899e5765884d36862eb00449969ea3a901230580
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/paper.html
Due: none

feat(research): orchestrate evidence roadmap
  .github/README.md
  README.md
  TODO.md
  docs/manuscript/09_research_roadmap.md
  docs/manuscript/11_supplemental_notation.md
  docs/manuscript/claim_ledger.yaml
  docs/manuscript/config.yaml
  docs/manuscript/references.bib
  docs/project/architecture.md
  docs/reference/inventory.md
  output/paper.html
  src/codomyrmex/colony_kernel/research/README.md
  src/codomyrmex/colony_kernel/research/SPEC.md
  src/codomyrmex/colony_kernel/research/__init__.py
  src/codomyrmex/colony_kernel/research/adversarial_workload.py
  src/codomyrmex/colony_kernel/research/orchestration.py
  src/codomyrmex/manuscript/figures/research_roadmap.py
  src/codomyrmex/manuscript/variables.py
  tests/unit/colony_kernel/test_adversarial_workload.py
  tests/unit/colony_kernel/test_manuscript_consistency.py
  tests/unit/colony_kernel/test_research_orchestration.py
Due: py-compile, validate-doc-links, check-placeholders

fix(manuscript): prevent roadmap label overlap
  src/codomyrmex/manuscript/figures/research_roadmap.py
Due: py-compile

deploy: 01b2255cae931febf4e88bd0f30d41cb367d225e
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
  documentation-quality/paper.html
Due: none

fix(latent-bugs): P1-1, P1-2, P1-3, P1-6 — args/kwargs persistence, redis backend raise, dead-letter replay marker, checkpoint wiring
  src/codomyrmex/concurrency/dead_letter.py
  tests/unit/agents/test_checkpoint.py
  tests/unit/concurrency/test_dead_letter.py
  tests/unit/orchestrator/test_persistent_scheduler.py
Due: py-compile

test(docs): add placeholder regression test for P2-4
  tests/unit/documentation/test_placeholder_regression.py
Due: py-compile

deploy: 3efc6fd814c34355fdbc8279bf1be4b134c33091
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

docs: agentic audit - verified fixes to AGENTS/README references
  .github/AGENTS.md
  .github/README.md
  AGENTS.md
  README.md
  docs/AGENTS.md
  docs/agents/AGENTS.md
  docs/agents/hermes/AGENTS.md
  docs/getting-started/README.md
  docs/modules/coding/README.md
  scripts/maintenance/AGENTS.md
  scripts/maintenance/README.md
  src/README.md
  src/codomyrmex/README.md
  src/codomyrmex/agentic_memory/README.md
  src/codomyrmex/agents/AGENTS.md
  src/codomyrmex/agents/README.md
  src/codomyrmex/colony_kernel/README.md
  src/codomyrmex/colony_kernel/falsification/AGENTS.md
  src/codomyrmex/colony_kernel/falsification/checks/AGENTS.md
  src/codomyrmex/documentation/docs/modules/agentic_memory/readme.md
  src/codomyrmex/documentation/docs/modules/agents/readme.md
  src/codomyrmex/documentation/docs/modules/colony_kernel/readme.md
  tests/unit/audio/AGENTS.md
  tests/unit/audio/README.md
  tests/unit/config_audits/AGENTS.md
  tests/unit/config_monitoring/AGENTS.md
  tests/unit/security/AGENTS.md
  tests/unit/security/README.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

docs: correct references missed by the fleet pass
  .github/README.md
Due: validate-doc-links, check-placeholders

deploy: 7b19dcaee8415fa262aa338720b3d4c2c0941618
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

deploy: 7b19dcaee8415fa262aa338720b3d4c2c0941618
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

deploy: 56a5c35320e0d6bfff1f3a57166b90e549bfe024
  documentation-quality/agents_validation.json
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

fix(lint+imports): optional-dep import guards, mkstemp, lint pass
  CHANGELOG.md
  src/codomyrmex/agents/claude/claude_client.py
  src/codomyrmex/agents/claude/mixins/execution.py
  src/codomyrmex/agents/gemini/_cache.py
  src/codomyrmex/agents/gemini/_files.py
  src/codomyrmex/agents/gemini/_tuning_batch.py
  src/codomyrmex/cli/handlers/system.py
  src/codomyrmex/exceptions/__init__.py
  src/codomyrmex/logistics/task/queue.py
  tests/unit/agents/test_checkpoint.py
  tests/unit/concurrency/test_dead_letter.py
  tests/unit/orchestrator/test_persistent_scheduler.py
Due: py-compile, validate-doc-links, check-placeholders

perf(agents): PEP 562 lazy loading of agents package + opt-in-dep collection skips
  CHANGELOG.md
  src/codomyrmex/agents/__init__.py
  tests/unit/agents/pai/test_pai_webhook_hardening.py
  tests/unit/agents/test_agents_lazy_all.py
  tests/unit/cloud/google_workspace/test_gws_sdk.py
  tests/unit/documentation/test_mkdocs_hooks.py
  tests/unit/examples/test_fastapi_endpoint_example.py
Due: py-compile, validate-doc-links, check-placeholders

fix(lane-aa): resolve ruff lint debt (S306 mktemp in tests, F541, I001, RUF022) and add pydantic 2.12 filterwarnings ignore for google-genai import
  pyproject.toml
  src/codomyrmex/cli/handlers/system.py
  src/codomyrmex/exceptions/__init__.py
  src/codomyrmex/logistics/task/queue.py
  tests/unit/agents/test_checkpoint.py
  tests/unit/concurrency/test_dead_letter.py
  tests/unit/orchestrator/test_persistent_scheduler.py
Due: py-compile, validate-dependencies

docs: agent-ergonomics pass - backlog signposts, snapshot supersede note, archive stale security audit, add dated review log
  AGENTS.md
  INDEX.md
  README.md
  REVIEW_LOG_2026-08-31.md
  TODO.md
  docs/compliance/SECURITY_AUDIT_REPORT_2026-07-31.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

deploy: f5dde05f0090c632dabf718b674be77e91ca5fa7
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

docs(manuscript): add MANUSCRIPT_STATUS.md for canonical docs/manuscript location (2026-08-31 convention)
  docs/manuscript/MANUSCRIPT_STATUS.md
Due: validate-doc-links, check-placeholders

deploy: 059cef8a1c87b1e01923d53dd65a8641d847c782
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

deploy: 656e343aef24db93735e75b4af8bd990b36e7791
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

docs(inventory): re-verify counts against live tree — agent packages 39->40, docs markdown 1204->1208; log addendum
  README.md
  REVIEW_LOG_2026-08-31.md
  docs/reference/inventory.md
Due: validate-doc-links, check-placeholders

deploy: 55417de55ea0becbba1364f03d9023dc063ec6fe
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

chore: remove dated session review/audit scratch reports (point-in-time; content in history)
  REVIEW_LOG_2026-08-31.md
Due: validate-doc-links, check-placeholders

deploy: 0e3a1b3d6a747dadcf25f748578896f80a8e8834
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

deploy: 0e3a1b3d6a747dadcf25f748578896f80a8e8834
  documentation-quality/agents_validation.json
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

fix: 🛡️ Sentinel: [CRITICAL] Fix command injection vulnerability in transcription tools (#423)
  .jules/sentinel.md
Due: validate-doc-links, check-placeholders

perf: ⚡ Bolt: [performance improvement] Hoist static type_map dictionaries to module level (#420)
  src/codomyrmex/config_management/validation/config_validator.py
  src/codomyrmex/llm/mcp.py
  src/codomyrmex/model_context_protocol/transport/server.py
Due: py-compile

feat: 🎨 Palette: [UX improvement] Add accessible labels to icon-only buttons (#418)
  .jules/palette.md
Due: validate-doc-links, check-placeholders

scripts: enforce thin-orchestrator contract (2026-09 audit)
  scripts/AGENTS.md
  scripts/README.md
  scripts/run_all_scripts.py
  src/codomyrmex/agents/hermes/scripts/AGENTS.md
  src/codomyrmex/agents/hermes/scripts/README.md
  src/codomyrmex/documentation/scripts/auto_generate_docs.py
  src/codomyrmex/documentation/scripts/smart_template_engine.py
  src/codomyrmex/documentation/scripts/validate_configs.py
  tests/agents/hermes/test_hermes_scripts.py
  tests/scripts/AGENTS.md
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

deploy: 66ec49addba974f9bc49abe127e76a7060a117ee
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none
