Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Codomyrmex
# Install: uv sync (pre-commit is included in dev dependencies)
# Setup: pre-commit install
# Run: pre-commit run --all-files

repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3.10
        args: [--line-length=88]

  # Python linting and import sorting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports]

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: [--recursive, --configfile=pyproject.toml, src/codomyrmex/]

  # Python syntax checking
  - repo: local
    hooks:
      - id: py-compile
        name: py-compile
        entry: python -m py_compile
        language: system
        files: \.py$

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [yaml]
        exclude: ^.*\.github/.*$

  # JSON formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [json]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: [--disable=MD013, MD033, MD041]

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files

  # Dependency validation
  - repo: local
    hooks:
      - id: validate-dependencies
        name: Validate Dependencies
        entry: python3 scripts/validation/validate_dependencies.py
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false
        always_run: false

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  # Documentation validation
  - repo: local
    hooks:
      - id: validate-doc-links
        name: Validate Documentation Links
        entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
        language: system
        files: \.md$
        pass_filenames: false
        always_run: false

      - id: check-placeholders
        name: Check for Placeholder Content
        entry: python3 -c "import sys; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD', 'HACK', 'STUB']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
        language: system
        files: \.md$

      - id: validate-agents-structure
        name: Validate AGENTS.md Structure
        entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
        language: system
        files: AGENTS\.md$
        pass_filenames: false
        always_run: false

chore(scripts): reduce log_sensitive surface in examples and audits
  scripts/cloud/infomaniak/compute_examples.py
  scripts/cloud/infomaniak/identity_examples.py
  scripts/llm/examples/openrouter_chat.py
  scripts/llm/examples/openrouter_long_output.py
  scripts/llm/examples/openrouter_usage.py
  scripts/llm/guardrails/openrouter_free_example.py
  scripts/llm/mlx_benchmark.py
  scripts/llm/prompts/openrouter_free_example.py
  scripts/llm/rag/openrouter_free_example.py
  scripts/llm/streaming/openrouter_free_example.py
  scripts/sair/evaluate.py
  scripts/security/audit_secrets.py
Due: py-compile

Improve distillation module documentation, tools, and tests (#60)
  src/codomyrmex/distillation/mcp_tools.py
  src/codomyrmex/distillation/pipeline.py
  src/codomyrmex/tests/unit/distillation/test_distillation.py
Due: py-compile

🧪 Add TypeError coverage for safe_json_loads (#59)
  src/codomyrmex/tests/unit/utils/test_utils_json.py
Due: py-compile

🔒 fix(auth): Use securely generated fallback secret in TokenManager (#49)
  src/codomyrmex/auth/tokens/token.py
Due: py-compile

🧪 test: improve robustness of get_env tests using monkeypatch (#38)
  src/codomyrmex/tests/unit/utils/test_utils_core.py
Due: py-compile

🛡️ Sentinel: [MEDIUM] Fix sensitive information leakage in api/health.py (#158)
  src/codomyrmex/api/health.py
Due: py-compile

🎨 Palette: add missing screen reader label to script arguments input (#153)
  src/codomyrmex/website/templates/scripts.html
Due: none

chore: update dependencies
  dependency-updates.md
  uv.lock
Due: validate-doc-links, check-placeholders

fix(orchestrator): replace vulnerable eval() with safe execution in mcp tools (#197)
  src/codomyrmex/orchestrator/mcp_tools.py
  src/codomyrmex/tests/unit/orchestrator/test_agent_orchestrator_extended.py
Due: py-compile

perf: replace synchronous time.sleep with async delegation in trajectory compressor (#206)
  .jules/bolt.md
Due: validate-doc-links, check-placeholders

manuscript: tokenize pheromone retention, fix abstract subsystem count; RASP docs for colony_kernel
  docs/manuscript/00_abstract.md
  docs/manuscript/03_results.md
  docs/manuscript/05_experimental_setup.md
  docs/manuscript/06_reproducibility.md
  docs/manuscript/07_scope_and_related_work.md
  docs/manuscript/99_references.md
  docs/manuscript/config.yaml
  docs/modules/colony_kernel/README.md
  docs/todo/AGENTS.md
  docs/todo/README.md
  src/codomyrmex/skills/skills/custom/colony_kernel/AGENTS.md
  src/codomyrmex/skills/skills/custom/colony_kernel/README.md
  src/manuscript_variables.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

fix: lazy google-genai import (unblocks 122 pytest collections); Pandoc pipeline; RASP bulk docs
  docs/modules/agents/open_gauss/AGENTS.md
  docs/modules/agents/open_gauss/README.md
  pyproject.toml
  scripts/compile_manuscript.py
  src/codomyrmex/agents/ai_code_editing/ai_code_helpers/config.py
  src/codomyrmex/agents/ai_code_editing/ai_code_helpers/generation.py
  src/codomyrmex/agents/gemini/gemini_client.py
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

test: exclude git submodule test dirs from main pytest collection
  pyproject.toml
Due: validate-dependencies

feat: v1.3.0 — new tests, doc accuracy, manuscript regeneration
  CLAUDE.md
  docs/manuscript/03_results.md
  docs/manuscript/config.yaml
  pyproject.toml
  src/codomyrmex/colony_kernel/PAI.md
  src/codomyrmex/tests/unit/colony_kernel/AGENTS.md
  src/codomyrmex/tests/unit/colony_kernel/test_falsification_worker.py
  src/codomyrmex/tests/unit/colony_kernel/test_pruning_daemon.py
  src/codomyrmex/tests/unit/colony_kernel/test_role_adapter.py
  uv.lock
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

fix: colony_kernel runtime bugs (recent_failures, role_adapter, falsification deposit, colony_status); add test_config_loader + test_models; fix manuscript inaccuracies
  docs/manuscript/01_introduction.md
  docs/manuscript/03_results.md
  docs/manuscript/06_reproducibility.md
  pyproject.toml
  src/codomyrmex/colony_kernel/consequence_memory.py
  src/codomyrmex/colony_kernel/falsification_worker.py
  src/codomyrmex/colony_kernel/kernel.py
  src/codomyrmex/colony_kernel/pruning_daemon.py
  src/codomyrmex/colony_kernel/role_adapter.py
  src/codomyrmex/tests/unit/colony_kernel/test_config_loader.py
  src/codomyrmex/tests/unit/colony_kernel/test_models.py
  src/codomyrmex/tests/unit/colony_kernel/test_pruning_daemon.py
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders

fix: role_adapter getattr pattern silences ty call-non-callable on all_profiles
  src/codomyrmex/colony_kernel/role_adapter.py
Due: py-compile

fix: replace asyncio.iscoroutinefunction with inspect.iscoroutinefunction (deprecated Python 3.14)
  src/codomyrmex/agents/hermes/gateway/cron.py
Due: py-compile

chore: remove accidental root json artifact
  json
Due: none

fix: DeploymentStatus canonical enum (10 members in infra.py); restore import in deployment_orchestrator; inspect.iscoroutinefunction in test_thin_comprehensive
  src/codomyrmex/ci_cd_automation/deployment_orchestrator.py
  src/codomyrmex/tests/unit/orchestrator/test_thin_comprehensive.py
  src/codomyrmex/validation/schemas/infra.py
Due: py-compile

fix: cerebrum FPF classes raise ImportError when networkx absent; update test _HAS_DEPS guards to check FPFAnalyzer is not None
  src/codomyrmex/cerebrum/fpf/combinatorics.py
  src/codomyrmex/cerebrum/fpf/orchestration.py
  src/codomyrmex/tests/unit/cerebrum/test_fpf_combinatorics.py
  src/codomyrmex/tests/unit/cerebrum/test_fpf_orchestration.py
Due: py-compile

fix: workflow-phase fixes — multiprocessing fork context, aiohttp 3.14 deprecation, import order, AGENTS.md v1.3.0 bump, Enum re-import in deployment_orchestrator
  AGENTS.md
  src/codomyrmex/ci_cd_automation/deployment_orchestrator.py
  src/codomyrmex/colony_kernel/py.typed
  src/codomyrmex/fpf/__init__.py
  src/codomyrmex/git_operations/core/repository_metadata.json
  src/codomyrmex/model_context_protocol/transport/client.py
  src/codomyrmex/orchestrator/execution/runner.py
  src/codomyrmex/tests/performance/test_lazy_imports.py
  src/codomyrmex/tests/performance/test_mcp_performance.py
  src/codomyrmex/tests/unit/ci_cd_automation/test_ci_cd_core.py
  src/codomyrmex/tests/unit/ci_cd_automation/test_deployment_orchestrator.py
  src/codomyrmex/tests/unit/coding/review/unit/test_dashboard.py
  src/codomyrmex/tests/unit/coverage_push/test_tier2_modules.py
  src/codomyrmex/tests/unit/git_analysis/test_gitnexus_bridge.py
  src/codomyrmex/tests/unit/hermes/test_hermes_approval.py
  src/codomyrmex/tests/unit/hermes/test_hermes_context_refs.py
  src/codomyrmex/tests/unit/hermes/test_hermes_gateway_config.py
  src/codomyrmex/tests/unit/hermes/test_hermes_plugins.py
  src/codomyrmex/tests/unit/hermes/test_hermes_url_safety.py
  src/codomyrmex/tests/unit/languages/test_languages_core.py
  src/codomyrmex/tests/unit/mcp/test_mcp_bridge_errors.py
  src/codomyrmex/tests/unit/mcp/test_mcp_resource_read.py
  src/codomyrmex/tests/unit/metrics/test_metrics.py
  src/codomyrmex/tests/unit/schemas/test_schemas.py
  src/codomyrmex/tests/unit/serialization/test_serialization.py
  src/codomyrmex/tests/unit/serialization/test_serialization_expansion.py
  src/codomyrmex/tests/unit/spatial/three_d/test_three_d.py
  src/codomyrmex/tests/unit/system_discovery/test_capability_scanner.py
  src/codomyrmex/tests/unit/system_discovery/test_structure_audit.py
  src/codomyrmex/tests/unit/vector_store/test_vector_store_models.py
  src/codomyrmex/tests/unit/workflow/test_workflow_memory.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

fix: PDF render pipeline — extract LaTeX from preamble.md, comment out JuliaMono (not installed), remove natbib (conflicts with --citeproc)
  docs/manuscript/preamble.md
  scripts/compile_manuscript.py
Due: py-compile, validate-doc-links, check-placeholders

fix: manuscript variables and inventory accuracy
  docs/manuscript/AGENTS.md
  docs/reference/inventory.md
  src/codomyrmex/AGENTS.md
  src/manuscript_variables.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

feat: include rendered manuscript PDF and HTML in repo
  output/paper.html
  output/paper.pdf
Due: none

fix: build_orchestrator module, manuscript variables, Docker stdin, count drift, integration tests
  AGENTS.md
  INDEX.md
  PAI.md
  README.md
  SKILL.md
  SPEC.md
  docs/AGENTS.md
  docs/README.md
  docs/index.md
  docs/reference/inventory.md
  src/INDEX.md
  src/codomyrmex/AGENTS.md
  src/codomyrmex/INDEX.md
  src/codomyrmex/SPEC.md
  src/codomyrmex/ci_cd_automation/AGENTS.md
  src/codomyrmex/coding/sandbox/container.py
  src/codomyrmex/email/generics.py
  src/codomyrmex/git_operations/core/repository_metadata.json
  src/codomyrmex/logging_monitoring/__init__.py
  src/codomyrmex/manuscript/variables.py
  tests/integration/test_cross_module_workflows.py
  tests/unit/colony_kernel/test_manuscript_consistency.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

feat: B1 MCP deprecation API exported, B5 secure cognitive PAI bridge, B4/B7 TODO updated
  TODO.md
  src/codomyrmex/model_context_protocol/__init__.py
  src/codomyrmex/orchestrator/_decorators.py
  src/codomyrmex/orchestrator/_shell_exec.py
  src/codomyrmex/pai_pm/secure_cognitive_bridge.py
  src/codomyrmex/spatial/mcp_tools.py
  src/codomyrmex/spatial/world_models/__init__.py
  tests/unit/pai_pm/test_secure_cognitive_bridge.py
Due: py-compile, validate-doc-links, check-placeholders

feat: B2 orchestrator refactor + R1 spatial world_models + ruff fixes
  src/codomyrmex/orchestrator/_batch_chain.py
  src/codomyrmex/orchestrator/_decorators.py
  src/codomyrmex/orchestrator/_shell_exec.py
  src/codomyrmex/orchestrator/thin.py
  tests/unit/spatial/world_models/__init__.py
  tests/unit/spatial/world_models/test_world_models.py
Due: py-compile
