Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Codomyrmex
# Install: uv sync (pre-commit is included in dev dependencies)
# Setup: pre-commit install
# Run: pre-commit run --all-files

repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3.10
        args: [--line-length=88]

  # Python linting and import sorting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports]

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: [--recursive, --configfile=pyproject.toml, src/codomyrmex/]

  # Python syntax checking
  - repo: local
    hooks:
      - id: py-compile
        name: py-compile
        entry: python -m py_compile
        language: system
        files: \.py$

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [yaml]
        exclude: ^.*\.github/.*$

  # JSON formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [json]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: [--disable=MD013, MD033, MD041]

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files

  # Dependency validation
  - repo: local
    hooks:
      - id: validate-dependencies
        name: Validate Dependencies
        entry: python3 scripts/validation/validate_dependencies.py
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false
        always_run: false

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  # Documentation validation
  - repo: local
    hooks:
      - id: validate-doc-links
        name: Validate Documentation Links
        entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
        language: system
        files: \.md$
        pass_filenames: false
        always_run: false

      - id: check-placeholders
        name: Check for Placeholder Content
        entry: python3 -c "import sys; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD', 'HACK', 'STUB']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
        language: system
        files: \.md$

      - id: validate-agents-structure
        name: Validate AGENTS.md Structure
        entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
        language: system
        files: AGENTS\.md$
        pass_filenames: false
        always_run: false

feat(neural): Wave 2 B1 — Transformer + Multi-Head Attention from scratch
  src/codomyrmex/neural/AGENTS.md
  src/codomyrmex/neural/PAI.md
  src/codomyrmex/neural/README.md
  src/codomyrmex/neural/SPEC.md
  src/codomyrmex/neural/__init__.py
  src/codomyrmex/neural/activations.py
  src/codomyrmex/neural/attention.py
  src/codomyrmex/neural/flash_attention.py
  src/codomyrmex/neural/layers.py
  src/codomyrmex/neural/mcp_tools.py
  src/codomyrmex/neural/transformer.py
  src/codomyrmex/tests/unit/neural/__init__.py
  src/codomyrmex/tests/unit/neural/test_neural.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

feat(neural,ssm): Wave 2 B2 — Flash Attention and Mamba SSM
  src/codomyrmex/ssm/AGENTS.md
  src/codomyrmex/ssm/PAI.md
  src/codomyrmex/ssm/README.md
  src/codomyrmex/ssm/SPEC.md
  src/codomyrmex/ssm/__init__.py
  src/codomyrmex/ssm/mamba.py
  src/codomyrmex/ssm/mcp_tools.py
  src/codomyrmex/tests/unit/ssm/__init__.py
  src/codomyrmex/tests/unit/ssm/test_ssm.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

feat(rlhf,slm,semantic_router,eval_harness): Waves 3-5 AI components
  src/codomyrmex/eval_harness/AGENTS.md
  src/codomyrmex/eval_harness/PAI.md
  src/codomyrmex/eval_harness/README.md
  src/codomyrmex/eval_harness/SPEC.md
  src/codomyrmex/semantic_router/AGENTS.md
  src/codomyrmex/semantic_router/PAI.md
  src/codomyrmex/semantic_router/README.md
  src/codomyrmex/semantic_router/SPEC.md
  src/codomyrmex/tests/unit/eval_harness/__init__.py
  src/codomyrmex/tests/unit/eval_harness/test_eval_harness.py
  src/codomyrmex/tests/unit/rlhf/__init__.py
  src/codomyrmex/tests/unit/rlhf/test_rlhf.py
  src/codomyrmex/tests/unit/semantic_router/__init__.py
  src/codomyrmex/tests/unit/semantic_router/test_semantic_router.py
  src/codomyrmex/tests/unit/slm/__init__.py
  src/codomyrmex/tests/unit/slm/test_slm.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

feat(ai_gateway,synthetic_data,model_merger,interpretability): App-layer AI components
  src/codomyrmex/ai_gateway/AGENTS.md
  src/codomyrmex/ai_gateway/PAI.md
  src/codomyrmex/ai_gateway/README.md
  src/codomyrmex/ai_gateway/SPEC.md
  src/codomyrmex/interpretability/AGENTS.md
  src/codomyrmex/interpretability/PAI.md
  src/codomyrmex/interpretability/README.md
  src/codomyrmex/interpretability/SPEC.md
  src/codomyrmex/model_merger/AGENTS.md
  src/codomyrmex/model_merger/PAI.md
  src/codomyrmex/model_merger/README.md
  src/codomyrmex/model_merger/SPEC.md
  src/codomyrmex/synthetic_data/AGENTS.md
  src/codomyrmex/synthetic_data/PAI.md
  src/codomyrmex/synthetic_data/README.md
  src/codomyrmex/synthetic_data/SPEC.md
  src/codomyrmex/tests/unit/ai_gateway/test_ai_gateway.py
  src/codomyrmex/tests/unit/interpretability/__init__.py
  src/codomyrmex/tests/unit/interpretability/test_interpretability.py
  src/codomyrmex/tests/unit/model_merger/__init__.py
  src/codomyrmex/tests/unit/model_merger/test_model_merger.py
  src/codomyrmex/tests/unit/synthetic_data/__init__.py
  src/codomyrmex/tests/unit/synthetic_data/test_synthetic_data.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

feat(data_curation,text_to_sql,peft,nas): Data pipeline and search components
  src/codomyrmex/data_curation/AGENTS.md
  src/codomyrmex/data_curation/PAI.md
  src/codomyrmex/data_curation/README.md
  src/codomyrmex/data_curation/SPEC.md
  src/codomyrmex/nas/AGENTS.md
  src/codomyrmex/nas/PAI.md
  src/codomyrmex/nas/README.md
  src/codomyrmex/nas/SPEC.md
  src/codomyrmex/nas/__init__.py
  src/codomyrmex/nas/mcp_tools.py
  src/codomyrmex/nas/search.py
  src/codomyrmex/peft/AGENTS.md
  src/codomyrmex/peft/PAI.md
  src/codomyrmex/peft/README.md
  src/codomyrmex/peft/SPEC.md
  src/codomyrmex/peft/__init__.py
  src/codomyrmex/peft/adapters.py
  src/codomyrmex/peft/mcp_tools.py
  src/codomyrmex/tests/unit/data_curation/__init__.py
  src/codomyrmex/tests/unit/data_curation/test_data_curation.py
  src/codomyrmex/tests/unit/nas/__init__.py
  src/codomyrmex/tests/unit/nas/test_nas.py
  src/codomyrmex/tests/unit/peft/__init__.py
  src/codomyrmex/tests/unit/peft/test_peft.py
  src/codomyrmex/tests/unit/text_to_sql/__init__.py
  src/codomyrmex/tests/unit/text_to_sql/test_text_to_sql.py
  src/codomyrmex/text_to_sql/AGENTS.md
  src/codomyrmex/text_to_sql/PAI.md
  src/codomyrmex/text_to_sql/README.md
  src/codomyrmex/text_to_sql/SPEC.md
  src/codomyrmex/text_to_sql/mcp_tools.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

feat(sprint18): doc scripts, git branches, logging correlation, shell refactor, swarm/collab/trust tests, v1.0.6
  .desloppify/config.json
  .desloppify/query.json
  pyproject.toml
  scorecard.png
  scripts/cloud/examples/basic_usage.py
  src/codomyrmex/documentation/scripts/check_doc_links.py
  src/codomyrmex/documentation/scripts/documentation_scan_report.py
  src/codomyrmex/documentation/scripts/fix_agents_structure.py
  src/codomyrmex/git_operations/core/commands/branching.py
  src/codomyrmex/git_operations/core/git.py
  src/codomyrmex/logging_monitoring/__init__.py
  src/codomyrmex/performance/__init__.py
  src/codomyrmex/terminal_interface/shells/__init__.py
  src/codomyrmex/terminal_interface/shells/interactive_shell.py
  src/codomyrmex/tests/unit/agents/test_trust_gateway_audit.py
  src/codomyrmex/tests/unit/collaboration/swarm/test_swarm.py
  src/codomyrmex/tests/unit/collaboration/test_collaboration.py
  uv.lock
Due: py-compile, validate-dependencies

fix(test): correct create_line_plot API call in integration test
  src/codomyrmex/tests/integration/data_visualization/test_visualization_performance.py
Due: py-compile

release(v1.0.7): Sprint 19 — doc audit, TODO reconciliation, 15 metrics corrected
  .github/README.md
  AGENTS.md
  CHANGELOG.md
  INDEX.md
  PAI.md
  README.md
  SPEC.md
  TODO.md
  docs/AGENTS.md
  docs/README.md
  pyproject.toml
  src/codomyrmex/__init__.py
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

fix(ci): reset coverage gate 70%→32% to match verified baseline
  .github/workflows/ci.yml
  pyproject.toml
  pytest.ini
Due: validate-dependencies

fix(ci): correct coverage gate to 31% (actual 31.81%, not 32%)
  .github/workflows/ci.yml
  pyproject.toml
  pytest.ini
Due: validate-dependencies

fix(git_operations): add list_branches to core/git.py re-exports
  src/codomyrmex/git_operations/core/git.py
Due: py-compile

fix(git_operations,tests): list_branches re-export + opencode stream timeout
  src/codomyrmex/git_operations/core/git.py
  src/codomyrmex/tests/unit/agents/cli/test_handlers.py
Due: py-compile

feat(cli,swarm,scripts): workflow nested class, asyncio fix, import cleanup
  CLAUDE.md
  git_analysis/git_report_git_tree.png
  git_analysis/git_report_summary_dashboard.png
  scripts/agents/mega_swarm_dispatcher.py
  scripts/agents/mega_swarm_harvester.py
  scripts/bio_simulation/run_colony.py
  src/codomyrmex/cli/core.py
  src/codomyrmex/collaboration/protocols/swarm.py
Due: py-compile, validate-doc-links, check-placeholders

chore(desloppify): update query.json from sprint 20 scan
  .desloppify/query.json
Due: none

fix(ruff): sort inline imports in swarm.py consensus_vote (I001)
  src/codomyrmex/collaboration/protocols/swarm.py
Due: py-compile

chore(desloppify): sync query.json final state
  .desloppify/query.json
Due: none

chore(desloppify): query.json resolved pattern update
  .desloppify/query.json
Due: none

fix(agents,collaboration,terminal): desloppify Sprint 21 findings
  src/codomyrmex/agents/pai/trust_gateway.py
  src/codomyrmex/collaboration/protocols/swarm.py
  src/codomyrmex/terminal_interface/shells/interactive_shell.py
  src/codomyrmex/tests/unit/collaboration/test_collaboration.py
Due: py-compile

feat(audio,ide,docs_gen,encryption,file_system,concurrency): add mcp_tools.py (81→87 modules)
  src/codomyrmex/audio/mcp_tools.py
  src/codomyrmex/concurrency/mcp_tools.py
  src/codomyrmex/docs_gen/mcp_tools.py
  src/codomyrmex/encryption/mcp_tools.py
  src/codomyrmex/file_system/mcp_tools.py
  src/codomyrmex/ide/mcp_tools.py
Due: py-compile

test(privacy,auth,encryption,file_system,concurrency,ide,docs_gen): Sprint 21 coverage push
  pyproject.toml
  src/codomyrmex/terminal_interface/shells/interactive_shell.py
  src/codomyrmex/tests/unit/agentic_memory/test_rules.py
  src/codomyrmex/tests/unit/agents/test_mcp_discovery.py
  src/codomyrmex/tests/unit/auth/test_auth_core.py
  src/codomyrmex/tests/unit/concurrency/__init__.py
  src/codomyrmex/tests/unit/concurrency/test_concurrency.py
  src/codomyrmex/tests/unit/concurrency/test_result_aggregator.py
  src/codomyrmex/tests/unit/docs_gen/__init__.py
  src/codomyrmex/tests/unit/docs_gen/test_docs_gen.py
  src/codomyrmex/tests/unit/docs_gen/test_docs_gen_full.py
  src/codomyrmex/tests/unit/encryption/__init__.py
  src/codomyrmex/tests/unit/encryption/test_encryption.py
  src/codomyrmex/tests/unit/file_system/test_file_system.py
  src/codomyrmex/tests/unit/ide/test_relay_cli.py
  src/codomyrmex/tests/unit/module_template/test_scaffold_comprehensive.py
  src/codomyrmex/tests/unit/privacy/test_privacy_comprehensive.py
  src/codomyrmex/tests/unit/telemetry/test_slo.py
Due: py-compile, validate-dependencies

feat(sprint19): skills installation + cognilayer bridge + desloppify fixes
  CLAUDE.md
  scripts/concurrency/concurrency_demo.py
  scripts/concurrency/orchestrate.py
  scripts/config_monitoring/orchestrate.py
  scripts/cost_management/cost_management_demo.py
  scripts/data_lineage/data_lineage_demo.py
  scripts/database_management/orchestrate.py
  scripts/deployment/orchestrate.py
  src/codomyrmex/agents/pai/mcp/discovery.py
  src/codomyrmex/collaboration/protocols/swarm.py
  src/codomyrmex/terminal_interface/shells/interactive_shell.py
Due: py-compile, validate-doc-links, check-placeholders

chore(release): v1.0.8 — Sprint 21: desloppify fixes, coverage push, 6 new MCP modules
  .desloppify/external_review_sessions/ext_20260302_223535_ee11ff64/canonical_import_20260302_225346.json
  .desloppify/external_review_sessions/ext_20260302_223535_ee11ff64/canonical_import_20260302_225411.json
  .desloppify/external_review_sessions/ext_20260302_223535_ee11ff64/review_result.json
  .desloppify/external_review_sessions/ext_20260302_223535_ee11ff64/session.json
  .desloppify/query.json
  scorecard.png
  scripts/docs_gen/orchestrate_docs.py
  scripts/edge_computing/orchestrator.py
  scripts/embodiment/examples/basic_usage.py
  scripts/environment_setup/orchestrate.py
  scripts/events/event_demo.py
  scripts/exceptions/orchestrate.py
Due: py-compile

feat(swarm): add JULES_WAVE_2.md — 122 per-module improvement tasks
  JULES_WAVE_2.md
Due: validate-doc-links, check-placeholders

ci(multiagent): slim CI matrix, add auto-merge + branch cleanup, fix CODEOWNERS, streamline PR template
  .desloppify/query.json
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-branches.yml
  .github/workflows/pre-commit.yml
  pytest.ini
Due: validate-doc-links, check-placeholders

ci: complete phase 4 multi-agent github infrastructure — 5 new pr/community health workflows (29 total)
  .github/WORKFLOW_IMPROVEMENTS.md
  .github/workflows/AGENTS.md
  .github/workflows/auto-assign.yml
  .github/workflows/dependabot-auto-approve.yml
  .github/workflows/dependency-review.yml
  .github/workflows/first-interaction.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/workflow-status.yml
Due: validate-doc-links, check-placeholders, validate-agents-structure

ci: complete phase 5 github infrastructure — PR commenting pipelines (31 total workflows)
  .github/WORKFLOW_IMPROVEMENTS.md
  .github/dependabot.yml
  .github/workflows/AGENTS.md
  .github/workflows/pr-coverage-comment.yml
  .github/workflows/pr-linter-comments.yml
  .github/workflows/workflow-status.yml
Due: validate-doc-links, check-placeholders, validate-agents-structure

ci: complete phase 6 github infrastructure — community & release automations (33 total workflows)
  .github/WORKFLOW_IMPROVEMENTS.md
  .github/release-drafter.yml
  .github/workflows/AGENTS.md
  .github/workflows/first-pr-merged.yml
  .github/workflows/release-drafter.yml
  .github/workflows/workflow-status.yml
Due: validate-doc-links, check-placeholders, validate-agents-structure

fix(data_viz): remove get_codomyrmex_logger wrapper + configure_plot dead code
  src/codomyrmex/agents/generic/cli_agent_base.py
  src/codomyrmex/agents/pai/mcp/discovery.py
  src/codomyrmex/agents/pai/mcp/server.py
  src/codomyrmex/data_visualization/charts/area_chart.py
  src/codomyrmex/data_visualization/charts/bar_chart.py
  src/codomyrmex/data_visualization/charts/box_plot.py
  src/codomyrmex/data_visualization/charts/heatmap.py
  src/codomyrmex/data_visualization/charts/histogram.py
  src/codomyrmex/data_visualization/charts/line_plot.py
  src/codomyrmex/data_visualization/charts/pie_chart.py
  src/codomyrmex/data_visualization/charts/plot_utils.py
  src/codomyrmex/data_visualization/charts/scatter_plot.py
  src/codomyrmex/data_visualization/engines/__init__.py
  src/codomyrmex/data_visualization/git/git_visualizer.py
  src/codomyrmex/tests/integration/documentation/test_documentation_accuracy.py
  src/codomyrmex/tests/unit/data_visualization/test_dataviz_utils.py
Due: py-compile
