Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Codomyrmex
# Install: uv sync (pre-commit is included in dev dependencies)
# Setup: pre-commit install
# Run: pre-commit run --all-files

repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3.10
        args: [--line-length=88]

  # Python linting and import sorting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports]

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: [--recursive, --configfile=pyproject.toml, src/codomyrmex/]

  # Python syntax checking
  - repo: local
    hooks:
      - id: py-compile
        name: py-compile
        entry: python -m py_compile
        language: system
        files: \.py$

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [yaml]
        exclude: ^.*\.github/.*$

  # JSON formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [json]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: [--disable=MD013, MD033, MD041]

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files

  # Dependency validation
  - repo: local
    hooks:
      - id: validate-dependencies
        name: Validate Dependencies
        entry: python3 scripts/validation/validate_dependencies.py
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false
        always_run: false

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  # Documentation validation
  - repo: local
    hooks:
      - id: validate-doc-links
        name: Validate Documentation Links
        entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
        language: system
        files: \.md$
        pass_filenames: false
        always_run: false

      - id: check-placeholders
        name: Check for Placeholder Content
        entry: python3 -c "import sys; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD', 'HACK', 'STUB']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
        language: system
        files: \.md$

      - id: validate-agents-structure
        name: Validate AGENTS.md Structure
        entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
        language: system
        files: AGENTS\.md$
        pass_filenames: false
        always_run: false

test(evolutionary_ai): fitness, selection, and population manager tests (78 tests)
  src/codomyrmex/tests/unit/evolutionary_ai/test_fitness.py
  src/codomyrmex/tests/unit/evolutionary_ai/test_population_manager.py
  src/codomyrmex/tests/unit/evolutionary_ai/test_selection.py
Due: py-compile

test(telemetry): metric aggregator tests (50 tests)
  src/codomyrmex/tests/unit/telemetry/metrics/test_metric_aggregator.py
Due: py-compile

test(telemetry): spans module tests (70 tests)
  src/codomyrmex/tests/unit/telemetry/test_spans.py
Due: py-compile

test(serialization): exceptions module — 64 zero-mock tests
  src/codomyrmex/tests/unit/serialization/test_serialization_exceptions.py
Due: py-compile

test(vector_store): extended models and store coverage — 69 zero-mock tests
  src/codomyrmex/tests/unit/vector_store/test_vector_store_extended.py
Due: py-compile

test(cache): eviction policies LRU/LFU/TTL/FIFO — 60 zero-mock tests
  src/codomyrmex/tests/unit/cache/test_cache_policies.py
Due: py-compile

test(cache): stats and serializers modules — 76 zero-mock tests
  src/codomyrmex/tests/unit/cache/test_cache_serializers.py
  src/codomyrmex/tests/unit/cache/test_cache_stats.py
Due: py-compile

test(evolutionary_ai): genome module — 31 zero-mock tests
  src/codomyrmex/tests/unit/evolutionary_ai/test_genome.py
Due: py-compile

test(cache): warmers module — 41 zero-mock unit tests
  src/codomyrmex/tests/unit/cache/test_cache_warmers.py
Due: py-compile

test(coverage): 4 zero-mock test files — 222 new tests
  src/codomyrmex/tests/unit/cache/test_cache_exceptions.py
  src/codomyrmex/tests/unit/networking/test_networking_exceptions.py
  src/codomyrmex/tests/unit/serialization/test_serialization_manager.py
  src/codomyrmex/tests/unit/utils/test_i18n.py
Due: py-compile

test(coverage): retry/alerts/experiments — 100 zero-mock tests
  src/codomyrmex/tests/unit/feature_flags/test_experiments.py
  src/codomyrmex/tests/unit/telemetry/test_alerts.py
  src/codomyrmex/tests/unit/utils/test_retry.py
Due: py-compile

test(telemetry): add 106 metrics tests covering Counter/Gauge/Histogram/Summary/Timer/MetricsRegistry/Metrics/get_metrics
  src/codomyrmex/tests/unit/telemetry/test_metrics.py
Due: py-compile

test(events/containerization/utils): add 134 tests for event exceptions, container exceptions, and refined utilities
  src/codomyrmex/tests/unit/containerization/test_containerization_exceptions.py
  src/codomyrmex/tests/unit/events/test_event_exceptions.py
  src/codomyrmex/tests/unit/utils/test_refined.py
Due: py-compile

test(mcp/search): add 108 tests for MCPToolError/FieldError/error codes and search Document/Tokenizer/FuzzyMatcher/QueryParser
  src/codomyrmex/tests/unit/model_context_protocol/unit/test_mcp_errors.py
  src/codomyrmex/tests/unit/search/test_search_models.py
Due: py-compile

feat(sprint15): coverage ratchet — 298 new tests, source bug fix, docs
  TO-DO.md
  src/codomyrmex/cli/handlers/quick.py
  src/codomyrmex/tests/unit/agents/helpers.py
  src/codomyrmex/tests/unit/cli/test_cli_quick_handlers.py
  src/codomyrmex/tests/unit/containerization/test_kubernetes_orchestrator.py
  src/codomyrmex/tests/unit/email/agentmail/test_agentmail_provider.py
  src/codomyrmex/tests/unit/ide/test_antigravity.py
Due: py-compile, validate-doc-links, check-placeholders

test(collaboration/tool_use): add 117 tests for collaboration models and tool input/output validation
  src/codomyrmex/tests/unit/collaboration/test_collaboration_models.py
  src/codomyrmex/tests/unit/tool_use/test_tool_validation.py
Due: py-compile

test(coverage): add 174 tests for hashing, signing, streaming, ledger/account
  src/codomyrmex/tests/unit/encryption/test_signing.py
  src/codomyrmex/tests/unit/finance/test_ledger_engine.py
  src/codomyrmex/tests/unit/serialization/test_streaming.py
  src/codomyrmex/tests/unit/utils/test_hashing_module.py
Due: py-compile

feat(sprint-16): Ruff→0, coverage gate 70%, antigravity split, import audit
  TODO.md
  pyproject.toml
  src/codomyrmex/ide/antigravity/__init__.py
  src/codomyrmex/ide/antigravity/client.py
  src/codomyrmex/model_ops/fine_tuning/fine_tuning.py
  src/codomyrmex/spatial/three_d/__init__.py
  src/codomyrmex/tests/unit/git_operations/test_repo_cli_extended.py
  src/codomyrmex/tests/unit/ide/test_antigravity_client.py
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders

fix(ruff): resolve E402/I001 violations in test_ledger_engine.py
  src/codomyrmex/tests/unit/finance/test_ledger_engine.py
Due: py-compile

fix(coverage): ratchet pytest.ini + ci.yml gate 68→70 (matches pyproject.toml)
  .github/workflows/ci.yml
  pytest.ini
Due: none

test(coverage): Batch 6 — dead_letter, distributed_lock, infra_schemas, in_memory_queue (140 tests)
  src/codomyrmex/logistics/task/backends/in_memory_queue.py
  src/codomyrmex/tests/unit/concurrency/test_dead_letter_queue.py
  src/codomyrmex/tests/unit/concurrency/test_distributed_lock.py
  src/codomyrmex/tests/unit/logistics/test_in_memory_queue.py
  src/codomyrmex/tests/unit/validation/test_infra_schemas.py
Due: py-compile

test(coverage): Batch 7 — specialized_exceptions, orchestrator_exceptions (75 tests)
  src/codomyrmex/tests/unit/exceptions/test_specialized_exceptions.py
  src/codomyrmex/tests/unit/orchestrator/test_orchestrator_exceptions.py
Due: py-compile

up
  .gitignore
Due: none

up
  AGENTS.md
  CLAUDE.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

add unit tests for multimodal and video generation modules
  src/codomyrmex/agents/gemini/gemini_client.py
  src/codomyrmex/multimodal/__init__.py
  src/codomyrmex/multimodal/image_generation.py
  src/codomyrmex/tests/unit/multimodal/test_image_generation.py
  src/codomyrmex/tests/unit/video/generation/test_video_generation.py
  src/codomyrmex/video/__init__.py
  src/codomyrmex/video/generation/__init__.py
  src/codomyrmex/video/generation/video_generator.py
Due: py-compile

feat(config): Auto-generate config directories for all source modules
  scripts/maintenance/generate_configs.py
Due: py-compile

docs: Comprehensive GitHub README with full module inventory and mermaid diagrams
  .github/README.md
Due: validate-doc-links, check-placeholders

up
  .desloppify/query.json
  MEMORY/WORK/20260302-000000_desloppify-codomyrmex-quality/PRD.md
  src/codomyrmex/calendar_integration/AGENTS.md
  src/codomyrmex/cloud/AGENTS.md
  src/codomyrmex/collaboration/AGENTS.md
  src/codomyrmex/data_visualization/AGENTS.md
  src/codomyrmex/docs_gen/AGENTS.md
  src/codomyrmex/email/AGENTS.md
  src/codomyrmex/prompt_engineering/AGENTS.md
  src/codomyrmex/release/AGENTS.md
  src/codomyrmex/scrape/AGENTS.md
  src/codomyrmex/skills/AGENTS.md
  src/codomyrmex/telemetry/AGENTS.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

docs: Deep-link README with 95-module inventory, docs hub, and improved docs/README
  .github/README.md
  docs/README.md
Due: validate-doc-links, check-placeholders

feat(autograd,logit_processor): Wave 1 A1+A5 — autograd engine and logit processor
  src/codomyrmex/autograd/AGENTS.md
  src/codomyrmex/autograd/PAI.md
  src/codomyrmex/autograd/README.md
  src/codomyrmex/autograd/SPEC.md
  src/codomyrmex/autograd/__init__.py
  src/codomyrmex/autograd/engine.py
  src/codomyrmex/autograd/mcp_tools.py
  src/codomyrmex/autograd/ops.py
  src/codomyrmex/logit_processor/__init__.py
  src/codomyrmex/logit_processor/mcp_tools.py
  src/codomyrmex/logit_processor/processor.py
  src/codomyrmex/tests/unit/autograd/__init__.py
  src/codomyrmex/tests/unit/autograd/test_autograd.py
  src/codomyrmex/tests/unit/logit_processor/__init__.py
  src/codomyrmex/tests/unit/logit_processor/test_logit_processor.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

feat(logit_processor): Sampling strategies + MCP tools for CoT/ReAct
  src/codomyrmex/agents/core/mcp_tools.py
  src/codomyrmex/llm/mcp_tools.py
Due: py-compile

feat(tokenizer): Wave 1 A2 — BPE tokenizer from scratch
  src/codomyrmex/tests/unit/tokenizer/__init__.py
  src/codomyrmex/tests/unit/tokenizer/test_tokenizer.py
  src/codomyrmex/tokenizer/AGENTS.md
  src/codomyrmex/tokenizer/PAI.md
  src/codomyrmex/tokenizer/README.md
  src/codomyrmex/tokenizer/SPEC.md
  src/codomyrmex/tokenizer/__init__.py
  src/codomyrmex/tokenizer/bpe.py
  src/codomyrmex/tokenizer/mcp_tools.py
  src/codomyrmex/tokenizer/vocab.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

feat(quantization): Wave 1 A3 — Int8/FP4 quantization library
  src/codomyrmex/quantization/AGENTS.md
  src/codomyrmex/quantization/PAI.md
  src/codomyrmex/quantization/README.md
  src/codomyrmex/quantization/SPEC.md
  src/codomyrmex/quantization/__init__.py
  src/codomyrmex/quantization/fp4.py
  src/codomyrmex/quantization/int8.py
  src/codomyrmex/quantization/mcp_tools.py
  src/codomyrmex/quantization/utils.py
  src/codomyrmex/tests/unit/quantization/__init__.py
  src/codomyrmex/tests/unit/quantization/test_quantization.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

feat(matmul_kernel,softmax_opt): Wave 1 A4 — tiled matmul and optimized softmax
  src/codomyrmex/matmul_kernel/AGENTS.md
  src/codomyrmex/matmul_kernel/PAI.md
  src/codomyrmex/matmul_kernel/README.md
  src/codomyrmex/matmul_kernel/SPEC.md
  src/codomyrmex/matmul_kernel/__init__.py
  src/codomyrmex/matmul_kernel/kernel.py
  src/codomyrmex/matmul_kernel/mcp_tools.py
  src/codomyrmex/softmax_opt/AGENTS.md
  src/codomyrmex/softmax_opt/PAI.md
  src/codomyrmex/softmax_opt/README.md
  src/codomyrmex/softmax_opt/SPEC.md
  src/codomyrmex/softmax_opt/__init__.py
  src/codomyrmex/softmax_opt/kernel.py
  src/codomyrmex/softmax_opt/mcp_tools.py
  src/codomyrmex/tests/unit/matmul_kernel/__init__.py
  src/codomyrmex/tests/unit/matmul_kernel/test_matmul_kernel.py
  src/codomyrmex/tests/unit/softmax_opt/__init__.py
  src/codomyrmex/tests/unit/softmax_opt/test_softmax_opt.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure
