Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

py-compile:
  name: py-compile
  entry: python -m py_compile
  language: system

validate-dependencies:
  name: Validate Dependencies
  entry: python3 scripts/validation/validate_dependencies.py
  language: system
  pass_filenames: false
  always_run: false

validate-doc-links:
  name: Validate Documentation Links
  entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
  language: system
  pass_filenames: false
  always_run: false

check-placeholders:
  name: Check for Placeholder Content
  entry: python3 -c "import sys; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD', 'HACK', 'STUB']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
  language: system

validate-agents-structure:
  name: Validate AGENTS.md Structure
  entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
  language: system
  pass_filenames: false
  always_run: false

feat: R2 wallet ZK-proofs, R3 identity biocognitive, B3 video audit, manuscript PDF
  TODO.md
  src/codomyrmex/identity/__init__.py
  src/codomyrmex/identity/biocognitive.py
  src/codomyrmex/identity/manager.py
  src/codomyrmex/identity/mcp_tools.py
  src/codomyrmex/video/mcp_tools.py
  src/codomyrmex/video/processing/video_processor.py
  src/codomyrmex/wallet/__init__.py
  src/codomyrmex/wallet/core.py
  src/codomyrmex/wallet/mcp_tools.py
  src/codomyrmex/wallet/zk_proof.py
  tests/unit/identity/test_biocognitive_hooks.py
  tests/unit/wallet/test_zk_proof.py
Due: py-compile, validate-doc-links, check-placeholders

feat: add DemoCreate showcase video for Codomyrmex
  docs/assets/demo_stills/still_01.png
  docs/assets/demo_stills/still_02.png
  docs/assets/demo_stills/still_03.png
  docs/assets/demo_stills/still_04.png
  docs/assets/demo_stills/still_05.png
  docs/assets/demo_stills/still_06.png
Due: none

fix: pin manuscript artifact path
  src/codomyrmex/manuscript/variables.py
Due: py-compile

fix: normalize PDF release bytes
  .github/workflows/colony-kernel-publication.yml
  docs/manuscript/06_reproducibility.md
  scripts/compile_manuscript.py
  scripts/generate_release_manifest.py
Due: py-compile, validate-doc-links, check-placeholders

fix: serialize SQLite budget initialization
  src/codomyrmex/colony_kernel/resource_ledger.py
Due: py-compile

docs: finalize red-team evidence baseline
  TODO.md
  docs/manuscript/RELEASE_PROVENANCE.md
  review_artifacts/Codomyrmex_Action_Register_2026-07-13_Follow_Up.xlsx
  review_artifacts/Codomyrmex_RedTeam_FirstPrinciples_Science_Follow_Up_2026-07-14.md
  review_artifacts/Codomyrmex_Reproduction_Evidence_Follow_Up_2026-07-13.md
Due: validate-doc-links, check-placeholders

docs: finalize rc1 provenance
  docs/manuscript/RELEASE_PROVENANCE.md
  review_artifacts/Codomyrmex_Action_Register_2026-07-13_Follow_Up.xlsx
  review_artifacts/Codomyrmex_Reproduction_Evidence_Follow_Up_2026-07-13.md
Due: validate-doc-links, check-placeholders

docs: synchronize action register with rc4 evidence
  TODO.md
  docs/manuscript/RELEASE_PROVENANCE.md
  review_artifacts/Codomyrmex_Action_Register_2026-07-13_Follow_Up.xlsx
Due: validate-doc-links, check-placeholders

docs: refresh measured coverage checkpoint
  TODO.md
Due: validate-doc-links, check-placeholders

docs: record clean-clone release evidence
  TODO.md
  docs/manuscript/RELEASE_PROVENANCE.md
Due: validate-doc-links, check-placeholders

docs: finalize rc2 provenance
  TODO.md
  docs/manuscript/RELEASE_PROVENANCE.md
Due: validate-doc-links, check-placeholders

build: make publication evidence reproducible
  scripts/generate_release_manifest.py
  src/codomyrmex/manuscript/variables.py
Due: py-compile

docs: align coverage gate and release register
  README.md
  TODO.md
  docs/manuscript/RELEASE_PROVENANCE.md
  review_artifacts/Codomyrmex_Action_Register_2026-07-13_Follow_Up.xlsx
Due: validate-doc-links, check-placeholders

test: add causal gate mechanism contracts
  review_artifacts/Codomyrmex_Action_Register_2026-07-13_Follow_Up.xlsx
  tests/unit/colony_kernel/test_mutation_sensitive_mechanisms.py
Due: py-compile

feat(agents): persist cross-runtime skills and readonly MCP setup
  .agent/SKILL_INDEX.md
  .agents/skills/agent-interop/SKILL.md
  .agents/skills/first-principles/SKILL.md
  .agents/skills/mcp-tool-use/SKILL.md
  .agents/skills/red-team/SKILL.md
  .agents/skills/systems-thinking/SKILL.md
  .claude/skills/agent-interop/SKILL.md
  .claude/skills/first-principles/SKILL.md
  .claude/skills/mcp-tool-use/SKILL.md
  .claude/skills/red-team/SKILL.md
  .claude/skills/systems-thinking/SKILL.md
  .codex/config.toml
  AGENTS.md
  CLAUDE.md
  config/claude_code_mcp.example.json
  config/hermes_external_skills.example.yaml
  docs/agents/AGENTS.md
  docs/agents/README.md
  docs/agents/agent-interoperability.md
  scripts/model_context_protocol/run_mcp_server.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

docs: synchronize rc8 publication evidence
  TODO.md
  docs/manuscript/RELEASE_PROVENANCE.md
  review_artifacts/Codomyrmex_Action_Register_2026-07-13_Follow_Up.xlsx
  review_artifacts/Codomyrmex_RedTeam_FirstPrinciples_Science_Follow_Up_2026-07-14.md
  review_artifacts/Codomyrmex_Reproduction_Evidence_Follow_Up_2026-07-13.md
  tests/RUNNING_TESTS.md
  tests/integration/hermes/test_gateway_interactive_scaffolding.py
  tests/unit/README.md
  tests/unit/SPEC.md
Due: py-compile, validate-doc-links, check-placeholders

docs: finalize rc11 evidence hashes
  TODO.md
  docs/manuscript/RELEASE_PROVENANCE.md
  review_artifacts/Codomyrmex_Action_Register_2026-07-13_Follow_Up.xlsx
  review_artifacts/Codomyrmex_RedTeam_FirstPrinciples_Science_Follow_Up_2026-07-14.md
  review_artifacts/Codomyrmex_Reproduction_Evidence_Follow_Up_2026-07-13.md
Due: validate-doc-links, check-placeholders

release: harden benchmark receipt provenance
  TODO.md
  docs/manuscript/05_experimental_setup.md
  docs/manuscript/RELEASE_PROVENANCE.md
  evaluations/colony_kernel/README.md
  evaluations/colony_kernel/RESEARCH_PROTOCOL.md
  evaluations/colony_kernel/runner.py
  evaluations/colony_kernel/stages.py
  review_artifacts/Codomyrmex_Action_Register_2026-07-13_Follow_Up.xlsx
  review_artifacts/Codomyrmex_RedTeam_FirstPrinciples_Science_Follow_Up_2026-07-14.md
  review_artifacts/Codomyrmex_Reproduction_Evidence_Follow_Up_2026-07-13.md
  scripts/generate_release_manifest.py
  scripts/package_release_evidence.py
  scripts/verify_release_candidate.py
  tests/unit/colony_kernel/test_benchmark_contracts.py
  tests/unit/colony_kernel/test_publication_contracts.py
  tests/unit/release/test_release_provenance.py
Due: py-compile, validate-doc-links, check-placeholders

docs: correct rc14 provenance references
  TODO.md
  docs/manuscript/RELEASE_PROVENANCE.md
  review_artifacts/Codomyrmex_Action_Register_2026-07-13_Follow_Up.xlsx
  review_artifacts/Codomyrmex_RedTeam_FirstPrinciples_Science_Follow_Up_2026-07-14.md
  review_artifacts/Codomyrmex_Reproduction_Evidence_Follow_Up_2026-07-13.md
Due: validate-doc-links, check-placeholders

test: isolate authorization expiry timing
  TODO.md
  docs/manuscript/RELEASE_PROVENANCE.md
  review_artifacts/Codomyrmex_Action_Register_2026-07-13_Follow_Up.xlsx
  review_artifacts/Codomyrmex_RedTeam_FirstPrinciples_Science_Follow_Up_2026-07-14.md
  review_artifacts/Codomyrmex_Reproduction_Evidence_Follow_Up_2026-07-13.md
  tests/unit/colony_kernel/test_enforcement_release.py
Due: py-compile, validate-doc-links, check-placeholders

release: make evidence packaging reproducible
  scripts/package_release_evidence.py
  tests/unit/release/test_release_provenance.py
Due: py-compile

docs: advance candidate provenance to rc16
  TODO.md
  docs/manuscript/RELEASE_PROVENANCE.md
  review_artifacts/Codomyrmex_Action_Register_2026-07-13_Follow_Up.xlsx
  review_artifacts/Codomyrmex_RedTeam_FirstPrinciples_Science_Follow_Up_2026-07-14.md
  review_artifacts/Codomyrmex_Reproduction_Evidence_Follow_Up_2026-07-13.md
Due: validate-doc-links, check-placeholders

release: remove package manifest self-reference
  scripts/package_release_evidence.py
  tests/unit/release/test_release_provenance.py
Due: py-compile

docs: pin final candidate provenance
  TODO.md
  docs/manuscript/RELEASE_PROVENANCE.md
  review_artifacts/Codomyrmex_Action_Register_2026-07-13_Follow_Up.xlsx
  review_artifacts/Codomyrmex_RedTeam_FirstPrinciples_Science_Follow_Up_2026-07-14.md
  review_artifacts/Codomyrmex_Reproduction_Evidence_Follow_Up_2026-07-13.md
Due: validate-doc-links, check-placeholders

docs: correct final candidate audit label
  TODO.md
  docs/manuscript/RELEASE_PROVENANCE.md
  review_artifacts/Codomyrmex_Action_Register_2026-07-13_Follow_Up.xlsx
  review_artifacts/Codomyrmex_RedTeam_FirstPrinciples_Science_Follow_Up_2026-07-14.md
  review_artifacts/Codomyrmex_Reproduction_Evidence_Follow_Up_2026-07-13.md
Due: validate-doc-links, check-placeholders

release: harden benchmark provenance verification
  docs/manuscript/05_experimental_setup.md
  docs/manuscript/06_reproducibility.md
  evaluations/colony_kernel/README.md
  evaluations/colony_kernel/RESEARCH_PROTOCOL.md
  evaluations/colony_kernel/executor_key_registry.json
  evaluations/colony_kernel/runner.py
  evaluations/colony_kernel/stages.py
  review_artifacts/Codomyrmex_RedTeam_FirstPrinciples_Science_Follow_Up_2026-07-14.md
  scripts/generate_release_manifest.py
  scripts/package_release_evidence.py
  scripts/verify_release_candidate.py
  tests/unit/colony_kernel/test_benchmark_contracts.py
  tests/unit/release/test_release_provenance.py
Due: py-compile, validate-doc-links, check-placeholders

Path conditions:
  py-compile: any of: \.py$
  validate-dependencies: any of: ^pyproject\.toml$
  validate-doc-links: any of: \.md$
  check-placeholders: any of: \.md$
  validate-agents-structure: any of: AGENTS\.md$
