Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

py-compile:
  name: py-compile
  entry: python -m py_compile
  language: system

validate-dependencies:
  name: Validate Dependencies
  entry: python3 scripts/validation/validate_dependencies.py
  language: system
  pass_filenames: false
  always_run: false

validate-doc-links:
  name: Validate Documentation Links
  entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
  language: system
  pass_filenames: false
  always_run: false

check-placeholders:
  name: Check for Placeholder Content
  entry: python3 -c "import sys; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD', 'HACK', 'STUB']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
  language: system

validate-agents-structure:
  name: Validate AGENTS.md Structure
  entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
  language: system
  pass_filenames: false
  always_run: false

test(trust): align classification tests with the fail-closed policy
  tests/unit/agents/test_trust_gateway.py
  tests/unit/agents/test_trust_gateway_audit.py
Due: py-compile

test: fix leaked file handles and a third-party deprecation failure
  pyproject.toml
  tests/unit/data_visualization/test_mermaid_generator.py
  tests/unit/soul/test_mcp_soul.py
  tests/unit/soul/test_mcp_tools.py
Due: py-compile, validate-dependencies

perf(tests): stop scanning the whole heap twice per test
  tests/conftest.py
Due: py-compile

test(agents): check lazy imports in a subprocess, not by purging sys.modules
  tests/unit/agents/test_agents_lazy_all.py
Due: py-compile

test: close sockets in networking tests; skip chmod tests where moot
  tests/support/permissions.py
  tests/unit/networking/test_networking.py
  tests/unit/system_discovery/test_capability_scanner.py
  tests/unit/system_discovery/test_dependency_analyzer.py
Due: py-compile

fix(manuscript): run ruff and ty through the active interpreter
  src/codomyrmex/manuscript/variables.py
Due: py-compile

ci: let pyproject's warning filters apply; tighten test timeouts
  .github/workflows/ci-integration.yml
  .github/workflows/ci.yml
  pyproject.toml
Due: validate-dependencies

fix(concurrency): keep entries retryable after a failed DLQ replay
  src/codomyrmex/concurrency/dead_letter.py
Due: py-compile

test: mark the deliberate fixture secret for detect-secrets
  tests/conftest.py
Due: py-compile

ci(lighthouse): drop render-blocking Google Fonts; take best of 3 runs
  .github/lighthouse-ci.json
  mkdocs.yml
Due: none

fix(manuscript): defer PDF-render receipts when no PDF is rendered
  scripts/validate_manuscript_integrity.py
  tests/unit/manuscript/test_integrity.py
Due: py-compile

test(hermes): close SQLite session stores the tests open
  tests/unit/hermes/test_hermes_session.py
Due: py-compile

test(release): assert warnings block via pyproject, not -W error
  tests/unit/release/test_test_evidence.py
Due: py-compile

fix(metrics): let StatsDClient close its UDP socket
  src/codomyrmex/telemetry/metrics/SPEC.md
  src/codomyrmex/telemetry/metrics/statsd_client.py
  tests/unit/metrics/test_metrics.py
  tests/unit/metrics/test_metrics_expansion.py
Due: py-compile, validate-doc-links, check-placeholders

fix(git_analysis): handle detached HEAD in history and topology
  src/codomyrmex/git_analysis/core/history_analyzer.py
  tests/unit/git_analysis/test_history_analyzer.py
Due: py-compile

style(docs): satisfy markdownlint table style in metrics SPEC
  src/codomyrmex/telemetry/metrics/SPEC.md
Due: validate-doc-links, check-placeholders

chore(pre-commit): syntax-check mkdocs.yml instead of failing on its tags
  .pre-commit-config.yaml
Due: none

fix(text_to_sql): match dangerous keywords on word boundaries
  src/codomyrmex/text_to_sql/engine.py
  tests/unit/text_to_sql/test_text_to_sql.py
Due: py-compile

perf(cache): monotonic timing and bisected hit-rate windows
  src/codomyrmex/cache/serializers/__init__.py
  src/codomyrmex/cache/stats.py
  src/codomyrmex/cache/warmers/tracker.py
  src/codomyrmex/cache/warmers/warmer.py
  src/codomyrmex/coding/sandbox/container.py
  tests/unit/cache/test_cache_stats.py
Due: py-compile

fix(privacy): real Laplace noise from a CSPRNG
  src/codomyrmex/privacy/mixnet.py
  src/codomyrmex/privacy/privacy.py
  tests/unit/privacy/test_privacy_comprehensive.py
  tests/unit/privacy/test_privacy_coverage.py
Due: py-compile

perf(hermes): compile the wiki-link pattern once; test the real tool
  src/codomyrmex/agents/hermes/mcp_tools_pkg/memory.py
  tests/unit/hermes/test_hermes_graph_ki_tools.py
Due: py-compile

fix(website): pin CDN libraries and enforce Subresource Integrity
  src/codomyrmex/website/templates/awareness.html
  src/codomyrmex/website/templates/docs.html
  tests/unit/website/dashboard_request_counts.cjs
  tests/unit/website/test_template_external_assets.py
Due: py-compile

fix(website): escape untrusted data before innerHTML in dashboard templates
  src/codomyrmex/website/assets/js/app.js
  src/codomyrmex/website/templates/awareness.html
  src/codomyrmex/website/templates/base.html
  src/codomyrmex/website/templates/dispatch.html
  src/codomyrmex/website/templates/docs.html
  src/codomyrmex/website/templates/health.html
  src/codomyrmex/website/templates/index.html
  src/codomyrmex/website/templates/modules.html
  src/codomyrmex/website/templates/telemetry.html
  src/codomyrmex/website/templates/tools.html
  tests/unit/website/test_dashboard_xss_sinks.py
Due: py-compile

fix(website): bound test-status polling on the health page
  src/codomyrmex/website/templates/health.html
  tests/unit/website/dashboard_request_counts.cjs
  tests/unit/website/test_dashboard_single_binding.py
Due: py-compile

fix(website): path-based root containment; decode config filenames
  src/codomyrmex/website/data_provider.py
  src/codomyrmex/website/handlers/api_handler.py
  tests/unit/website/unit/test_data_provider.py
Due: py-compile

perf: hoist static lookup tables and avoid redundant filesystem scans
  src/codomyrmex/api/rate_limiting/limiters.py
  src/codomyrmex/llm/tools/__init__.py
  src/codomyrmex/serialization/serialization_manager.py
  src/codomyrmex/system_discovery/module_catalog.py
  src/codomyrmex/system_discovery/module_introspector.py
  src/codomyrmex/website/data_provider.py
Due: py-compile

perf(system_discovery): walk statements only when introspecting modules
  src/codomyrmex/system_discovery/module_introspector.py
  tests/unit/system_discovery/test_introspector_statement_walk.py
Due: py-compile

fix(website): stop app.js double-binding page-owned handlers
  src/codomyrmex/website/assets/css/style.css
  src/codomyrmex/website/assets/js/app.js
  src/codomyrmex/website/templates/chat.html
  src/codomyrmex/website/templates/config.html
  src/codomyrmex/website/templates/docs.html
  src/codomyrmex/website/templates/health.html
  tests/unit/website/dashboard_request_counts.cjs
  tests/unit/website/test_dashboard_single_binding.py
Due: py-compile

fix(workflows): make agent workflows portable and correctly listed
  .agent/workflows/AGENTS.md
  .agent/workflows/codomyrmexAnalyze.md
  .agent/workflows/codomyrmexDocs.md
  .agent/workflows/codomyrmexMemory.md
  .agent/workflows/codomyrmexSearch.md
  .agent/workflows/codomyrmexStatus.md
  .agent/workflows/codomyrmexTrust.md
  .agent/workflows/codomyrmexVerify.md
  .agent/workflows/codomyrmexWorktree.md
  .agent/workflows/coveragePush.md
  .agent/workflows/gitnexus.md
  .agent/workflows/moduleHealthAudit.md
  src/codomyrmex/agents/pai/mcp/proxy_tools.py
  src/codomyrmex/cli/doctor.py
  tests/unit/agents/test_mcp_discovery.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

fix(database): context managers for connections; close them in tests
  src/codomyrmex/database_management/API_SPECIFICATION.md
  src/codomyrmex/database_management/db_manager.py
  src/codomyrmex/database_management/migration/migration_manager.py
  tests/unit/database_management/test_db_connections.py
  tests/unit/database_management/test_db_core_connections.py
  tests/unit/database_management/test_db_core_ops_new.py
  tests/unit/database_management/test_db_migrations.py
  tests/unit/database_management/test_db_queries.py
Due: py-compile, validate-doc-links, check-placeholders

style(docs): markdownlint fixes in git_analysis test docs
  tests/unit/git_analysis/AGENTS.md
  tests/unit/git_analysis/README.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

test: mark placeholder database credentials for detect-secrets
  src/codomyrmex/database_management/API_SPECIFICATION.md
  tests/unit/database_management/test_db_connections.py
Due: py-compile, validate-doc-links, check-placeholders

test(git_analysis): run history tests on a fixture repo, drop duplicate
  tests/unit/git_analysis/AGENTS.md
  tests/unit/git_analysis/README.md
  tests/unit/git_analysis/conftest.py
  tests/unit/git_analysis/test_history_analyzer.py
  tests/unit/git_analysis/test_mcp_git_analysis.py
  tests/unit/git_analysis/test_mcp_tools.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

test: mark privacy fixture values for detect-secrets
  tests/unit/privacy/test_privacy_comprehensive.py
  tests/unit/privacy/test_privacy_coverage.py
Due: py-compile

chore(pre-commit): let detect-secrets skip SRI hashes; fix template EOFs
  .pre-commit-config.yaml
  src/codomyrmex/website/templates/awareness.html
  src/codomyrmex/website/templates/base.html
  src/codomyrmex/website/templates/chat.html
  src/codomyrmex/website/templates/config.html
  src/codomyrmex/website/templates/dispatch.html
  src/codomyrmex/website/templates/docs.html
  src/codomyrmex/website/templates/health.html
  src/codomyrmex/website/templates/index.html
  src/codomyrmex/website/templates/modules.html
  src/codomyrmex/website/templates/telemetry.html
Due: none

deploy: cd5c5efb58390d9d1cd9ea34c312177dcce9479d
  documentation-quality/agents_validation.json
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

style(docs): markdownlint fixes in the touched workflow files
  .agent/workflows/codomyrmexTrust.md
  .agent/workflows/coveragePush.md
  .agent/workflows/moduleHealthAudit.md
Due: validate-doc-links, check-placeholders

fix(ci): stop TruffleHog from executing commit messages as shell
  .github/workflows/security.yml
  tests/unit/ci_cd_automation/test_repo_workflow_injection.py
Due: py-compile

test(website): give ty a str list for the JS punctuator table
  tests/unit/website/test_dashboard_xss_sinks.py
Due: py-compile

test(text_to_sql): narrow the validator error before substring checks
  tests/unit/text_to_sql/test_text_to_sql.py
Due: py-compile

Path conditions:
  py-compile: any of: \.py$
  validate-dependencies: any of: ^pyproject\.toml$
  validate-doc-links: any of: \.md$
  check-placeholders: any of: \.md$
  validate-agents-structure: any of: AGENTS\.md$
