Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

py-compile:
  name: py-compile
  entry: python -m py_compile
  language: system

validate-dependencies:
  name: Validate Dependencies
  entry: python3 scripts/validation/validate_dependencies.py
  language: system
  pass_filenames: false
  always_run: false

validate-doc-links:
  name: Validate Documentation Links
  entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
  language: system
  pass_filenames: false
  always_run: false

check-placeholders:
  name: Check for Placeholder Content
  entry: python3 -c "import sys; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD', 'HACK', 'STUB']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
  language: system

validate-agents-structure:
  name: Validate AGENTS.md Structure
  entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
  language: system
  pass_filenames: false
  always_run: false

Update hermes docs, TODO.md, and other documentation improvements
  TODO.md
  docs/agents/hermes/architecture.md
  docs/agents/hermes/codomyrmex_integration.md
  docs/agents/hermes/gateway.md
  docs/agents/hermes/sessions.md
  src/codomyrmex/agents/hermes/hermes_client.py
  src/codomyrmex/agents/hermes/templates/recovery_prompt.txt
  src/codomyrmex/tests/integration/hermes/test_gateway_error_recovery.py
Due: py-compile, validate-doc-links, check-placeholders

up
  TODO.md
  docs/agents/hermes/assets/codomyrmex_hermes_hero.png
  docs/agents/hermes/assets/dual_backend_flow.png
  docs/agents/hermes/assets/gateway_multibot_console.png
  docs/agents/hermes/assets/mcp_tools_inspector.png
  src/codomyrmex/agents/hermes/mcp_tools.py
  src/codomyrmex/agents/hermes/monitoring.py
  src/codomyrmex/coding/execution/executor.py
  src/codomyrmex/tests/integration/hermes/test_gateway_resource_monitoring.py
Due: py-compile, validate-doc-links, check-placeholders

up
  TODO.md
  docs/agents/hermes/assets/codomyrmex_hermes_hero.png
  docs/agents/hermes/assets/dual_backend_flow.png
  docs/agents/hermes/assets/gateway_multibot_console.png
  docs/agents/hermes/assets/mcp_tools_inspector.png
  docs/agents/hermes/codomyrmex_integration.md
  src/codomyrmex/agents/core/base.py
  src/codomyrmex/agents/hermes/hermes_client.py
  src/codomyrmex/agents/hermes/mcp_tools.py
  src/codomyrmex/environment_setup/lockfile.py
  src/codomyrmex/tests/integration/hermes/test_gateway_automated_healing.py
  src/codomyrmex/tests/integration/hermes/test_gateway_unified_traceability.py
Due: py-compile, validate-doc-links, check-placeholders

Add improvements directory with README and quality reports
  improvements/README.md
Due: validate-doc-links, check-placeholders

chore: Update TODO backlog and fix linters
  TODO.md
  docs/agents/hermes/codomyrmex_integration.md
  src/codomyrmex/agents/core/base.py
  src/codomyrmex/agents/hermes/hermes_client.py
  src/codomyrmex/agents/hermes/mcp_tools.py
  src/codomyrmex/agents/hermes/monitoring.py
  src/codomyrmex/coding/execution/executor.py
  src/codomyrmex/environment_setup/lockfile.py
  src/codomyrmex/tests/integration/hermes/test_gateway_automated_healing.py
  src/codomyrmex/tests/integration/hermes/test_gateway_interactive_scaffolding.py
  src/codomyrmex/tests/integration/hermes/test_gateway_resource_monitoring.py
  src/codomyrmex/tests/integration/hermes/test_gateway_unified_traceability.py
Due: py-compile, validate-doc-links, check-placeholders

feat(hermes): v1.5.15 Advanced Context Archival & Search
  src/codomyrmex/agents/hermes/hermes_client.py
  src/codomyrmex/agents/hermes/mcp_tools.py
  src/codomyrmex/agents/hermes/session.py
  src/codomyrmex/tests/integration/hermes/test_gateway_context_summarization.py
  src/codomyrmex/tests/integration/hermes/test_gateway_interactive_scaffolding.py
  src/codomyrmex/tests/integration/hermes/test_gateway_session_fts.py
  src/codomyrmex/tests/integration/hermes/test_gateway_session_gc.py
  src/codomyrmex/tests/unit/website/test_accessibility_core.py
Due: py-compile

feat(security): add auto-heal allowlist, configurable vault path, coverage loop tests
  docs/agents/gemini/README.md
  scripts/agents/google/AGENTS.md
  scripts/agents/google/README.md
  scripts/agents/google/google_batch_processor.py
  scripts/agents/google/google_reason_stream.py
  scripts/agents/google/google_repo_indexer.py
  scripts/agents/google/google_vision_analyzer.py
  scripts/agents/improve_docs.py
  scripts/agents/improve_scripts.py
  scripts/agents/improve_src.py
  scripts/gcp_vertex_setup.sh
  src/codomyrmex/agents/gemini/gemini_cli.py
  src/codomyrmex/agents/gemini/gemini_client.py
  src/codomyrmex/agents/hermes/hermes_client.py
  src/codomyrmex/cloud/gcp/__init__.py
  src/codomyrmex/cloud/gcp/vertex_ai.py
  src/codomyrmex/terminal_interface/__init__.py
  src/codomyrmex/terminal_interface/commands/gemini_cmd.py
  src/codomyrmex/tests/integration/hermes/test_gateway_coverage_loop.py
  src/codomyrmex/tests/unit/meme/test_graph_generation.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

test(hermes): add test coverage for session fork, FTS search, context manager, and close
  src/codomyrmex/tests/unit/test_hermes_session.py
Due: py-compile

test(hermes): add test coverage for prune_old_sessions function
  src/codomyrmex/tests/unit/test_hermes_session.py
Due: py-compile

style(hermes): fix E501 line-too-long lint issues in provider router
  src/codomyrmex/agents/hermes/_provider_router.py
Due: py-compile

type(hermes): add proper type hint for _get_client return type
  src/codomyrmex/agents/hermes/mcp_tools.py
Due: py-compile

test(execution): add unit tests for _compress_trace, _paginate_output, and validate_session_id
  src/codomyrmex/tests/unit/coding/execution/unit/test_executor_helpers.py
Due: py-compile

docs(agentic_memory): add docstrings to memory_count, forget, add_turn, and add_fact
  src/codomyrmex/agentic_memory/memory.py
Due: py-compile

fix(agentic_memory): add error handling to UserProfile.load and docstrings to all public methods
  src/codomyrmex/agentic_memory/user_profile.py
  src/codomyrmex/tests/unit/agentic_memory/test_user_profile.py
Due: py-compile

docs(agentic_memory): improve JSONFileStore docstrings from generic to descriptive
  src/codomyrmex/agentic_memory/stores.py
Due: py-compile

fix(hermes): remove 6 unused imports across gateway, monitoring, and session modules
  src/codomyrmex/agents/hermes/gateway/platforms/metrics.py
  src/codomyrmex/agents/hermes/gateway/server.py
  src/codomyrmex/agents/hermes/monitoring.py
  src/codomyrmex/agents/hermes/session.py
Due: py-compile

style: remove 44 unused imports across source and test files
  src/codomyrmex/collaboration/coordination/raft.py
  src/codomyrmex/environment_setup/lockfile.py
  src/codomyrmex/formal_verification/gated_rewrite.py
  src/codomyrmex/tests/integration/hermes/test_gateway_automated_healing.py
  src/codomyrmex/tests/integration/hermes/test_gateway_context_compression.py
  src/codomyrmex/tests/integration/hermes/test_gateway_context_summarization.py
  src/codomyrmex/tests/integration/hermes/test_gateway_coverage_loop.py
  src/codomyrmex/tests/integration/hermes/test_gateway_cron_async.py
  src/codomyrmex/tests/integration/hermes/test_gateway_delegation.py
  src/codomyrmex/tests/integration/hermes/test_gateway_directory_sync.py
  src/codomyrmex/tests/integration/hermes/test_gateway_error_recovery.py
  src/codomyrmex/tests/integration/hermes/test_gateway_identity_resolution.py
  src/codomyrmex/tests/integration/hermes/test_gateway_interactive_scaffolding.py
  src/codomyrmex/tests/integration/hermes/test_gateway_obsidian_sync.py
  src/codomyrmex/tests/integration/hermes/test_gateway_replace_lifecycle.py
  src/codomyrmex/tests/integration/hermes/test_gateway_resource_monitoring.py
  src/codomyrmex/tests/integration/hermes/test_gateway_session_fts.py
  src/codomyrmex/tests/integration/hermes/test_gateway_session_gc.py
  src/codomyrmex/tests/integration/hermes/test_gateway_streaming_yields.py
  src/codomyrmex/tests/integration/hermes/test_gateway_unified_traceability.py
  src/codomyrmex/tests/integration/hermes/test_gateway_workflow_loop.py
  src/codomyrmex/tests/unit/agentic_memory/test_user_profile.py
  src/codomyrmex/tests/unit/bio_simulation/test_bio_models.py
  src/codomyrmex/tests/unit/coding/execution/unit/test_executor_helpers.py
  src/codomyrmex/tests/unit/test_v131_intelligence.py
Due: py-compile

style(agentic_memory): fix docstring formatting (D413) in cognilayer_bridge.py
  src/codomyrmex/agentic_memory/cognilayer_bridge.py
Due: py-compile

docs(agentic_memory): add docstrings to all _DiGraph methods in graph.py
  src/codomyrmex/agentic_memory/obsidian/graph.py
Due: py-compile

fix(gateway): add missing Any import in identity.py
  src/codomyrmex/agents/hermes/gateway/identity.py
Due: py-compile

type(sandbox): add return type annotations to 5 functions in isolation.py
  src/codomyrmex/coding/sandbox/isolation.py
Due: py-compile

fix(raft): remove unused variables in request_vote log completeness check
  src/codomyrmex/collaboration/coordination/raft.py
Due: py-compile

docs(cache): add missing return type hints and docstrings to cache module
  src/codomyrmex/cache/cache_manager.py
  src/codomyrmex/cache/namespaced.py
  src/codomyrmex/cache/stats.py
  src/codomyrmex/cache/ttl_manager.py
Due: py-compile

fix(agentic_memory): add missing KNOWLEDGE member to MemoryType enum
  src/codomyrmex/agentic_memory/models.py
Due: py-compile

docs(llm): add docstrings to ModelStats property methods
  src/codomyrmex/llm/router.py
Due: py-compile

docs(agentic_memory): add docstrings to 3 to_dict methods in rules/models.py
  src/codomyrmex/agentic_memory/rules/models.py
Due: py-compile

docs(coding): add docstrings to test_generator.py methods
  src/codomyrmex/coding/test_generator.py
Due: py-compile

update
  .github/workflows/dependency-review.yml
  .github/workflows/pre-commit.yml
  .github/workflows/security.yml
  .jules/bolt.md
  docs/agents/hermes/codomyrmex_integration.md
  docs/agents/hermes/gateway.md
  docs/agents/hermes/sessions.md
  docs/agents/hermes/tools.md
  pyproject.toml
  src/codomyrmex/agentic_memory/cognilayer_bridge.py
  src/codomyrmex/agents/hermes/hermes_client.py
  src/codomyrmex/agents/hermes/mcp_tools.py
  src/codomyrmex/agents/hermes/scripts/run_batch.py
  src/codomyrmex/agents/hermes/scripts/run_prune.py
  src/codomyrmex/agents/hermes/scripts/run_session_export.py
  src/codomyrmex/agents/hermes/session.py
  src/codomyrmex/meme/swarm/flocking.py
  src/codomyrmex/tests/integration/hermes/test_gateway_audio_transcoding.py
  src/codomyrmex/tests/integration/hermes/test_gateway_mcp_new_tools.py
  src/codomyrmex/tests/integration/hermes/test_gateway_replace_lifecycle.py
  src/codomyrmex/tests/integration/hermes/test_gateway_session_extended.py
  src/codomyrmex/tests/unit/p3_remediation/test_p3_file_permissions.py
  uv.lock
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders

fix(gateway): add debug logging to bare except in PID cleanup
  src/codomyrmex/agents/hermes/gateway/server.py
Due: py-compile

up
  docs/agents/hermes/codomyrmex_integration.md
  docs/agents/hermes/gateway.md
  src/codomyrmex/tests/integration/hermes/test_gateway_interactive_scaffolding.py
Due: py-compile, validate-doc-links, check-placeholders

docs(agents/hermes): add docstring to _execute_one inner function in hermes_client
  src/codomyrmex/agents/hermes/hermes_client.py
Due: py-compile

fix(collaboration): implement Raft log comparison per §5.4.1
  src/codomyrmex/collaboration/coordination/raft.py
Due: py-compile

test(agents/hermes): add tests for template and system_health MCP tools
  src/codomyrmex/tests/unit/test_hermes_mcp_tools_extended.py
Due: py-compile

Path conditions:
  py-compile: any of: \.py$
  validate-dependencies: any of: ^pyproject\.toml$
  validate-doc-links: any of: \.md$
  check-placeholders: any of: \.md$
  validate-agents-structure: any of: AGENTS\.md$
