Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Codomyrmex
# Install: uv sync (pre-commit is included in dev dependencies)
# Setup: pre-commit install
# Run: pre-commit run --all-files

repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3.10
        args: [--line-length=88]

  # Python linting and import sorting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports]

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: [--recursive, --configfile=pyproject.toml, src/codomyrmex/]

  # Python syntax checking
  - repo: local
    hooks:
      - id: py-compile
        name: py-compile
        entry: python -m py_compile
        language: system
        files: \.py$

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [yaml]
        exclude: ^.*\.github/.*$

  # JSON formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [json]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: [--disable=MD013, MD033, MD041]

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files

  # Dependency validation
  - repo: local
    hooks:
      - id: validate-dependencies
        name: Validate Dependencies
        entry: python3 scripts/validation/validate_dependencies.py
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false
        always_run: false

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  # Documentation validation
  - repo: local
    hooks:
      - id: validate-doc-links
        name: Validate Documentation Links
        entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
        language: system
        files: \.md$
        pass_filenames: false
        always_run: false

      - id: check-placeholders
        name: Check for Placeholder Content
        entry: python3 -c "import sys; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD', 'HACK', 'STUB']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
        language: system
        files: \.md$

      - id: validate-agents-structure
        name: Validate AGENTS.md Structure
        entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
        language: system
        files: AGENTS\.md$
        pass_filenames: false
        always_run: false

fix: sync stale docs markdown count (1,207→1,205) in README, inventory, AGENTS, and test
  README.md
  docs/AGENTS.md
  docs/reference/inventory.md
  tests/unit/colony_kernel/test_manuscript_consistency.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

feat(manuscript): add comprehensive 'Supporting Modules and Research Adapters' section to methodology
  docs/manuscript/02_methodology.md
  docs/manuscript/AGENTS.md
  docs/manuscript/layer_contract.yaml
Due: validate-doc-links, check-placeholders, validate-agents-structure

chore: regenerate rendered manuscript HTML with expanded methodology
  output/paper.html
Due: none

fix: restore valid paper.html from compatible pandoc version
  output/paper.html
Due: none

fix: correct stale references in config.yaml and AGENTS.md from subagent review
  docs/manuscript/AGENTS.md
  docs/manuscript/config.yaml
Due: validate-doc-links, check-placeholders, validate-agents-structure

feat: address all remaining subagent findings (F11, F12, advisory 3)
  docs/manuscript/02_methodology.md
  docs/manuscript/config.yaml
  src/codomyrmex/colony_kernel/kernel.py
  src/codomyrmex/colony_kernel/pheromone_store.py
  src/codomyrmex/colony_kernel/role_adapter.py
  src/codomyrmex/manuscript/variables.py
Due: py-compile, validate-doc-links, check-placeholders

fix: refresh merged inventory and manuscript evidence
  .github/README.md
  INDEX.md
  PAI.md
  README.md
  SKILL.md
  TODO.md
  docs/getting-started/tutorials/running-tests.md
  docs/index.md
  docs/modules/model_context_protocol/PAI.md
  docs/modules/tests/RUNNING_TESTS.md
  docs/reference/glossary.md
  docs/reference/inventory.md
  src/codomyrmex/colony_kernel/role_adapter.py
  src/codomyrmex/manuscript/variables.py
  src/codomyrmex/model_context_protocol/PAI.md
  tests/RUNNING_TESTS.md
  tests/unit/SPEC.md
  tests/unit/colony_kernel/test_manuscript_consistency.py
Due: py-compile, validate-doc-links, check-placeholders

deploy: f6ce220cbc141ab2793d8177e583d06a227aa2e1
  .nojekyll
  documentation-quality/agents_validation.json
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
  documentation-quality/paper.html
Due: none

fix(security): make safety scan CI-safe
  .github/workflows/security.yml
Due: none

deploy: ddfaac799675f25954b40d162d47c963d74293a9
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

fix(ci): restore clean-checkout contracts
  .github/workflows/ci.yml
  .gitignore
  docs/modules/config_audits/AGENTS.md
  docs/modules/config_monitoring/AGENTS.md
  scripts/agents/memory/AGENTS.md
  scripts/agents/memory/README.md
  src/codomyrmex/documentation/docs/modules/config_audits/api_specification.md
  src/codomyrmex/documentation/docs/modules/config_audits/mcp_tool_specification.md
  src/codomyrmex/documentation/docs/modules/config_monitoring/api_specification.md
  src/codomyrmex/documentation/docs/modules/config_monitoring/mcp_tool_specification.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

deploy: 1bcc7150bc302a9cc95300ebfed8bda73524ec47
  documentation-quality/agents_validation.json
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

style(tests): satisfy CI quality gate
  tests/unit/config_audits/test_rules.py
Due: py-compile

deploy: c3ba5d19eddd2fc8d6b64066a29902273203251b
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

fix(ci): support clean cross-platform checkouts
  .claude/skills/gitnexus/gitnexus-cli/SKILL.md
  .claude/skills/gitnexus/gitnexus-debugging/SKILL.md
  .claude/skills/gitnexus/gitnexus-exploring/SKILL.md
  .claude/skills/gitnexus/gitnexus-guide/SKILL.md
  .claude/skills/gitnexus/gitnexus-impact-analysis/SKILL.md
  .claude/skills/gitnexus/gitnexus-refactoring/SKILL.md
  .claude/skills/qmd/SKILL.md
  .github/README.md
  CHANGELOG.md
  INDEX.md
  README.md
  TODO.md
  docs/getting-started/tutorials/running-tests.md
  docs/index.md
  docs/modules/tests/RUNNING_TESTS.md
  docs/reference/inventory.md
  scripts/documentation/audit_readme_agents.py
  src/codomyrmex/coding/SPEC.md
  src/codomyrmex/coding/sandbox/isolation.py
  src/codomyrmex/concurrency/locks/SPEC.md
  src/codomyrmex/concurrency/locks/distributed_lock.py
  tests/RUNNING_TESTS.md
  tests/unit/SPEC.md
  tests/unit/ai_code_editing/test_ai_code_editing.py
  tests/unit/colony_kernel/test_manuscript_consistency.py
  tests/unit/documentation/test_audit_readme_agents.py
Due: py-compile, validate-doc-links, check-placeholders

deploy: 62cd54815f4983e38c0255a14fdcf174ac07821d
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

fix(docs): make clean checkout gate reproducible
  CHANGELOG.md
  Makefile
  docs/agents/open_gauss/AGENTS.md
  docs/agents/open_gauss/README.md
  justfile
  scripts/documentation/README.md
  tests/unit/documentation/test_validate_agents_structure_cli.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

fix(ci): harden cross-platform test contracts
  .github/AGENTS.md
  .github/PAI.md
  .github/README.md
  .github/SPEC.md
  .github/workflows/AGENTS.md
  .github/workflows/PAI.md
  .github/workflows/SPEC.md
  .github/workflows/ci.yml
  .github/workflows/code-health.yml
  .github/workflows/release.yml
  CHANGELOG.md
  src/codomyrmex/audio/text_to_speech/providers/SPEC.md
  src/codomyrmex/audio/text_to_speech/providers/pyttsx3_provider.py
  src/codomyrmex/containerization/docker/image_optimizer.py
  src/codomyrmex/languages/base.py
  src/codomyrmex/operating_system/windows/SPEC.md
  src/codomyrmex/operating_system/windows/provider.py
  src/codomyrmex/system_discovery/reporting/SPEC.md
  src/codomyrmex/system_discovery/reporting/profilers.py
  tests/unit/agents/test_agents_hermes_client.py
  tests/unit/coding/execution/test_code_execution_sandbox.py
  tests/unit/containerization/test_container_registry.py
  tests/unit/file_system/test_file_system.py
  tests/unit/git_operations/conftest.py
  tests/unit/languages/test_languages_core.py
  tests/unit/performance/test_performance_enhanced.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

deploy: 754d1904c7bc281ce08af2cbdf8e7ed058fe962d
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

fix(windows): omit idle pseudo-process
  src/codomyrmex/operating_system/windows/SPEC.md
  src/codomyrmex/operating_system/windows/provider.py
Due: py-compile, validate-doc-links, check-placeholders

deploy: a01ffcc88a7b405ec21b5b9c6113cc1af2ad12d7
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

fix(ci): isolate coverage and runner contracts
  .github/README.md
  CHANGELOG.md
  INDEX.md
  README.md
  TODO.md
  docs/getting-started/tutorials/running-tests.md
  docs/index.md
  docs/manuscript/06_reproducibility.md
  docs/modules/tests/RUNNING_TESTS.md
  docs/reference/inventory.md
  src/codomyrmex/manuscript/variables.py
  src/codomyrmex/orchestrator/fractals/README.md
  src/codomyrmex/orchestrator/fractals/SPEC.md
  src/codomyrmex/orchestrator/fractals/workspace.py
  tests/RUNNING_TESTS.md
  tests/orchestrator/fractals/test_workspace.py
  tests/unit/SPEC.md
  tests/unit/coding/execution/test_code_execution_sandbox.py
  tests/unit/colony_kernel/test_manuscript_consistency.py
  tests/unit/hermes/test_hermes_session_race_guard.py
  tests/unit/manuscript/test_variable_contract.py
  tests/unit/utils/test_utils_decorators.py
Due: py-compile, validate-doc-links, check-placeholders

deploy: b3a25dbf183a0cb3ed0a72f993d4f3d37b942e63
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

fix(ci): harden daemon and timing probes
  CHANGELOG.md
  src/codomyrmex/coding/sandbox/container.py
  tests/integration/hermes/test_gateway_adapter_latency.py
  tests/unit/manuscript/test_figures.py
Due: py-compile, validate-doc-links, check-placeholders

deploy: 2e1c85104cd4cbf899527fe65b9148473e4794c5
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

fix(audio): harden Edge TTS integration
  CHANGELOG.md
  src/codomyrmex/audio/text_to_speech/providers/edge_tts_provider.py
  tests/integration/audio/test_text_to_speech.py
Due: py-compile, validate-doc-links, check-placeholders

deploy: 5bc69b6a6764ada899c395c8138b114bd8f5a3e2
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

test(config): wait for watcher deletion
  CHANGELOG.md
  tests/unit/config_monitoring/test_config_monitor.py
Due: py-compile, validate-doc-links, check-placeholders

deploy: e672efcb75856cf2c18717d1178158924d805c0d
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

fix(ci): validate downstream package contracts
  .github/workflows/ci.yml
  CHANGELOG.md
Due: validate-doc-links, check-placeholders

deploy: 7766ecc3673e4d4f6e5ff29926146eed6b8aba57
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

ci: harden reproducible test and release workflows
  .github/AGENTS.md
  .github/README.md
  .github/workflows/AGENTS.md
  .github/workflows/SPEC.md
  .github/workflows/benchmarks.yml
  .github/workflows/ci-integration.yml
  .github/workflows/ci.yml
  .github/workflows/code-health.yml
  .github/workflows/documentation-validation.yml
  .github/workflows/documentation.yml
  .github/workflows/pr-linter-comments.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/workflow-coordinator.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  README.md
  docs/modules/tests/RUNNING_TESTS.md
  justfile
  pyproject.toml
  tests/RUNNING_TESTS.md
  uv.lock
Due: validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

deploy: 90921373310a556774fde6f082ab0107091ebfe5
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

docs: add CI and release hardening handoff
  docs/project/AGENTS.md
  docs/project/README.md
  docs/project/ci-release-hardening-handoff-2026-07-31.md
Due: validate-doc-links, check-placeholders, validate-agents-structure
