Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

py-compile:
  name: py-compile
  entry: python -m py_compile
  language: system

validate-dependencies:
  name: Validate Dependencies
  entry: python3 scripts/validation/validate_dependencies.py
  language: system
  pass_filenames: false
  always_run: false

validate-doc-links:
  name: Validate Documentation Links
  entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
  language: system
  pass_filenames: false
  always_run: false

check-placeholders:
  name: Check for Placeholder Content
  entry: python3 -c "import sys; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD', 'HACK', 'STUB']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
  language: system

validate-agents-structure:
  name: Validate AGENTS.md Structure
  entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
  language: system
  pass_filenames: false
  always_run: false

chore(ci): make every workflow file pass pre-commit
  .github/workflows/auto-assign.yml
  .github/workflows/dependabot-auto-approve.yml
  .github/workflows/duplicate-pr-sentinel.yml
  .github/workflows/first-interaction.yml
  .github/workflows/first-pr-merged.yml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/maintenance.yml
  .github/workflows/pr-coverage-comment.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/workflow-status.yml
Due: none

fix(container_optimization): stable container fixture; loguru placeholders
  src/codomyrmex/container_optimization/optimizer.py
  src/codomyrmex/container_optimization/resource_tuner.py
  tests/unit/container_optimization/test_optimization.py
Due: py-compile

fix(container_optimization): explain stats on a container that is not running
  src/codomyrmex/container_optimization/resource_tuner.py
  tests/unit/container_optimization/test_optimization.py
Due: py-compile

deploy: 6ea939a0a43939c9998242a25abad34898d5a61f
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

deploy: bb01ad582b85deffec87372de191a875942b2a52
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

test(hermes): run worktree tests in a throwaway repo; honest cleanup
  src/codomyrmex/agents/hermes/client_pkg/session_ops.py
  tests/support/AGENTS.md
  tests/support/README.md
  tests/support/isolated_git.py
  tests/unit/agents/hermes/AGENTS.md
  tests/unit/agents/hermes/README.md
  tests/unit/agents/hermes/test_mcp_hermes_agents.py
  tests/unit/agents/hermes/test_mcp_tools.py
  tests/unit/hermes/test_hermes_client.py
  tests/unit/hermes/test_hermes_mcp_tools_extended.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

fix: two macOS matrix failures (C++ probe, dispatch join ceiling)
  src/codomyrmex/languages/cpp/manager.py
  tests/languages/test_cpp.py
  tests/unit/website/unit/test_server.py
Due: py-compile

fix(audio): wait for pyttsx3 output; never return empty speech as success
  src/codomyrmex/audio/text_to_speech/providers/pyttsx3_provider.py
  tests/integration/audio/test_speech_to_text.py
Due: py-compile

ci(auto-merge): merge only PRs a reviewer labelled auto-merge
  .github/AGENTS.md
  .github/SPEC.md
  .github/WORKFLOW_IMPROVEMENTS.md
  .github/workflows/AGENTS.md
  .github/workflows/agent-welcome.yml
  .github/workflows/auto-merge.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/workflow-status.yml
  scripts/maintenance/auto_merge_eligible.py
  tests/unit/scripts/test_auto_merge_eligible.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

deploy: 21f7f7ea88bb6eac72829e0c7a7bec1b82289815
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

deploy: 78aa9e3ccac78d9605ae983f01849316c733ea84
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

deploy: 6d93605de047ff95f9bed0f357df55af67b62261
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

deploy: 4ade348abcea6697dace234f0cf34cf6d1f97f24
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

deploy: 894efa5f5a84d124f31426ae421cb1a307a9bbae
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

deploy: 73f9250d41adf0f71daf3f21a342b7b937a8e6b6
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

test: remove 24 byte-identical duplicate test files
  tests/integration/calendar_integration/test_mcp_calendar_integration_integration.py
  tests/orchestrator/fractals/test_mcp_orchestrator_fractals.py
  tests/unit/agents/google_workspace/test_mcp_google_workspace.py
  tests/unit/aider/test_mcp_aider.py
  tests/unit/audio/AGENTS.md
  tests/unit/audio/README.md
  tests/unit/audio/test_mcp_audio.py
  tests/unit/cerebrum/test_mcp_cerebrum.py
  tests/unit/collaboration/test_mcp_collaboration.py
  tests/unit/concurrency/test_mcp_concurrency.py
  tests/unit/config_management/test_mcp_config_management.py
  tests/unit/database_management/test_mcp_database_management.py
  tests/unit/events/test_mcp_events.py
  tests/unit/feature_store/test_mcp_feature_store.py
  tests/unit/graph_rag/test_mcp_graph_rag.py
  tests/unit/matmul_kernel/test_mcp_matmul_kernel.py
  tests/unit/model_context_protocol/test_mcp_model_context_protocol.py
  tests/unit/pai_pm/test_mcp_pai_pm.py
  tests/unit/peft/test_mcp_peft.py
  tests/unit/prompt_engineering/test_mcp_prompt_engineering.py
  tests/unit/quantum/test_mcp_quantum.py
  tests/unit/relations/test_mcp_relations.py
  tests/unit/security/AGENTS.md
  tests/unit/security/README.md
  tests/unit/security/test_mcp_security.py
  tests/unit/softmax_opt/test_mcp_softmax_opt.py
  tests/unit/soul/test_mcp_soul.py
  tests/unit/template/AGENTS.md
  tests/unit/template/PAI.md
  tests/unit/template/README.md
  tests/unit/template/SPEC.md
  tests/unit/template/__init__.py
  tests/unit/template/test_template.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

test: enforce the zero-mock policy with a repository-wide guard
  docs/development/testing-strategy.md
  tests/unit/test_zero_mock_policy.py
Due: py-compile, validate-doc-links, check-placeholders

style(docs): markdownlint fixes in the testing strategy doc
  docs/development/testing-strategy.md
Due: validate-doc-links, check-placeholders

ci: run the status dashboard after main CI, not after every workflow
  .github/workflows/code-health.yml
  .github/workflows/workflow-status.yml
Due: none

test: cut ~70 s of avoidable waiting from the slowest unit tests
  src/codomyrmex/concurrency/API_SPECIFICATION.md
  src/codomyrmex/concurrency/SPEC.md
  src/codomyrmex/concurrency/semaphores/semaphore.py
  tests/unit/concurrency/test_concurrency.py
  tests/unit/events/test_async_events.py
  tests/unit/networking/test_networking.py
  tests/unit/test_v1_2_2.py
Due: py-compile, validate-doc-links, check-placeholders

fix: open files with context managers everywhere; enforce SIM115
  pyproject.toml
  scripts/compile_manuscript.py
  scripts/documentation/deepen_src_docs.py
  scripts/documentation/enrich_docs_layer.py
  scripts/documentation/enrich_spec_and_submodules.py
  scripts/documentation/enrich_src_docs.py
  scripts/documentation/enrich_thin_readmes.py
  scripts/maintenance/verify_index.py
  scripts/z_generate_manuscript_variables.py
  src/codomyrmex/coding/sandbox/container.py
  tests/support/temp_files.py
  tests/unit/agents/test_checkpoint.py
  tests/unit/concurrency/test_concurrency.py
  tests/unit/concurrency/test_dead_letter.py
  tests/unit/concurrency/test_dead_letter_queue.py
  tests/unit/encryption/test_signing.py
  tests/unit/orchestrator/test_persistent_scheduler.py
  tests/unit/performance/test_performance.py
  tests/unit/serialization/test_streaming.py
Due: py-compile, validate-dependencies

test(meme): move graph-generation timing budgets to the performance suite
  tests/unit/meme/test_graph_generation.py
Due: py-compile

ci(labeler): create missing labels and stop hiding labelling failures
  .github/workflows/pr-labeler.yml
Due: none

test(zero-mock): fail when a baseline entry has slack
  tests/unit/test_zero_mock_policy.py
Due: py-compile

deploy: 2060ba9877e48136355770af337c90c04b34147a
  documentation-quality/agents_validation.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

deploy: a80e435920ddcbfd3c33f94cbf2c2d716855bf42
  documentation-quality/agents_validation.json
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

deploy: 0ccdc34f76c483616bc749e406f3b5bed61b88de
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

deploy: 4b007bb25f23178776485a044e013ccf2d333ae6
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

fix(scripts): make example failures explicit and bind names before use
  scripts/agents/basic_usage.py
  scripts/agents/pai/claude_pai_bridge.py
  scripts/api/examples/basic_usage.py
  scripts/auth/examples/basic_usage.py
  scripts/collaboration/examples/basic_usage.py
  scripts/compression/examples/basic_usage.py
  scripts/encryption/examples/basic_usage.py
  scripts/evolutionary_ai/evolution_utils.py
  scripts/logging_monitoring/examples/basic_usage.py
  scripts/model_ops/examples/basic_usage.py
  scripts/run_all_scripts.py
  scripts/sair/evaluate.py
  scripts/skills/examples/basic_usage.py
  scripts/tree_sitter/examples/basic_usage.py
  scripts/utils/integration_example.py
Due: py-compile

fix: bind every name before use and drop deprecated APIs in src
  pyproject.toml
  src/codomyrmex/agents/cli/handlers.py
  src/codomyrmex/agents/hermes/mcp_tools_pkg/status.py
  src/codomyrmex/audio/speech_to_text/providers/__init__.py
  src/codomyrmex/audio/text_to_speech/providers/__init__.py
  src/codomyrmex/cerebrum/visualization/concordance.py
  src/codomyrmex/coding/review/reviewer.py
  src/codomyrmex/dark/pdf/filters.py
  src/codomyrmex/documentation/scripts/validate_code_examples.py
  src/codomyrmex/documents/core/document_validator.py
  src/codomyrmex/documents/formats/json_handler.py
  src/codomyrmex/documents/formats/yaml_handler.py
  src/codomyrmex/events/streaming/async_stream.py
  src/codomyrmex/git_operations/core/commands/repository.py
  src/codomyrmex/llm/providers/AGENTS.md
  src/codomyrmex/llm/providers/README.md
  src/codomyrmex/llm/providers/anthropic.py
  src/codomyrmex/llm/providers/anthropic_provider.py
  src/codomyrmex/manuscript/bibliography.py
  src/codomyrmex/model_ops/evaluation/quality.py
  src/codomyrmex/orchestrator/workflows/_models.py
  src/codomyrmex/orchestrator/workflows/workflow.py
  src/codomyrmex/performance/profiling/benchmark.py
  src/codomyrmex/plugin_system/core/plugin_loader.py
  src/codomyrmex/security/digital/certificate_validator.py
  src/codomyrmex/telemetry/metrics/__init__.py
  tests/unit/security/test_certificate_inspection.py
  uv.lock
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

test: import core modules unconditionally instead of skipping on ImportError
  tests/integration/ai_code_editing/test_ai_code_execution_flow.py
  tests/integration/data_visualization/test_visualization_performance.py
  tests/integration/security/test_analysis_security_cicd.py
  tests/integration/test_cross_module_workflows.py
  tests/performance/test_module_performance.py
  tests/unit/agents/every_code/test_every_code_client.py
  tests/unit/agents/every_code/test_every_code_integration.py
  tests/unit/agents/gemini/test_gemini_integration.py
  tests/unit/agents/mistral_vibe/test_mistral_vibe_client.py
  tests/unit/agents/mistral_vibe/test_mistral_vibe_integration.py
  tests/unit/agents/openclaw/test_openclaw_client.py
  tests/unit/agents/paperclip/test_paperclip_client.py
  tests/unit/agents/test_jules_integration.py
  tests/unit/agents/test_ollama_agents_integration.py
  tests/unit/agents/test_opencode_integration.py
  tests/unit/agents/test_real_world_scenarios.py
  tests/unit/ai_code_editing/test_ai_code_editing.py
  tests/unit/api/pagination/test_pagination_direct.py
  tests/unit/api/test_api_versioning_direct.py
  tests/unit/api/test_graphql_api.py
  tests/unit/api/test_rest_api.py
  tests/unit/api/webhooks/test_webhooks_direct.py
  tests/unit/container_optimization/test_optimization.py
  tests/unit/llm/ollama_test_helpers.py
  tests/unit/maintenance/test_maintenance_core.py
  tests/unit/mcp/test_mcp_tool_isolation.py
  tests/unit/meme/test_swarm.py
  tests/unit/serialization/test_serialization_expansion.py
  tests/unit/static_analysis/test_static_analyzer_core.py
  tests/unit/test_v1_1_11.py
Due: py-compile

test: mark placeholder credentials in touched tests for detect-secrets
  tests/integration/security/test_analysis_security_cicd.py
  tests/performance/test_module_performance.py
  tests/unit/agents/paperclip/test_paperclip_client.py
  tests/unit/api/test_rest_api.py
  tests/unit/api/webhooks/test_webhooks_direct.py
Due: py-compile

docs(llm): fix markdownlint in provider directory listings
  src/codomyrmex/llm/providers/AGENTS.md
  src/codomyrmex/llm/providers/README.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

deploy: c53ea89d39de49e2cc26948b84c5c9d4bbdba968
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

Path conditions:
  py-compile: any of: \.py$
  validate-dependencies: any of: ^pyproject\.toml$
  validate-doc-links: any of: \.md$
  check-placeholders: any of: \.md$
  validate-agents-structure: any of: AGENTS\.md$
