Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

py-compile:
  name: py-compile
  entry: python -m py_compile
  language: system

validate-dependencies:
  name: Validate Dependencies
  entry: python3 scripts/validation/validate_dependencies.py
  language: system
  pass_filenames: false
  always_run: false

validate-doc-links:
  name: Validate Documentation Links
  entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
  language: system
  pass_filenames: false
  always_run: false

check-placeholders:
  name: Check for Placeholder Content
  entry: python3 -c "import sys; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD', 'HACK', 'STUB']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
  language: system

validate-agents-structure:
  name: Validate AGENTS.md Structure
  entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
  language: system
  pass_filenames: false
  always_run: false

[fix] ruff: cleanup 3 remaining violations
  .desloppify/query.json
  src/codomyrmex/audio/speech_to_text/vad.py
  src/codomyrmex/audio/streaming/client.py
  src/codomyrmex/audio/streaming/server.py
  src/codomyrmex/auth/rotation.py
  src/codomyrmex/cloud/common/rate_limiter.py
  src/codomyrmex/cloud/cost_management/hooks.py
  src/codomyrmex/coding/review/reviewer.py
  src/codomyrmex/concurrency/dead_letter.py
  src/codomyrmex/tests/unit/concurrency/test_concurrency.py
  src/codomyrmex/tests/unit/concurrency/test_dead_letter_queue.py
  src/codomyrmex/tests/unit/test_audio_streaming.py
  src/codomyrmex/tests/unit/test_cost_hooks.py
  src/codomyrmex/tests/unit/test_coverage_smoke.py
  src/codomyrmex/tests/unit/test_credential_rotation.py
  src/codomyrmex/tests/unit/test_documentation_coverage.py
  src/codomyrmex/tests/unit/test_git_operations_coverage.py
  src/codomyrmex/tests/unit/test_vad.py
  src/codomyrmex/tests/unit/test_vision.py
  src/codomyrmex/video/analysis/video_analyzer.py
  src/codomyrmex/video/extraction/frame_extractor.py
  src/codomyrmex/vision/annotation_extractor.py
Due: py-compile

[refactor] Modularize physical_management/object_manager.py (951→645 LOC)
  .desloppify/query.json
  src/codomyrmex/physical_management/models.py
  src/codomyrmex/physical_management/object_manager.py
Due: py-compile

[docs+test] TODO.md update + coverage tests wave 2
  .desloppify/query.json
  CLAUDE.md
  MEMORY/WORK/20260307-120000_agents-droid-zero-mock-tests/PRD.md
  MEMORY/WORK/20260307-120000_data-visualization-tests/PRD.md
  MEMORY/WORK/20260307-160000_agents-openfang-integration/PRD.md
  TODO.md
  src/codomyrmex/agents/openfang/config.py
  src/codomyrmex/agents/openfang/core.py
  src/codomyrmex/agents/openfang/exceptions.py
  src/codomyrmex/agents/openfang/hands.py
  src/codomyrmex/tests/unit/agents/test_droid_full.py
  src/codomyrmex/tests/unit/data_visualization/test_plotter_wrapper_and_gaps.py
  src/codomyrmex/tests/unit/email/test_email_provider_full.py
  src/codomyrmex/tests/unit/test_agentic_memory_coverage.py
  src/codomyrmex/tests/unit/test_cerebrum_coverage.py
  src/codomyrmex/tests/unit/test_cloud_coverage.py
  src/codomyrmex/tests/unit/test_data_visualization_coverage.py
Due: py-compile, validate-doc-links, check-placeholders

[test] Deep coverage: cerebrum (BayesianNetwork, CaseBase, FPF) + cloud/coda_io models
  .desloppify/query.json
  .gitmodules
  CLAUDE.md
  MEMORY/WORK/20260307-160000_agents-openfang-integration/PRD.md
  pyproject.toml
  scorecard.png
  src/codomyrmex/agents/__init__.py
  src/codomyrmex/agents/openfang/AGENTS.md
  src/codomyrmex/agents/openfang/API_SPECIFICATION.md
  src/codomyrmex/agents/openfang/MCP_TOOL_SPECIFICATION.md
  src/codomyrmex/agents/openfang/PAI.md
  src/codomyrmex/agents/openfang/README.md
  src/codomyrmex/agents/openfang/SPEC.md
  src/codomyrmex/agents/openfang/__init__.py
  src/codomyrmex/agents/openfang/mcp_tools.py
  src/codomyrmex/agents/openfang/py.typed
  src/codomyrmex/agents/openfang/update.py
  src/codomyrmex/tests/unit/agents/openfang/__init__.py
  src/codomyrmex/tests/unit/agents/openfang/test_openfang_config.py
  src/codomyrmex/tests/unit/agents/openfang/test_openfang_core.py
  src/codomyrmex/tests/unit/agents/openfang/test_openfang_exceptions.py
  src/codomyrmex/tests/unit/agents/openfang/test_openfang_hands.py
  src/codomyrmex/tests/unit/agents/openfang/test_openfang_mcp_tools.py
  src/codomyrmex/tests/unit/agents/openfang/test_openfang_update.py
  src/codomyrmex/tests/unit/test_cerebrum_deep_coverage.py
  src/codomyrmex/tests/unit/test_cloud_deep_coverage.py
  uv.lock
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

fix(quality): G004 logging fixes in files with test fixtures/placeholders
  src/codomyrmex/database_management/db_manager.py
  src/codomyrmex/database_management/migration/migration_manager.py
  src/codomyrmex/scrape/firecrawl/adapter.py
  src/codomyrmex/scrape/firecrawl/client.py
  src/codomyrmex/security/digital/security_analyzer.py
  src/codomyrmex/security/physical/access_control.py
  src/codomyrmex/tests/unit/logging_monitoring/unit/test_json_logging_integration.py
Due: py-compile

test(coverage): add 397 zero-mock tests across 5 modules
  src/codomyrmex/tests/unit/agents/test_agent_setup_registry.py
  src/codomyrmex/tests/unit/calendar_integration/test_mcp_tools.py
Due: py-compile

fix(quality): remove unused imports in test files (ruff F401)
  src/codomyrmex/tests/unit/agents/openfang/test_openfang_config.py
  src/codomyrmex/tests/unit/agents/openfang/test_openfang_core.py
  src/codomyrmex/tests/unit/agents/openfang/test_openfang_hands.py
  src/codomyrmex/tests/unit/agents/openfang/test_openfang_mcp_tools.py
  src/codomyrmex/tests/unit/agents/openfang/test_openfang_update.py
  src/codomyrmex/tests/unit/agents/test_droid_full.py
  src/codomyrmex/tests/unit/calendar_integration/test_mcp_tools.py
Due: py-compile

refactor(languages): extract BaseLanguageManager template-method pattern
  src/codomyrmex/languages/base.py
  src/codomyrmex/languages/bash/manager.py
  src/codomyrmex/languages/cpp/manager.py
  src/codomyrmex/languages/csharp/manager.py
  src/codomyrmex/languages/elixir/manager.py
  src/codomyrmex/languages/go/manager.py
  src/codomyrmex/languages/java/manager.py
  src/codomyrmex/languages/javascript/manager.py
  src/codomyrmex/languages/php/manager.py
  src/codomyrmex/languages/python/manager.py
  src/codomyrmex/languages/r/manager.py
  src/codomyrmex/languages/ruby/manager.py
  src/codomyrmex/languages/rust/manager.py
  src/codomyrmex/languages/swift/manager.py
  src/codomyrmex/languages/typescript/manager.py
Due: py-compile

test(coverage): add zero-mock tests for config_management/serialization/compression
  MEMORY/WORK/20260307-000001_zero-mock-tests-config-serial-compress/PRD.md
  src/codomyrmex/tests/unit/compression/test_compression_core.py
  src/codomyrmex/tests/unit/config_management/test_config_management_core.py
  src/codomyrmex/tests/unit/serialization/test_serialization_core.py
Due: py-compile, validate-doc-links, check-placeholders

test(coverage): add zero-mock tests for auth/crypto/validation
  src/codomyrmex/tests/unit/auth/test_auth_core.py
  src/codomyrmex/tests/unit/auth/test_auth_rotation.py
  src/codomyrmex/tests/unit/crypto/test_crypto_mcp_tools.py
  src/codomyrmex/tests/unit/validation/test_validation_mcp_tools.py
Due: py-compile

test(coverage): add zero-mock tests for logging/events/plugin_system
  src/codomyrmex/logging_monitoring/core/logger_config.py
  src/codomyrmex/tests/unit/events/test_events_core.py
  src/codomyrmex/tests/unit/logging_monitoring/test_logging_core.py
  src/codomyrmex/tests/unit/plugin_system/test_plugin_system_core.py
Due: py-compile

fix(mcp): standardize MCP tool response schema across modules
  pyproject.toml
  src/codomyrmex/cost_management/mcp_tools.py
  src/codomyrmex/model_context_protocol/response_helpers.py
  src/codomyrmex/relations/crm/mcp_tools.py
  src/codomyrmex/relations/network_analysis/mcp_tools.py
  src/codomyrmex/relations/social_media/mcp_tools.py
  src/codomyrmex/relations/uor/mcp_tools.py
Due: py-compile, validate-dependencies

test(coverage): add 49 zero-mock tests for concurrency module
  src/codomyrmex/tests/unit/concurrency/test_concurrency_core.py
Due: py-compile

style: fix ruff violations from new test files
  src/codomyrmex/documentation/docs/modules/vision/readme.md
  src/codomyrmex/git_operations/core/repository_metadata.json
  src/codomyrmex/tests/unit/agents/openfang/test_openfang_config.py
  src/codomyrmex/tests/unit/agents/openfang/test_openfang_update.py
  src/codomyrmex/tests/unit/auth/test_auth_rotation.py
  src/codomyrmex/tests/unit/cache/test_cache_core.py
  src/codomyrmex/tests/unit/compression/test_compression_core.py
  src/codomyrmex/tests/unit/config_management/test_config_management_core.py
  src/codomyrmex/tests/unit/crypto/test_crypto_mcp_tools.py
  src/codomyrmex/tests/unit/events/test_events_core.py
  src/codomyrmex/tests/unit/formal_verification/test_formal_verification_core.py
  src/codomyrmex/tests/unit/logging_monitoring/test_logging_core.py
  src/codomyrmex/tests/unit/plugin_system/test_plugin_system_core.py
  src/codomyrmex/tests/unit/serialization/test_serialization_core.py
  src/codomyrmex/tests/unit/validation/test_validation_mcp_tools.py
Due: py-compile, validate-doc-links, check-placeholders

test(coverage): add zero-mock tests for cache/concurrency/formal_verification
  src/codomyrmex/tests/unit/concurrency/test_concurrency_core.py
Due: py-compile

test(coverage): add zero-mock tests for search/scrape/networking
  src/codomyrmex/tests/unit/scrape/test_scrape_core.py
Due: py-compile

test(coverage): add zero-mock tests for deployment/model_ops/maintenance
  src/codomyrmex/tests/unit/maintenance/test_maintenance_core.py
Due: py-compile

[docs] TODO.md comprehensive sync: 130 modules, 1023 test files, 77101 GitNexus symbols, openfang agent, 30+ modules with coverage tests
  TODO.md
Due: validate-doc-links, check-placeholders

fix(quality): replace print()/broad-except with logger in language managers
  src/codomyrmex/demos/registry.py
  src/codomyrmex/languages/bash/manager.py
  src/codomyrmex/languages/cpp/manager.py
  src/codomyrmex/languages/elixir/manager.py
  src/codomyrmex/languages/go/manager.py
  src/codomyrmex/languages/java/manager.py
  src/codomyrmex/languages/javascript/manager.py
  src/codomyrmex/languages/php/manager.py
  src/codomyrmex/languages/python/manager.py
  src/codomyrmex/languages/r/manager.py
  src/codomyrmex/languages/ruby/manager.py
  src/codomyrmex/languages/rust/manager.py
  src/codomyrmex/languages/swift/manager.py
  src/codomyrmex/languages/typescript/manager.py
Due: py-compile

fix(agents): fix ConfigParser.get() misuse in parse_config_ini
  src/codomyrmex/agents/agentic_seek/agentic_seek_client.py
Due: py-compile

refactor(video): eliminate _validate_input duplicate, split extract_frames/extract_audio
  src/codomyrmex/tests/unit/agents/claude/test_claude_mixins.py
  src/codomyrmex/video/analysis/video_analyzer.py
  src/codomyrmex/video/extraction/frame_extractor.py
Due: py-compile

fix(logging): G004 f-string→%-format in watcher, pie_chart, skill_sync; refactor check_upstream_status
  src/codomyrmex/config_monitoring/watcher.py
  src/codomyrmex/data_visualization/charts/pie_chart.py
  src/codomyrmex/skills/skill_sync.py
Due: py-compile

fix(logging): G004 f-string→%-format in message_bus and line_plot
  src/codomyrmex/agents/generic/message_bus.py
  src/codomyrmex/data_visualization/charts/line_plot.py
Due: py-compile

refactor(git): extract helpers from commit_changes/amend_commit; fix G004+DRY+KISS
  src/codomyrmex/git_operations/core/commands/commit.py
Due: py-compile

fix(logging): replace G004 f-string logging across 4 modules
  src/codomyrmex/agents/generic/cli_agent_base.py
  src/codomyrmex/agents/generic/task_planner.py
  src/codomyrmex/documentation/documentation_website.py
  src/codomyrmex/llm/ollama/model_runner.py
Due: py-compile

fix(logging): G004+KISS+DRY in 6 modules
  src/codomyrmex/agents/droid/generators/physical_generators/tasks.py
  src/codomyrmex/collaboration/communication/broadcaster.py
  src/codomyrmex/collaboration/coordination/leader_election.py
  src/codomyrmex/cost_management/tracker.py
  src/codomyrmex/documents/utils/encoding_detector.py
  src/codomyrmex/orchestrator/execution/runner.py
Due: py-compile

fix(logging): G004 in merge.py and event_bus.py
  src/codomyrmex/events/core/event_bus.py
  src/codomyrmex/git_operations/core/commands/merge.py
Due: py-compile

fix(logging): G004+KISS+DRY in 7 modules
  src/codomyrmex/data_visualization/charts/bar_chart.py
  src/codomyrmex/data_visualization/charts/histogram.py
  src/codomyrmex/data_visualization/charts/scatter_plot.py
  src/codomyrmex/feature_store/service.py
  src/codomyrmex/git_operations/api/github/repositories.py
  src/codomyrmex/ide/antigravity/relay_endpoint.py
  src/codomyrmex/llm/fabric/fabric_manager.py
Due: py-compile

fix(logging): G004 f-string-in-logging across 6 modules
  src/codomyrmex/agents/droid/todo.py
  src/codomyrmex/agents/infrastructure/tool_factory.py
  src/codomyrmex/agents/llm_client.py
  src/codomyrmex/collaboration/agents/base.py
  src/codomyrmex/collaboration/coordination/consensus.py
  src/codomyrmex/compression/core/compressor.py
Due: py-compile

fix(tests): PT006 parametrize name type + ruff zero maintained
  src/codomyrmex/tests/unit/languages/test_languages_core.py
Due: py-compile

fix(imports): remove 25 unused imports (F401) + fix I001 sort order
  .desloppify/query.json
  src/codomyrmex/agents/droid/generators/physical_generators/tasks.py
  src/codomyrmex/tests/unit/concurrency/test_concurrency_core.py
  src/codomyrmex/tests/unit/data_visualization/test_plotter_wrapper_and_gaps.py
  src/codomyrmex/tests/unit/logging_monitoring/test_logging_core.py
  src/codomyrmex/tests/unit/plugin_system/test_plugin_system_core.py
  src/codomyrmex/tests/unit/relations/test_relations_core.py
  src/codomyrmex/tests/unit/scrape/test_scrape_core.py
  src/codomyrmex/tests/unit/test_agentic_memory_coverage.py
  src/codomyrmex/tests/unit/test_cloud_deep_coverage.py
  src/codomyrmex/tests/unit/test_config_management_coverage.py
  src/codomyrmex/tests/unit/test_physical_management_coverage.py
  src/codomyrmex/tests/unit/validation/test_validation_mcp_tools.py
  src/codomyrmex/video/extraction/frame_extractor.py
Due: py-compile

chore: remove stale should_fail.py test artifact
  should_fail.py
Due: py-compile

fix(api): remove duplicate TYPE_CHECKING imports in openapi_generator (F811)
  src/codomyrmex/api/openapi_generator.py
Due: py-compile

chore: remove stale config/default.yaml test artifact
  config/default.yaml
Due: none

chore: remove spurious root-level artifact scripts
  invalid_prompt.py
  invalid_prompt_demo.py
Due: py-compile

Path conditions:
  py-compile: any of: \.py$
  validate-dependencies: any of: ^pyproject\.toml$
  validate-doc-links: any of: \.md$
  check-placeholders: any of: \.md$
  validate-agents-structure: any of: AGENTS\.md$
