Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

py-compile:
  name: py-compile
  entry: python -m py_compile
  language: system

validate-dependencies:
  name: Validate Dependencies
  entry: python3 scripts/validation/validate_dependencies.py
  language: system
  pass_filenames: false
  always_run: false

validate-doc-links:
  name: Validate Documentation Links
  entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
  language: system
  pass_filenames: false
  always_run: false

check-placeholders:
  name: Check for Placeholder Content
  entry: python3 -c "import sys, re; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
  language: system

validate-agents-structure:
  name: Validate AGENTS.md Structure
  entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
  language: system
  pass_filenames: false
  always_run: false

refactor(source): split openapi_generator and subprocess; decompose orchestrator main()
  src/codomyrmex/api/openapi_documentation_generator.py
  src/codomyrmex/api/openapi_generator.py
  src/codomyrmex/api/openapi_standardization_generator.py
  src/codomyrmex/orchestrator/core.py
  src/codomyrmex/utils/process/subprocess.py
  src/codomyrmex/utils/process/subprocess_advanced.py
Due: py-compile

refactor(docs): split README, creating-a-module, and external-systems into focused sections
  README.md
  docs/getting-started/full-setup.md
  docs/getting-started/tutorials/creating-a-module-01-scaffold.md
  docs/getting-started/tutorials/creating-a-module-02-implement.md
  docs/getting-started/tutorials/creating-a-module-03-test.md
  docs/getting-started/tutorials/creating-a-module-04-document.md
  docs/getting-started/tutorials/creating-a-module.md
  docs/integration/ci-cd.md
  docs/integration/cloud.md
  docs/integration/database.md
  docs/integration/external-systems.md
  docs/integration/monitoring.md
  docs/integration/overview-and-patterns.md
Due: validate-doc-links, check-placeholders

refactor(tests): split test_config_manager and trim test_ci_cd_integration
  src/codomyrmex/tests/unit/ci_cd_automation/test_ci_cd_edge_cases.py
  src/codomyrmex/tests/unit/ci_cd_automation/test_ci_cd_integration.py
  src/codomyrmex/tests/unit/config_management/test_config_manager.py
  src/codomyrmex/tests/unit/config_management/test_config_manager_loading.py
  src/codomyrmex/tests/unit/config_management/test_config_manager_ops.py
  src/codomyrmex/tests/unit/config_management/test_config_manager_protocol.py
Due: py-compile

refactor(source): split AgentMailProvider and WebsiteServer into mixins/handlers
  src/codomyrmex/email/agentmail/mixins/__init__.py
  src/codomyrmex/email/agentmail/mixins/draft_mixin.py
  src/codomyrmex/email/agentmail/mixins/inbox_mixin.py
  src/codomyrmex/email/agentmail/mixins/thread_mixin.py
  src/codomyrmex/email/agentmail/mixins/webhook_mixin.py
  src/codomyrmex/email/agentmail/provider.py
  src/codomyrmex/website/handlers/__init__.py
  src/codomyrmex/website/handlers/api_handler.py
  src/codomyrmex/website/handlers/health_handler.py
  src/codomyrmex/website/handlers/proxy_handler.py
  src/codomyrmex/website/server.py
Due: py-compile

refactor(source+tests): split discovery_engine and test_database_core
  src/codomyrmex/system_discovery/core/__init__.py
  src/codomyrmex/system_discovery/core/dependency_analyzer.py
  src/codomyrmex/system_discovery/core/discovery_engine.py
  src/codomyrmex/system_discovery/core/health_checker.py
  src/codomyrmex/system_discovery/health/__init__.py
  src/codomyrmex/system_discovery/health/health_checker.py
  src/codomyrmex/tests/unit/database_management/test_database_core.py
  src/codomyrmex/tests/unit/database_management/test_db_core_connections.py
  src/codomyrmex/tests/unit/database_management/test_db_core_models.py
  src/codomyrmex/tests/unit/database_management/test_db_core_ops.py
Due: py-compile

test(website): Sprint 13 Phase 4 — add accessibility and proxy handler coverage
  src/codomyrmex/tests/unit/website/unit/test_accessibility_coverage.py
  src/codomyrmex/tests/unit/website/unit/test_proxy_handler.py
Due: py-compile

fix(tests): Fix 3 F821 undefined-name violations in test files
  src/codomyrmex/tests/integration/test_cross_module_workflows.py
  src/codomyrmex/tests/unit/agents/cli/test_handlers.py
  src/codomyrmex/tests/unit/website/unit/test_proxy_handler.py
Due: py-compile

fix(ide): Repair concatenated imports from ruff I001 auto-fix
  src/codomyrmex/ide/__init__.py
Due: py-compile

docs: add multi-agent worktree coordination workflow and CLAUDE.md git safety rules
  .agent/workflows/codomyrmexWorktree.md
  CLAUDE.md
Due: validate-doc-links, check-placeholders

up
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/code-health.yml
  .github/workflows/pre-commit.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  PAI.md
  docs/getting-started/tutorials/connecting-pai.md
  docs/modules/PAI.md
  docs/modules/agents/PAI.md
  docs/modules/agents/PAI/HOOKS.md
  docs/modules/agents/README.md
  docs/modules/model_context_protocol/PAI.md
  docs/modules/website/API_SPECIFICATION.md
  docs/pai/api-reference.md
  src/AGENTS.md
  src/PAI.md
  src/codomyrmex/agents/pai/AGENTS.md
  src/codomyrmex/agents/pai/PAI.md
  src/codomyrmex/agents/pai/README.md
  src/codomyrmex/agents/pai/SPEC.md
  src/codomyrmex/agents/pai/mcp/AGENTS.md
  src/codomyrmex/documentation/docs/modules/agents/readme.md
  src/codomyrmex/documentation/docs/modules/website/api_specification.md
  src/codomyrmex/email/PAI.md
  src/codomyrmex/model_context_protocol/PAI.md
  src/codomyrmex/tests/unit/data_visualization/test_reports.py
  src/codomyrmex/tests/unit/documentation/test_doc_linter.py
  src/codomyrmex/tests/unit/git_operations/cli/__init__.py
  src/codomyrmex/tests/unit/git_operations/cli/test_cli_metadata.py
  src/codomyrmex/tests/unit/model_context_protocol/test_transport.py
  src/codomyrmex/tests/unit/plugin_system/test_dependency_resolver.py
  src/codomyrmex/tests/unit/prompt_engineering/test_chain.py
  src/codomyrmex/tests/unit/prompt_engineering/test_evaluation.py
  src/codomyrmex/tests/unit/prompt_engineering/test_templates.py
  src/codomyrmex/tests/unit/skills/test_mcp_tools_coverage.py
  src/codomyrmex/website/API_SPECIFICATION.md
  src/codomyrmex/website/PAI.md
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

docs: Sprint 15 — docs updates and SPEC.md improvements
  TODO.md
  src/codomyrmex/model_context_protocol/SPEC.md
  src/codomyrmex/physical_management/SPEC.md
Due: validate-doc-links, check-placeholders

docs: Wave 5 — Expand all 8 SPEC.md stubs with data contracts and SLOs
  TODO.md
  src/codomyrmex/system_discovery/SPEC.md
Due: validate-doc-links, check-placeholders

docs: Update TODO.md with Sprint 14 completion status
  TODO.md
Due: validate-doc-links, check-placeholders

feat(sprint15): add health_handler tests + bug fixes
  src/codomyrmex/docs_gen/py.typed
  src/codomyrmex/git_analysis/py.typed
  src/codomyrmex/git_operations/core/repository_metadata.json
  src/codomyrmex/orchestrator/execution/runner.py
  src/codomyrmex/release/py.typed
  src/codomyrmex/tests/unit/website/unit/test_health_handler.py
Due: py-compile

test(sprint15): add 93 new tests — documents/chunking + evolutionary_ai/core
  src/codomyrmex/tests/unit/documents/test_documents_chunking.py
  src/codomyrmex/tests/unit/evolutionary_ai/test_evolutionary_ai_core.py
  src/codomyrmex/tests/unit/website/unit/test_health_handler.py
Due: py-compile

test(sprint15): add 60 new tests — cli/completion + deployment/manager
  src/codomyrmex/tests/unit/cli/test_cli_completion.py
  src/codomyrmex/tests/unit/deployment/test_deployment_manager_core.py
Due: py-compile

test(sprint15): add 72 new tests — telemetry/dashboard submodule implementations
  AGENTS.md
  CLAUDE.md
  TODO.md
  codomyrmex_inventory.json
  src/codomyrmex/git_operations/core/repository_metadata.json
  src/codomyrmex/tests/unit/telemetry/test_telemetry_dashboard_core.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

test(sprint15): add 54 new tests — validation/validator + validation/exceptions
  codomyrmex_inventory.json
  src/codomyrmex/tests/unit/validation/test_validation_core.py
Due: py-compile

test(validation): add 88 zero-mock tests for summary, validation_manager, contextual
  src/codomyrmex/tests/unit/validation/test_validation_summary_manager.py
Due: py-compile

test(logging): add 47 zero-mock tests — correlation + JSON formatters
  src/codomyrmex/tests/unit/logging_monitoring/unit/test_logging_core.py
Due: py-compile

test(logging): add 30 zero-mock tests for LogAggregator
  src/codomyrmex/tests/unit/logging_monitoring/unit/test_log_aggregator.py
Due: py-compile

test(logging_monitoring): add 34 zero-mock unit tests for structured_formatter
  src/codomyrmex/tests/unit/logging_monitoring/unit/test_structured_formatter.py
Due: py-compile

test(agents,model_ops): add 90 zero-mock unit tests across 4 files
  src/codomyrmex/tests/unit/agents/core/test_react_agent.py
  src/codomyrmex/tests/unit/agents/core/test_tool_registry.py
  src/codomyrmex/tests/unit/model_ops/test_datasets.py
  src/codomyrmex/tests/unit/model_ops/test_evaluators.py
Due: py-compile

test(agents/core): add 94 zero-mock unit tests for parsers and exceptions
  src/codomyrmex/tests/unit/agents/core/test_exceptions.py
  src/codomyrmex/tests/unit/agents/core/test_parsers.py
Due: py-compile

test(agents/core): add 33 zero-mock unit tests for session management
  src/codomyrmex/tests/unit/agents/core/test_session.py
Due: py-compile

test(agents/core): add 22 zero-mock unit tests for messages module
  src/codomyrmex/tests/unit/agents/core/test_messages.py
Due: py-compile

test(model_ops): add registry and batcher tests — 71 new unit tests
  src/codomyrmex/tests/unit/model_ops/test_model_registry.py
  src/codomyrmex/tests/unit/model_ops/test_request_batcher.py
Due: py-compile

test(orchestrator): add scheduler tests — 57 new unit tests
  src/codomyrmex/tests/unit/orchestrator/test_scheduler.py
Due: py-compile

test(model_ops): add scorers and inference optimizer tests — 89 new unit tests
  src/codomyrmex/tests/unit/model_ops/test_inference_optimizer.py
  src/codomyrmex/tests/unit/model_ops/test_scorers.py
Due: py-compile

test(prompt_engineering,agents): optimization and agent architectures tests (96 tests)
  src/codomyrmex/tests/unit/agents/test_agent_architectures.py
  src/codomyrmex/tests/unit/prompt_engineering/test_optimization.py
Due: py-compile

Path conditions:
  py-compile: any of: \.py$
  validate-dependencies: any of: ^pyproject\.toml$
  validate-doc-links: any of: \.md$
  check-placeholders: any of: \.md$
  validate-agents-structure: any of: AGENTS\.md$
