Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

py-compile:
  name: py-compile
  entry: python -m py_compile
  language: system

validate-dependencies:
  name: Validate Dependencies
  entry: python3 scripts/validation/validate_dependencies.py
  language: system
  pass_filenames: false
  always_run: false

validate-doc-links:
  name: Validate Documentation Links
  entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
  language: system
  pass_filenames: false
  always_run: false

check-placeholders:
  name: Check for Placeholder Content
  entry: python3 -c "import sys, re; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
  language: system

validate-agents-structure:
  name: Validate AGENTS.md Structure
  entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
  language: system
  pass_filenames: false
  always_run: false

chore(docs): Update module count from 91 to 93 across repository and fix test badge format
  INDEX.md
  README.md
  TO-DO.md
  docs/AGENTS.md
  index.html
  scripts/pai/dashboard.py
  src/AGENTS.md
  src/INDEX.md
  src/PAI.md
  src/README.md
  src/SPEC.md
  src/codomyrmex/INDEX.md
  src/codomyrmex/SPEC.md
  src/codomyrmex/agents/gemini/gemini_client.py
  src/codomyrmex/git_operations/core/repository_metadata.json
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

verify architecture documentation, implement Google Auth, verify email/calendar tools - PAI Scripts
  scripts/pai/AGENTS.md
  scripts/pai/SPEC.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

Docs: Update Release Policy to explicitly ban mocks, stubs, and placeholders
  TO-DO.md
Due: validate-doc-links, check-placeholders

fix: replace flaky PDF test with SVG, overhaul TO-DO for v1.0.2
  TO-DO.md
  src/codomyrmex/tests/unit/data_visualization/test_data_visualization.py
Due: py-compile, validate-doc-links, check-placeholders

refactor: modularize oversized files
  .gitmodules
  src/codomyrmex/agents/ai_code_editing/ai_code_helpers.py
  src/codomyrmex/agents/droid/generators/__init__.py
  src/codomyrmex/agents/droid/generators/documentation.py
  src/codomyrmex/agents/droid/generators/physical.py
  src/codomyrmex/agents/droid/generators/spatial.py
  src/codomyrmex/agents/droid/tasks.py
Due: py-compile

refactor: extract reviewer convenience functions to api.py
  src/codomyrmex/coding/review/api.py
  src/codomyrmex/coding/review/reviewer.py
Due: py-compile

refactor: dedup git.py + mixin-split data_provider.py
  src/codomyrmex/git_operations/core/git.py
  src/codomyrmex/website/data_provider.py
  src/codomyrmex/website/health_mixin.py
  src/codomyrmex/website/pai_mixin.py
Due: py-compile

docs: update TO-DO with v1.0.2-dev modularization results
  TO-DO.md
Due: validate-doc-links, check-placeholders

docs: honest tech debt audit in TO-DO
  TO-DO.md
Due: validate-doc-links, check-placeholders

fix: resolve all 5 pre-existing test failures
  @output/01_github_ops_test_results/pr_errors_20260224_113246.json
  AGENTS.md
  CLAUDE.md
  src/codomyrmex/agents/droid/generators/documentation.py
  src/codomyrmex/coding/pattern_matching/run_codomyrmex_analysis.py
  src/codomyrmex/git_operations/core/repository_metadata.json
  src/codomyrmex/tests/unit/integration/test_mcp_integration.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

chore: remove Z3 vendored submodule (37 MB) — use z3-solver pip dep
  .gitmodules
Due: none

fix(structure): Sprint 3 Wave 1 — structural integrity and RASP docs
  scripts/documentation/audit_documentation.py
  src/codomyrmex/agents/specialized/__init__.py
  src/codomyrmex/fpf/analysis/__init__.py
  src/codomyrmex/fpf/core/__init__.py
  src/codomyrmex/fpf/io/__init__.py
  src/codomyrmex/fpf/visualization/__init__.py
  src/codomyrmex/git_analysis/data/AGENTS.md
  src/codomyrmex/git_analysis/data/README.md
  src/codomyrmex/git_analysis/data/SPEC.md
  src/codomyrmex/git_analysis/vendor/AGENTS.md
  src/codomyrmex/git_analysis/vendor/README.md
  src/codomyrmex/git_analysis/vendor/SPEC.md
  src/codomyrmex/git_operations/api/__init__.py
  src/codomyrmex/git_operations/cli/__init__.py
  src/codomyrmex/git_operations/core/__init__.py
  src/codomyrmex/git_operations/tools/__init__.py
  src/codomyrmex/llm/models/__init__.py
  src/codomyrmex/physical_management/examples/__init__.py
  src/codomyrmex/spatial/three_d/examples/__init__.py
  src/codomyrmex/tests/unit/AGENTS.md
  src/codomyrmex/tests/unit/README.md
  src/codomyrmex/tests/unit/SPEC.md
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

test(coverage): Sprint 3 Wave 2 — targeted tests + pre-existing bug fix
  src/codomyrmex/agents/claude/mixins/code_intel.py
  src/codomyrmex/tests/unit/agents/core/test_base_agent.py
  src/codomyrmex/tests/unit/events/test_event_bus.py
  src/codomyrmex/tests/unit/orchestrator/test_core.py
Due: py-compile

ci(workflows): Sprint 3 workflow and GitHub config updates
  .github/AGENTS.md
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/AGENTS.md
  .github/ISSUE_TEMPLATE/PAI.md
  .github/ISSUE_TEMPLATE/SPEC.md
  .github/PAI.md
  .github/README_GITHUB.md
  .github/SPEC.md
  .github/commands/AGENTS.md
  .github/commands/PAI.md
  .github/commands/SPEC.md
  .github/dependabot.yml
  .github/workflows/AGENTS.md
  .github/workflows/PAI.md
  .github/workflows/SPEC.md
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/documentation-validation.yml
  .github/workflows/documentation.yml
  .github/workflows/maintenance.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/workflow-coordinator.yml
  .github/workflows/workflow-status.yml
Due: validate-doc-links, check-placeholders, validate-agents-structure

chore(root): update root docs and project config
  .gitignore
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  INDEX.md
  PAI.md
  README.md
  SPEC.md
  TO-DO.md
  pyproject.toml
Due: validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

docs(rasp): Sprint 3 + doc-sprint RASP improvements across 89 modules
  src/README.md
  src/codomyrmex/AGENTS.md
  src/codomyrmex/README.md
  src/codomyrmex/SPEC.md
  src/codomyrmex/agentic_memory/PAI.md
  src/codomyrmex/agents/pai/SKILL.md
  src/codomyrmex/cerebrum/PAI.md
  src/codomyrmex/docs_gen/AGENTS.md
  src/codomyrmex/docs_gen/README.md
  src/codomyrmex/docs_gen/SPEC.md
  src/codomyrmex/email/AGENTS.md
  src/codomyrmex/examples/PAI.md
  src/codomyrmex/finance/AGENTS.md
  src/codomyrmex/formal_verification/AGENTS.md
  src/codomyrmex/git_operations/PAI.md
  src/codomyrmex/llm/PAI.md
  src/codomyrmex/module_template/PAI.md
  src/codomyrmex/networks/README.md
  src/codomyrmex/orchestrator/PAI.md
  src/codomyrmex/relations/AGENTS.md
  src/codomyrmex/relations/SPEC.md
  src/codomyrmex/release/AGENTS.md
  src/codomyrmex/release/README.md
  src/codomyrmex/release/SPEC.md
  src/codomyrmex/simulation/README.md
  src/codomyrmex/static_analysis/README.md
  src/codomyrmex/static_analysis/SPEC.md
  src/codomyrmex/website/PAI.md
  src/codomyrmex/website/README.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

chore(root): update SPEC.md, scripts/website docs, and uv.lock
  uv.lock
Due: none

feat(skills): add SKILL.md, skill.json, and generate_skills.py
  SKILL.md
  scripts/pai/generate_skills.py
  skill.json
Due: py-compile, validate-doc-links, check-placeholders

fix(cli+agents): Sprint 5 source fixes — type annotation bug, Foundation imports
  src/codomyrmex/agents/claude/claude_client.py
  src/codomyrmex/cli/formatters/__init__.py
  src/codomyrmex/model_context_protocol/transport/main.py
  src/codomyrmex/terminal_interface/shells/interactive_shell.py
  src/codomyrmex/tests/unit/telemetry/test_telemetry_concurrency.py
Due: py-compile

test(coverage): Sprint 5+6 test suites — 36 new test files, 12,839 tests collected
  src/codomyrmex/tests/unit/agents/claude/__init__.py
  src/codomyrmex/tests/unit/agents/claude/test_claude_mixins.py
  src/codomyrmex/tests/unit/agents/test_editing_loop.py
  src/codomyrmex/tests/unit/agents/test_history_manager.py
  src/codomyrmex/tests/unit/agents/test_history_models.py
  src/codomyrmex/tests/unit/agents/test_history_stores.py
  src/codomyrmex/tests/unit/ci_cd_automation/__init__.py
  src/codomyrmex/tests/unit/ci_cd_automation/test_pipeline_manager.py
  src/codomyrmex/tests/unit/cli/test_doctor.py
  src/codomyrmex/tests/unit/coding/test_metrics_mixin.py
  src/codomyrmex/tests/unit/containerization/test_container_registry.py
  src/codomyrmex/tests/unit/git_operations/test_metadata.py
  src/codomyrmex/tests/unit/logistics/test_orchestration_engine.py
  src/codomyrmex/tests/unit/meme/test_contagion.py
  src/codomyrmex/tests/unit/meme/test_memetics.py
  src/codomyrmex/tests/unit/meme/test_narrative.py
  src/codomyrmex/tests/unit/meme/test_semiotic.py
  src/codomyrmex/tests/unit/networks/__init__.py
  src/codomyrmex/tests/unit/networks/test_networks.py
  src/codomyrmex/tests/unit/skills/test_arscontexta_core.py
  src/codomyrmex/tests/unit/skills/test_arscontexta_services.py
  src/codomyrmex/tests/unit/static_analysis/__init__.py
  src/codomyrmex/tests/unit/static_analysis/test_static_analysis_core.py
  src/codomyrmex/tests/unit/system_discovery/test_capability_scanner.py
  src/codomyrmex/tests/unit/telemetry/test_telemetry_dashboard.py
  src/codomyrmex/tests/unit/template/__init__.py
  src/codomyrmex/tests/unit/templating/test_engines.py
  src/codomyrmex/tests/unit/terminal_interface/test_interactive_shell.py
  src/codomyrmex/tests/unit/testing/__init__.py
  src/codomyrmex/tests/unit/testing/test_chaos_scenarios.py
  src/codomyrmex/tests/unit/tree_sitter/__init__.py
  src/codomyrmex/tests/unit/utils/test_script_base.py
  src/codomyrmex/tests/unit/video/test_video_core.py
  src/codomyrmex/tests/unit/website/unit/test_health_mixin.py
  src/codomyrmex/tests/unit/website/unit/test_mcp_tools_mixin.py
  src/codomyrmex/tests/unit/website/unit/test_pai_mixin.py
Due: py-compile

fix(ci_cd+logistics): fix concurrent.futures.wait(dict) bug and max_workers=0 crash
  src/codomyrmex/ci_cd_automation/pipeline/manager.py
Due: py-compile

test(quality): Sprint 7 quality pass — expand stubs, real assertions, xfail cleanup
  src/codomyrmex/tests/unit/agentic_memory/obsidian/test_vault.py
  src/codomyrmex/tests/unit/agents/test_agents.py
  src/codomyrmex/tests/unit/auth/test_auth.py
  src/codomyrmex/tests/unit/ci_cd_automation/test_pipeline_manager.py
  src/codomyrmex/tests/unit/collaboration/knowledge/test_knowledge_sharing.py
  src/codomyrmex/tests/unit/collaboration/swarm/test_swarm.py
  src/codomyrmex/tests/unit/collaboration/test_agents.py
  src/codomyrmex/tests/unit/collaboration/test_collaboration.py
  src/codomyrmex/tests/unit/collaboration/test_communication.py
  src/codomyrmex/tests/unit/collaboration/test_coordination.py
  src/codomyrmex/tests/unit/collaboration/test_models.py
  src/codomyrmex/tests/unit/compression/test_compression.py
  src/codomyrmex/tests/unit/data_visualization/test_data_visualization.py
  src/codomyrmex/tests/unit/deployment/test_deployment.py
  src/codomyrmex/tests/unit/documentation/test_documentation.py
  src/codomyrmex/tests/unit/documentation/test_documentation_website.py
  src/codomyrmex/tests/unit/exceptions/test_exceptions.py
  src/codomyrmex/tests/unit/feature_flags/test_experiments.py
  src/codomyrmex/tests/unit/formal_verification/test_formal_verification.py
  src/codomyrmex/tests/unit/ide/test_ide.py
  src/codomyrmex/tests/unit/identity/test_identity.py
  src/codomyrmex/tests/unit/identity/test_identity_auth.py
  src/codomyrmex/tests/unit/inference_optimization/test_inference_optimization.py
  src/codomyrmex/tests/unit/llm/cost_tracking/test_cost_tracking.py
  src/codomyrmex/tests/unit/llm/embeddings/test_embeddings.py
  src/codomyrmex/tests/unit/llm/guardrails/test_guardrails.py
  src/codomyrmex/tests/unit/llm/rag/test_rag.py
  src/codomyrmex/tests/unit/llm/test_chain_of_thought.py
  src/codomyrmex/tests/unit/llm/test_llm.py
  src/codomyrmex/tests/unit/llm/test_llm_base.py
  src/codomyrmex/tests/unit/llm/test_router.py
  src/codomyrmex/tests/unit/metrics/test_metrics.py
  src/codomyrmex/tests/unit/privacy/test_privacy.py
  src/codomyrmex/tests/unit/serialization/test_serialization.py
  src/codomyrmex/tests/unit/simulation/test_simulator.py
  src/codomyrmex/tests/unit/static_analysis/test_static_analysis.py
  src/codomyrmex/tests/unit/tool_use/test_tool_use.py
  src/codomyrmex/tests/unit/video/test_video.py
  src/codomyrmex/tests/unit/visualization/test_visualization.py
  src/codomyrmex/tests/unit/workflow_testing/test_workflow_testing.py
Due: py-compile

test(coverage): Sprint 7 — 13 new test files, 1414 new tests across 16 modules
  src/codomyrmex/tests/unit/agents/test_task_master.py
  src/codomyrmex/tests/unit/api/test_openapi.py
  src/codomyrmex/tests/unit/ci_cd_automation/test_ci_cd_core.py
  src/codomyrmex/tests/unit/config_management/test_config_core.py
  src/codomyrmex/tests/unit/containerization/test_containerization_core.py
  src/codomyrmex/tests/unit/database_management/test_database_core.py
  src/codomyrmex/tests/unit/maintenance/test_maintenance_deps.py
  src/codomyrmex/tests/unit/model_ops/__init__.py
  src/codomyrmex/tests/unit/model_ops/test_model_ops_evaluation.py
  src/codomyrmex/tests/unit/pattern_matching/__init__.py
  src/codomyrmex/tests/unit/pattern_matching/test_ast_matcher_and_patterns.py
  src/codomyrmex/tests/unit/physical_management/__init__.py
  src/codomyrmex/tests/unit/physical_management/test_physical_analytics.py
  src/codomyrmex/tests/unit/plugin_system/__init__.py
  src/codomyrmex/tests/unit/plugin_system/test_plugin_core.py
  src/codomyrmex/tests/unit/utils/test_cli_helpers.py
Due: py-compile

up
  AGENTS.md
  CLAUDE.md
  codomyrmex_inventory.json
  pytest.ini
  src/codomyrmex/git_operations/core/repository_metadata.json
  src/codomyrmex/tests/unit/ai_code_editing/test_droid_manager.py
  src/codomyrmex/tests/unit/auth/__init__.py
  src/codomyrmex/tests/unit/auth/test_api_key_manager.py
  src/codomyrmex/tests/unit/cache/__init__.py
  src/codomyrmex/tests/unit/cache/test_cache_manager.py
  src/codomyrmex/tests/unit/cerebrum/test_fpf_orchestration.py
  src/codomyrmex/tests/unit/ci_cd_automation/test_async_pipeline_manager.py
  src/codomyrmex/tests/unit/ci_cd_automation/test_deployment_orchestrator.py
  src/codomyrmex/tests/unit/ci_cd_automation/test_exceptions.py
  src/codomyrmex/tests/unit/coding/review/unit/__init__.py
  src/codomyrmex/tests/unit/coding/review/unit/test_dashboard.py
  src/codomyrmex/tests/unit/coding/test_static_analyzer.py
  src/codomyrmex/tests/unit/config_management/test_config_core.py
  src/codomyrmex/tests/unit/data_visualization/test_advanced_plotter.py
  src/codomyrmex/tests/unit/data_visualization/test_git_visualizer.py
  src/codomyrmex/tests/unit/logistics/test_documentation_generator.py
  src/codomyrmex/tests/unit/logistics/test_parallel_executor.py
  src/codomyrmex/tests/unit/testing/test_chaos_scenarios.py
  src/codomyrmex/tests/unit/utils/test_subprocess.py
  src/codomyrmex/tests/unit/website/unit/test_server.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

feat(email+calendar): FristonBlanket Google affordances — unified auth & Gmail MCP tools
  CHANGELOG.md
  src/codomyrmex/calendar_integration/README.md
  src/codomyrmex/calendar_integration/gcal/provider.py
  src/codomyrmex/calendar_integration/mcp_tools.py
  src/codomyrmex/email/API_SPECIFICATION.md
  src/codomyrmex/email/PAI.md
  src/codomyrmex/email/gmail/provider.py
  src/codomyrmex/email/mcp_tools.py
  src/codomyrmex/tests/integration/email/__init__.py
  src/codomyrmex/tests/integration/email/test_gmail_integration.py
  src/codomyrmex/tests/unit/calendar_integration/test_calendar.py
  src/codomyrmex/tests/unit/email/agentmail/test_agentmail_provider.py
  src/codomyrmex/tests/unit/email/test_email.py
Due: py-compile, validate-doc-links, check-placeholders

fix(zero-mock): eliminate 3 concrete implementation violations
  src/codomyrmex/ide/antigravity/__init__.py
  src/codomyrmex/ide/cursor/__init__.py
  src/codomyrmex/spatial/world_models/__init__.py
  src/codomyrmex/tests/unit/ide/test_ide.py
  src/codomyrmex/tests/unit/spatial/test_spatial.py
Due: py-compile

refactor(tests): split 9 monolith test files into 34 focused files
  src/codomyrmex/tests/unit/api/test_api_http_primitives.py
  src/codomyrmex/tests/unit/api/test_api_request_response.py
  src/codomyrmex/tests/unit/api/test_api_routing.py
  src/codomyrmex/tests/unit/api/test_api_schema.py
  src/codomyrmex/tests/unit/api/test_api_versioning.py
  src/codomyrmex/tests/unit/ci_cd_automation/test_ci_cd_enhancements.py
  src/codomyrmex/tests/unit/ci_cd_automation/test_ci_cd_integration.py
  src/codomyrmex/tests/unit/ci_cd_automation/test_ci_cd_models.py
  src/codomyrmex/tests/unit/coding/test_reviewer_analysis.py
  src/codomyrmex/tests/unit/coding/test_reviewer_helpers.py
  src/codomyrmex/tests/unit/coding/test_reviewer_models.py
  src/codomyrmex/tests/unit/config_management/__init__.py
  src/codomyrmex/tests/unit/config_management/test_config_manager.py
  src/codomyrmex/tests/unit/config_management/test_config_model.py
  src/codomyrmex/tests/unit/config_management/test_config_monitor.py
  src/codomyrmex/tests/unit/config_management/test_config_schema.py
  src/codomyrmex/tests/unit/data_visualization/test_dataviz_advanced.py
  src/codomyrmex/tests/unit/data_visualization/test_dataviz_charts.py
  src/codomyrmex/tests/unit/data_visualization/test_dataviz_imports.py
  src/codomyrmex/tests/unit/data_visualization/test_dataviz_utils.py
  src/codomyrmex/tests/unit/database_management/test_db_connections.py
  src/codomyrmex/tests/unit/database_management/test_db_migrations.py
  src/codomyrmex/tests/unit/database_management/test_db_queries.py
  src/codomyrmex/tests/unit/database_management/test_db_results.py
  src/codomyrmex/tests/unit/documents/test_documents_io.py
  src/codomyrmex/tests/unit/documents/test_documents_models.py
  src/codomyrmex/tests/unit/documents/test_documents_processing.py
  src/codomyrmex/tests/unit/plugin_system/test_plugin_loader.py
  src/codomyrmex/tests/unit/plugin_system/test_plugin_manager.py
  src/codomyrmex/tests/unit/plugin_system/test_plugin_registry.py
  src/codomyrmex/tests/unit/plugin_system/test_plugin_validator.py
  src/codomyrmex/tests/unit/utils/test_utils_core.py
  src/codomyrmex/tests/unit/utils/test_utils_decorators.py
  src/codomyrmex/tests/unit/utils/test_utils_hashing.py
  src/codomyrmex/tests/unit/utils/test_utils_json.py
Due: py-compile

Path conditions:
  py-compile: any of: \.py$
  validate-dependencies: any of: ^pyproject\.toml$
  validate-doc-links: any of: \.md$
  check-placeholders: any of: \.md$
  validate-agents-structure: any of: AGENTS\.md$
