Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Codomyrmex
# Install: uv sync (pre-commit is included in dev dependencies)
# Setup: pre-commit install
# Run: pre-commit run --all-files

repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3.10
        args: [--line-length=88]

  # Python linting and import sorting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports]

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: [--recursive, --configfile=pyproject.toml, src/codomyrmex/]

  # Python syntax checking
  - repo: local
    hooks:
      - id: py-compile
        name: py-compile
        entry: python -m py_compile
        language: system
        files: \.py$

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [yaml]
        exclude: ^.*\.github/.*$

  # JSON formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [json]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: [--disable=MD013, MD033, MD041]

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files

  # Dependency validation
  - repo: local
    hooks:
      - id: validate-dependencies
        name: Validate Dependencies
        entry: python3 scripts/validation/validate_dependencies.py
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false
        always_run: false

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  # Documentation validation
  - repo: local
    hooks:
      - id: validate-doc-links
        name: Validate Documentation Links
        entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
        language: system
        files: \.md$
        pass_filenames: false
        always_run: false

      - id: check-placeholders
        name: Check for Placeholder Content
        entry: python3 -c "import sys; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD', 'HACK', 'STUB']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
        language: system
        files: \.md$

      - id: validate-agents-structure
        name: Validate AGENTS.md Structure
        entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
        language: system
        files: AGENTS\.md$
        pass_filenames: false
        always_run: false

fix(serialization): reject unknown formats instead of silently using JSON
  src/codomyrmex/serialization/serialization_manager.py
  tests/unit/serialization/test_serialization_manager.py
Due: py-compile

fix(agentic_memory): expand ~ in ObsidianVault paths
  src/codomyrmex/agentic_memory/obsidian/vault.py
  tests/unit/agentic_memory/obsidian/test_vault_enhanced.py
Due: py-compile

fix(agents): InfrastructureAgent.from_env skips clients without credentials
  src/codomyrmex/agents/infrastructure/agent.py
  tests/unit/agents/test_infrastructure_agent.py
Due: py-compile

docs: use mailto links instead of email autolinks (MDX)
  CHANGELOG.md
  docs/modules/api/SECURITY.md
  docs/modules/events/SECURITY.md
  src/codomyrmex/api/SECURITY.md
  src/codomyrmex/documentation/docs/modules/api/security.md
  src/codomyrmex/documentation/docs/modules/events/security.md
  src/codomyrmex/events/SECURITY.md
Due: validate-doc-links, check-placeholders

fix(logistics): make project orchestration execute what it reports
  src/codomyrmex/logistics/orchestration/project/API_SPECIFICATION.md
  src/codomyrmex/logistics/orchestration/project/SPEC.md
  src/codomyrmex/logistics/orchestration/project/USAGE_EXAMPLES.md
  src/codomyrmex/logistics/orchestration/project/__init__.py
  src/codomyrmex/logistics/orchestration/project/mcp_tools.py
  src/codomyrmex/logistics/orchestration/project/orchestration_engine.py
  src/codomyrmex/logistics/orchestration/project/parallel_executor.py
  src/codomyrmex/logistics/orchestration/project/project_manager.py
  src/codomyrmex/logistics/orchestration/project/resource_manager.py
  src/codomyrmex/logistics/orchestration/project/task_orchestrator.py
  src/codomyrmex/logistics/orchestration/project/workflow_manager.py
  tests/unit/logistics/AGENTS.md
  tests/unit/logistics/README.md
  tests/unit/logistics/orchestration/test_project_orchestration.py
  tests/unit/logistics/test_orchestration_engine.py
  tests/unit/logistics/test_parallel_executor.py
  tests/unit/logistics/test_project_resource_reporting.py
  tests/unit/logistics/test_task_dispatch.py
  tests/unit/logistics/test_workflow_execution.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

style: strip trailing whitespace in project orchestration API spec
  src/codomyrmex/logistics/orchestration/project/API_SPECIFICATION.md
Due: validate-doc-links, check-placeholders

deploy: 3617069a71d22c380e2a5a7f242c5fe4b9e5797a
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

deploy: 300be08fa3a4f840d7dfd7d058f77dcba8d00e5b
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

docs(orchestration): describe real dispatch, workflow execution and project runs
  docs/examples/orchestration-examples.md
  docs/project_orchestration/PAI.md
  docs/project_orchestration/config-driven-operations.md
  docs/project_orchestration/dispatch-coordination.md
  docs/project_orchestration/project-lifecycle-guide.md
  docs/project_orchestration/project-template-schema.md
  docs/project_orchestration/task-orchestration-guide.md
Due: validate-doc-links, check-placeholders

docs: CLI workflow/project persistence and real workflow templates
  docs/project_orchestration/config-driven-operations.md
  docs/project_orchestration/project-lifecycle-guide.md
  docs/project_orchestration/workflow-configuration-schema.md
  docs/reference/cli.md
Due: validate-doc-links, check-placeholders

fix(cli): make workflow and project commands work across invocations
  config/workflows/README.md
  config/workflows/SPEC.md
  config/workflows/examples/README.md
  config/workflows/examples/basic-analysis.json
  config/workflows/examples/code-analysis-pipeline.json
  config/workflows/examples/complex-analysis.json
  config/workflows/examples/sample_analysis_workflow.json
  config/workflows/production/README.md
  config/workflows/production/test_workflow.json
  config/workflows/tests/README.md
  config/workflows/tests/concurrent_workflow_0.json
  config/workflows/tests/concurrent_workflow_1.json
  config/workflows/tests/concurrent_workflow_2.json
  config/workflows/tests/error_test_workflow.json
  config/workflows/tests/perf_test_workflow.json
  config/workflows/tests/test_workflow.json
  src/codomyrmex/cli/handlers/orchestration.py
  src/codomyrmex/logistics/orchestration/project/AGENTS.md
  src/codomyrmex/logistics/orchestration/project/API_SPECIFICATION.md
  src/codomyrmex/logistics/orchestration/project/SPEC.md
  src/codomyrmex/logistics/orchestration/project/USAGE_EXAMPLES.md
  src/codomyrmex/logistics/orchestration/project/__init__.py
  src/codomyrmex/logistics/orchestration/project/_json_files.py
  src/codomyrmex/logistics/orchestration/project/project_manager.py
  src/codomyrmex/logistics/orchestration/project/workflow_manager.py
  tests/unit/cli/AGENTS.md
  tests/unit/cli/README.md
  tests/unit/cli/test_cli.py
  tests/unit/cli/test_cli_orchestration_handlers.py
  tests/unit/logistics/AGENTS.md
  tests/unit/logistics/README.md
  tests/unit/logistics/test_project_persistence.py
  tests/unit/logistics/test_shipped_workflow_configs.py
  tests/unit/logistics/test_workflow_persistence.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

fix(cli): exit with a non-zero status when a command fails
  CHANGELOG.md
  docs/modules/cli/API_SPECIFICATION.md
  src/codomyrmex/cli/API_SPECIFICATION.md
  src/codomyrmex/cli/SPEC.md
  src/codomyrmex/cli/__main__.py
  src/codomyrmex/cli/core.py
  tests/unit/cli/test_cli.py
  tests/unit/cli/test_cli_orchestration_handlers.py
Due: py-compile, validate-doc-links, check-placeholders

deploy: 6c8b46b40116204a5f0661a9d93df6fe598fe0b9
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

docs(changelog): describe the specification gates
  CHANGELOG.md
Due: validate-doc-links, check-placeholders

style: prettier and markdownlint on files touched by the CLI changes
  config/workflows/examples/basic-analysis.json
  config/workflows/examples/complex-analysis.json
  config/workflows/examples/sample_analysis_workflow.json
  docs/modules/cli/API_SPECIFICATION.md
  src/codomyrmex/cli/API_SPECIFICATION.md
  src/codomyrmex/cli/SPEC.md
Due: validate-doc-links, check-placeholders

deploy: b4400093247c028feaa9139967c68c43f47723fe
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

fix(system_discovery): health checks exercise real components
  CHANGELOG.md
  src/codomyrmex/system_discovery/__init__.py
  src/codomyrmex/system_discovery/core/dependency_analyzer.py
  src/codomyrmex/system_discovery/core/discovery_engine.py
  src/codomyrmex/system_discovery/core/health_checker.py
  src/codomyrmex/system_discovery/health/SPEC.md
  src/codomyrmex/system_discovery/health/health_checker.py
  src/codomyrmex/system_discovery/mcp_tools.py
  src/codomyrmex/system_discovery/reporting/status_reporter.py
  tests/unit/system_discovery/test_discovery_engine.py
  tests/unit/system_discovery/test_health_checker.py
  tests/unit/system_discovery/test_health_checker_missing_deps.py
  tests/unit/system_discovery/test_status_reporter.py
  tests/unit/system_discovery/test_system_discovery.py
  tests/unit/test_zero_mock_policy.py
Due: py-compile, validate-doc-links, check-placeholders

fix: no logging configuration on import; guard against tests writing into the repository
  CHANGELOG.md
  docs/development/testing-strategy.md
  docs/reference/cli.md
  scripts/documentation/orchestrate.py
  scripts/orchestrator/workflows/analyze_and_report.py
  src/codomyrmex/agents/ai_code_editing/droid_manager.py
  src/codomyrmex/agents/droid/run_todo_droid.py
  src/codomyrmex/cli/core.py
  src/codomyrmex/cli/handlers/analysis.py
  src/codomyrmex/config_management/monitoring/config_monitor.py
  src/codomyrmex/config_monitoring/config_monitor.py
  src/codomyrmex/database_management/performance_monitor.py
  src/codomyrmex/documentation/documentation_website.py
  src/codomyrmex/documentation/scripts/apply_curated_markers.py
  src/codomyrmex/documentation/scripts/auto_generate_docs.py
  src/codomyrmex/documentation/scripts/bootstrap_agents_readmes.py
  src/codomyrmex/documentation/scripts/smart_template_engine.py
  src/codomyrmex/maintenance/deps/dependency_analyzer.py
  src/codomyrmex/meme/verify_all.py
  src/codomyrmex/system_discovery/core/dependency_analyzer.py
  src/codomyrmex/system_discovery/core/discovery_engine.py
  src/codomyrmex/system_discovery/core/health_checker.py
  tests/conftest.py
  tests/integration/test_integration_orchestration.py
  tests/support/README.md
  tests/support/stray_paths.py
  tests/unit/agents/hermes/test_mcp_tools.py
  tests/unit/ci_cd_automation/conftest.py
  tests/unit/cli/test_cli.py
  tests/unit/config_management/test_config_management_core.py
  tests/unit/git_operations/test_github_operations.py
  tests/unit/plugin_system/conftest.py
  tests/unit/test_import_side_effects.py
  tests/unit/test_stray_path_guard.py
  tests/unit/test_test_package_names.py
  tests/unit/test_v1_2_0.py
  tests/unit/website/unit/test_server.py
Due: py-compile, validate-doc-links, check-placeholders

fix(formal_verification): also refuse ctypes and builtins callables reachable from z3
  .jules/sentinel.md
  src/codomyrmex/formal_verification/backends/z3_backend.py
  tests/unit/formal_verification/test_z3_backend.py
Due: py-compile, validate-doc-links, check-placeholders

fix(pai_pm): keep visible labels as the accessible name; concise draft label
  .jules/palette.md
  src/codomyrmex/pai_pm/server/spa/index.html
Due: validate-doc-links, check-placeholders
