Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Codomyrmex
# Install: uv sync (pre-commit is included in dev dependencies)
# Setup: pre-commit install
# Run: pre-commit run --all-files

repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.10
        args: [--line-length=88]

  # Python import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=88]

  # Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=88, --extend-ignore=E203, W503]
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports]

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: [--recursive, --configfile=pyproject.toml, src/codomyrmex/]

  # Python syntax checking
  - repo: local
    hooks:
      - id: py-compile
        name: py-compile
        entry: python -m py_compile
        language: system
        files: \.py$

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [yaml]
        exclude: ^.*\.github/.*$

  # JSON formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [json]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--disable=MD013, MD033, MD041]

  # Trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files

  # Dependency validation
  - repo: local
    hooks:
      - id: validate-dependencies
        name: Validate Dependencies
        entry: python3 scripts/validation/validate_dependencies.py
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false
        always_run: false

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck

  # Documentation validation
  - repo: local
    hooks:
      - id: validate-doc-links
        name: Validate Documentation Links
        entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
        language: system
        files: \.md$
        pass_filenames: false
        always_run: false

      - id: check-placeholders
        name: Check for Placeholder Content
        entry: python3 -c "import sys, re; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
        language: system
        files: \.md$

      - id: validate-agents-structure
        name: Validate AGENTS.md Structure
        entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
        language: system
        files: AGENTS\.md$
        pass_filenames: false
        always_run: false

agents
  src/codomyrmex/agents/AGENTS.md
  src/codomyrmex/agents/AGENT_COMPARISON.md
  src/codomyrmex/agents/API_SPECIFICATION.md
  src/codomyrmex/agents/MCP_TOOL_SPECIFICATION.md
  src/codomyrmex/agents/PAI.md
  src/codomyrmex/agents/README.md
  src/codomyrmex/agents/SPEC.md
  src/codomyrmex/agents/__init__.py
  src/codomyrmex/agents/agent_setup/AGENTS.md
  src/codomyrmex/agents/agent_setup/README.md
  src/codomyrmex/agents/agent_setup/SPEC.md
  src/codomyrmex/agents/agent_setup/__init__.py
  src/codomyrmex/agents/agent_setup/__main__.py
  src/codomyrmex/agents/agent_setup/config_file.py
  src/codomyrmex/agents/agent_setup/registry.py
  src/codomyrmex/agents/agent_setup/setup_wizard.py
  src/codomyrmex/agents/core/config.py
  src/codomyrmex/agents/deepseek/__init__.py
  src/codomyrmex/agents/deepseek/deepseek_client.py
  src/codomyrmex/agents/generic/cli_agent_base.py
  src/codomyrmex/agents/o1/__init__.py
  src/codomyrmex/agents/o1/o1_client.py
  src/codomyrmex/agents/qwen/__init__.py
  src/codomyrmex/agents/qwen/qwen_client.py
  tests/unit/agents/__init__.py
  tests/unit/agents/test_agent_setup.py
  tests/unit/agents/test_core.py
  tests/unit/agents/test_evaluation.py
  tests/unit/agents/test_generic.py
  tests/unit/agents/test_history.py
  tests/unit/agents/test_parsers.py
  tests/unit/agents/test_pooling.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

up
  index.html
  projects/test_project/.codomyrmex/project.json
  projects/test_project/config/modules.yaml
  projects/test_project/config/settings.yaml
  projects/test_project/src/visualizer.py
  projects/test_project/tests/test_codomyrmex_integration.py
  scripts/launch_dashboard.py
  src/codomyrmex/agents/AGENTS.md
  src/codomyrmex/agents/README.md
  src/codomyrmex/agents/core/base.py
  src/codomyrmex/agents/core/config.py
  src/codomyrmex/agents/generic/agent_orchestrator.py
  src/codomyrmex/examples/agent_orchestration_demo.py
  src/codomyrmex/tests/unit/agents/README.md
  src/codomyrmex/tests/unit/agents/conftest.py
  src/codomyrmex/tests/unit/agents/test_agents.py
  src/codomyrmex/tests/unit/agents/test_agents_core_config.py
  src/codomyrmex/tests/unit/agents/test_agents_core_orchestration.py
  src/codomyrmex/tests/unit/agents/test_agents_core_session.py
  src/codomyrmex/tests/unit/agents/test_agents_core_tools.py
  src/codomyrmex/tests/unit/agents/test_real_world_scenarios.py
  src/codomyrmex/tests/unit/website/AGENTS.md
  src/codomyrmex/tests/unit/website/PAI.md
  src/codomyrmex/tests/unit/website/README.md
  src/codomyrmex/tests/unit/website/SPEC.md
  src/codomyrmex/tests/unit/website/integration/AGENTS.md
  src/codomyrmex/tests/unit/website/integration/README.md
  src/codomyrmex/tests/unit/website/integration/test_website_integration.py
  src/codomyrmex/tests/unit/website/test_website_generator.py
  src/codomyrmex/tests/unit/website/unit/AGENTS.md
  src/codomyrmex/tests/unit/website/unit/README.md
  src/codomyrmex/tests/unit/website/unit/test_generator.py
  src/codomyrmex/tests/unit/website/unit/test_server.py
  src/codomyrmex/website/AGENTS.md
  src/codomyrmex/website/README.md
  src/codomyrmex/website/SPEC.md
  src/codomyrmex/website/generator.py
  src/codomyrmex/website/server.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

up
  git_analysis/git_report_git_tree.mmd
  git_analysis/git_report_git_tree.png
  git_analysis/git_report_summary_dashboard.png
  scripts/audit_documentation.py
  scripts/fix_missing_docstrings.py
  scripts/run_all_scripts.py
  src/codomyrmex/orchestrator/core.py
  src/codomyrmex/tests/integration/test_scripts_integration.py
Due: py-compile

Standardize version to v0.1.0 and audit PAI integration
  .agent/workflows/codomyrmexAnalyze.md
  .agent/workflows/codomyrmexDocs.md
  .agent/workflows/codomyrmexMemory.md
  .agent/workflows/codomyrmexSearch.md
  .agent/workflows/codomyrmexStatus.md
  src/codomyrmex/agents/pai/SKILL.md
  src/codomyrmex/agents/pai/SPEC.md
  src/codomyrmex/agents/pai/mcp_bridge.py
  src/codomyrmex/tests/unit/agents/test_mcp_bridge.py
  src/codomyrmex/tests/unit/agents/test_trust_gateway.py
  verification_report.json
Due: py-compile, validate-doc-links, check-placeholders

Clean repository root: move diagnostic scripts and docs to appropriate subdirectories
  docs/examples/USAGE_EXAMPLES.md
  scripts/agents/simulate_pai_chat.py
  scripts/agents/verify_skill_structure.py
  scripts/model_context_protocol/verify_dynamic_mcp.py
  verification_report.json
Due: py-compile, validate-doc-links, check-placeholders

v0.1.1: PAI integration documentation suite + upstream issue
  SPEC.md
  docs/modules/agents/PAI.md
  docs/modules/agents/PAI/AGENTS.md
  docs/modules/agents/PAI/ALGORITHM.md
  docs/modules/agents/PAI/ARCHITECTURE.md
  docs/modules/agents/PAI/FLOWS.md
  docs/modules/agents/PAI/HOOKS.md
  docs/modules/agents/PAI/README.md
  docs/modules/agents/PAI/SIGNPOSTS.md
  docs/modules/agents/PAI/SKILLS.md
  docs/modules/agents/PAI/TELOS.md
  docs/modules/agents/PAI/UPSTREAM_ISSUE.md
  docs/modules/agents/PAI/WORKFLOWS.md
  pyproject.toml
  src/codomyrmex/__init__.py
  src/codomyrmex/agents/pai/mcp_bridge.py
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

docs: update UPSTREAM_ISSUE.md with refined issue body and live link (#710)
  docs/modules/agents/PAI/UPSTREAM_ISSUE.md
Due: validate-doc-links, check-placeholders

fix: synchronize PAI discovery — add crypto docs, nest tree_sitter, fix workflow imports
  .agent/workflows/codomyrmexAnalyze.md
  .agent/workflows/codomyrmexMemory.md
  docs/modules/README.md
  docs/modules/coding/parsers/tree_sitter/AGENTS.md
  docs/modules/coding/parsers/tree_sitter/PAI.md
  docs/modules/coding/parsers/tree_sitter/README.md
  docs/modules/coding/parsers/tree_sitter/SPEC.md
  docs/modules/crypto/AGENTS.md
  docs/modules/crypto/PAI.md
  docs/modules/crypto/README.md
  docs/modules/crypto/SPEC.md
  docs/modules/overview.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

feat: add local web viewer for education modules
  PR_DESCRIPTION.md
  src/codomyrmex/education/certification/assessment.py
  src/codomyrmex/education/curriculum/curriculum.py
  src/codomyrmex/education/tutoring/tutor.py
  src/codomyrmex/tests/test_content_browser.py
  src/codomyrmex/tests/test_education_api.py
  src/codomyrmex/tests/test_education_assessment.py
  src/codomyrmex/tests/test_education_learning_path.py
  src/codomyrmex/tests/test_education_provider.py
  src/codomyrmex/tests/test_education_tutoring.py
  src/codomyrmex/tests/test_service_browser.py
  src/codomyrmex/tests/test_theme.py
  src/codomyrmex/website/__main__.py
  src/codomyrmex/website/assets/css/style.css
  src/codomyrmex/website/assets/js/education.js
  src/codomyrmex/website/education_provider.py
  src/codomyrmex/website/generator.py
  src/codomyrmex/website/server.py
  src/codomyrmex/website/templates/assessment.html
  src/codomyrmex/website/templates/base.html
  src/codomyrmex/website/templates/content.html
  src/codomyrmex/website/templates/curriculum.html
  src/codomyrmex/website/templates/tutoring.html
  start_viewer.sh
Due: py-compile, validate-doc-links, check-placeholders

fix: resolve linting issues and restore education __init__.py files
  src/codomyrmex/education/__init__.py
  src/codomyrmex/education/certification/__init__.py
  src/codomyrmex/education/curriculum/__init__.py
  src/codomyrmex/education/tutoring/__init__.py
  src/codomyrmex/tests/test_content_browser.py
  src/codomyrmex/tests/test_education_api.py
  src/codomyrmex/tests/test_education_assessment.py
  src/codomyrmex/tests/test_education_learning_path.py
  src/codomyrmex/tests/test_education_provider.py
  src/codomyrmex/tests/test_education_tutoring.py
  src/codomyrmex/tests/test_service_browser.py
  src/codomyrmex/tests/test_theme.py
  src/codomyrmex/website/education_provider.py
  src/codomyrmex/website/server.py
Due: py-compile

security: use Path.is_relative_to() for directory traversal checks
  src/codomyrmex/website/education_provider.py
Due: py-compile

fix: address Copilot review comments
  src/codomyrmex/website/assets/js/education.js
  src/codomyrmex/website/server.py
  start_viewer.sh
Due: py-compile

fix: handle workflow_dispatch permission errors in coordinator
  .github/workflows/workflow-coordinator.yml
Due: none

fix: documentation-validation workflow permissions and artifact handling
  .github/workflows/documentation-validation.yml
Due: none

fix: produce valid compact JSON for modules output in smart-testing
  .github/workflows/workflow-coordinator.yml
Due: none

style: fix ruff and black lint issues in website and education modules
  src/codomyrmex/education/certification/assessment.py
  src/codomyrmex/education/curriculum/curriculum.py
  src/codomyrmex/education/tutoring/tutor.py
  src/codomyrmex/website/__init__.py
  src/codomyrmex/website/accessibility/__init__.py
  src/codomyrmex/website/accessibility/checker.py
  src/codomyrmex/website/accessibility/models.py
  src/codomyrmex/website/accessibility/reporters.py
  src/codomyrmex/website/accessibility/utils.py
  src/codomyrmex/website/data_provider.py
  src/codomyrmex/website/generator.py
Due: py-compile

chore: remove PR_DESCRIPTION.md from tracking
  PR_DESCRIPTION.md
Due: validate-doc-links, check-placeholders

update
  .claude/Plans/deep-herding-prism.md
  debug_card.py
  src/codomyrmex/data_visualization/__init__.py
  src/codomyrmex/data_visualization/charts/bar_chart.py
  src/codomyrmex/data_visualization/charts/scatter_plot.py
  src/codomyrmex/data_visualization/components/text.py
  src/codomyrmex/data_visualization/core/layout.py
  src/codomyrmex/data_visualization/core/ui.py
  src/codomyrmex/data_visualization/reports/general.py
  src/codomyrmex/skills/skill_sync.py
  src/codomyrmex/tests/integration/test_cross_module_workflows.py
  src/codomyrmex/tests/unit/skills/test_skills_manager.py
Due: py-compile, validate-doc-links, check-placeholders

update
  .claude/Plans/deep-herding-prism.md
  docs/cognitive/README.md
  docs/cognitive/active_inference.md
  docs/cognitive/cognitive_modeling.md
  docs/cognitive/cognitive_security.md
  docs/cognitive/ergonomics.md
  docs/cognitive/industrialization.md
  docs/cognitive/signal_information_theory.md
  docs/cognitive/stigmergy.md
Due: validate-doc-links, check-placeholders

update
  .claude/Plans/deep-herding-prism.md
  TO-DO.md
  scripts/agents/pai/AGENTS.md
  scripts/agents/pai/PAI.md
  scripts/agents/pai/README.md
  scripts/agents/pai/SPEC.md
  scripts/agents/pai/agent_personality.py
  scripts/agents/pai/algorithm_orchestrator.py
  scripts/agents/pai/claude_pai_bridge.py
  scripts/agents/pai/hook_lifecycle.py
  scripts/agents/pai/mcp_server_ops.py
  scripts/agents/pai/memory_explorer.py
  scripts/agents/pai/security_audit.py
  scripts/agents/pai/skill_manifest.py
  scripts/agents/pai/tool_invocation.py
  scripts/agents/pai/trust_lifecycle.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

Release v0.1.4: Descaffold & Zero-Mock
  pyproject.toml
  src/codomyrmex/__init__.py
  src/codomyrmex/tests/benchmarks/test_benchmarks.py
  src/codomyrmex/tests/unit/networking/test_networking.py
  src/codomyrmex/tests/utils/ephemeral_server.py
Due: py-compile, validate-dependencies

Roadmap: foundations-first (v0.1.5-7), cognitive (v0.1.8-9), swarm (v0.2.0)
  CHANGELOG.md
  TO-DO.md
Due: validate-doc-links, check-placeholders

Release v0.1.5: Module Refactoring & Type Safety
  CHANGELOG.md
  TO-DO.md
  pyproject.toml
  scripts/audit_exports.py
  scripts/audit_imports.py
  scripts/audit_rasp.py
  src/codomyrmex/__init__.py
  src/codomyrmex/module_template/__init__.py
  src/codomyrmex/tests/__init__.py
  src/codomyrmex/tests/utils/__init__.py
  uv.lock
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders

roadmap: refine v0.1.7–v0.2.0 based on codebase audit
  TO-DO.md
Due: validate-doc-links, check-placeholders

roadmap: restructure v0.1.7–v0.4.0
  TO-DO.md
Due: validate-doc-links, check-placeholders

fix: extract handle_content_file method, replace inline onclick with addEventListener, add body size limit
  src/codomyrmex/website/assets/js/education.js
  src/codomyrmex/website/server.py
Due: py-compile

fix: make CORS origin configurable via CODOMYRMEX_PORT env var, validate quiz difficulty
  src/codomyrmex/website/server.py
Due: py-compile

update
  TO-DO.md
  pyproject.toml
  src/codomyrmex/agents/pai/mcp_bridge.py
  src/codomyrmex/agents/pai/trust_gateway.py
  src/codomyrmex/git_operations/core/repository_metadata.json
  src/codomyrmex/tests/performance/test_benchmarking.py
  src/codomyrmex/tests/performance/test_module_performance.py
  src/codomyrmex/tests/unit/mcp/test_mcp_http_and_errors.py
  uv.lock
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders
