Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

py-compile:
  name: py-compile
  entry: python -m py_compile
  language: system

validate-dependencies:
  name: Validate Dependencies
  entry: python3 scripts/validation/validate_dependencies.py
  language: system
  pass_filenames: false
  always_run: false

validate-doc-links:
  name: Validate Documentation Links
  entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
  language: system
  pass_filenames: false
  always_run: false

check-placeholders:
  name: Check for Placeholder Content
  entry: python3 -c "import sys; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD', 'HACK', 'STUB']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
  language: system

validate-agents-structure:
  name: Validate AGENTS.md Structure
  entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
  language: system
  pass_filenames: false
  always_run: false

fix: docs parity and test-contract repairs for merged PR set
  AGENTS.md
  INDEX.md
  README.md
  docs/modules/language_detection/AGENTS.md
  docs/modules/language_detection/PAI.md
  docs/modules/language_detection/README.md
  docs/modules/language_detection/SPEC.md
  docs/modules/preprocessing/AGENTS.md
  docs/modules/preprocessing/PAI.md
  docs/modules/preprocessing/README.md
  docs/modules/preprocessing/SPEC.md
  docs/reference/inventory.md
  src/codomyrmex/cli/handlers/quick.py
  src/codomyrmex/cli/utils.py
  src/codomyrmex/language_detection/API_SPECIFICATION.md
  src/codomyrmex/language_detection/MCP_TOOL_SPECIFICATION.md
  src/codomyrmex/language_detection/PAI.md
  src/codomyrmex/language_detection/py.typed
  src/codomyrmex/performance/caching/cache_manager.py
  src/codomyrmex/performance/monitoring/resource_tracker.py
  src/codomyrmex/performance/profiling/async_profiler.py
  src/codomyrmex/preprocessing/API_SPECIFICATION.md
  src/codomyrmex/preprocessing/MCP_TOOL_SPECIFICATION.md
  src/codomyrmex/preprocessing/PAI.md
  src/codomyrmex/preprocessing/py.typed
  src/codomyrmex/templating/engines/jinja2_like.py
  src/codomyrmex/tree_sitter/parsers/python_parser.py
  src/codomyrmex/wallet/contracts/models.py
  tests/unit/ci_cd_automation/test_deployment_orchestrator_comprehensive.py
  tests/unit/cli/test_mcp_tools.py
  tests/unit/preprocessing/test_mcp_tools.py
  tests/unit/system_discovery/test_capability_scanner.py
  tests/unit/system_discovery/test_health_checker.py
  tests/unit/system_discovery/test_profilers.py
  tests/unit/system_discovery/test_structure_audit.py
  tests/unit/templating/test_templating.py
  tests/unit/test_src_init.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

docs: record 2026-09-11 PR triage receipts and refresh inventory metrics
  CHANGELOG.md
  INDEX.md
  README.md
  TODO.md
  docs/reference/inventory.md
Due: validate-doc-links, check-placeholders

deploy: 5167009bd91d469a6a300e47abe92e9b307dc93f
  documentation-quality/agents_validation.json
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

test: apply #248 check_core_dependencies coverage (relocated to tests/ layout, deps asserted against _DEP_MAPPING) and #436 wallet key generation via secrets.token_bytes
  CHANGELOG.md
  tests/unit/system_discovery/test_health_checker_missing_deps.py
Due: py-compile, validate-doc-links, check-placeholders

deploy: cdd06c000b897bbfc18ee954eb6f19a87004bee5
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

feat(demos): add MCP tools for demos registry (#97) — mcp_tools.py, zero-mock tests, doc integration
  src/codomyrmex/demos/AGENTS.md
  src/codomyrmex/demos/PAI.md
  src/codomyrmex/demos/README.md
  src/codomyrmex/demos/SPEC.md
  src/codomyrmex/demos/mcp_tools.py
  src/codomyrmex/demos/registry.py
  tests/unit/demos/test_mcp_tools.py
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

deploy: 9b13e470cefedf8b442047c34f4842080424ca07
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

deploy: 2fcfe380a85d5fc2bac0425166acd2b28cbabef6
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

docs: final PR-triage counts — 352 open to 0
  CHANGELOG.md
  TODO.md
Due: validate-doc-links, check-placeholders

deploy: ce0913289306b65c71c2a512cb72fb8b5852dbfb
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

docs(preprocessing): deepen AGENTS/SPEC past triple-check minimal-content gate
  src/codomyrmex/preprocessing/AGENTS.md
  src/codomyrmex/preprocessing/SPEC.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

deploy: 44bdb86d557f9ff5745d9fc8fb3b508f3407da07
  documentation-quality/agents_validation.json
  documentation-quality/content_quality.json
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
  documentation-quality/link_validation.json
Due: none

deploy: 44bdb86d557f9ff5745d9fc8fb3b508f3407da07
  documentation-quality/dashboard.html
  documentation-quality/dashboard_data.json
Due: none

style: apply ruff format and lint autofixes that block CI
  scripts/run_all_scripts.py
  src/codomyrmex/colony_kernel/research/orchestration.py
  src/codomyrmex/concurrency/dead_letter.py
  src/codomyrmex/demos/mcp_tools.py
  src/codomyrmex/model_context_protocol/tools.py
  src/codomyrmex/performance/monitoring/__init__.py
  tests/agents/hermes/test_hermes_scripts.py
  tests/unit/colony_kernel/test_research_orchestration.py
  tests/unit/concurrency/test_dead_letter.py
  tests/unit/documentation/test_placeholder_regression.py
  tests/unit/system_discovery/test_dependency_analyzer.py
  tests/unit/system_discovery/test_profilers.py
Due: py-compile

fix: resolve ty errors that were real bugs
  src/codomyrmex/agents/__init__.py
  src/codomyrmex/cerebrum/visualization/visualization_theme.py
  src/codomyrmex/events/core/event_bus.py
  tests/unit/agents/test_agents_lazy_all.py
Due: py-compile

fix(orchestrator): bound fn_expr evaluation and reject silently-dropped syntax
  src/codomyrmex/orchestrator/mcp_tools.py
  tests/unit/orchestrator/test_safe_expression.py
Due: py-compile

fix(ci): duplicate-PR sentinel crash and inverted representative choice
  scripts/maintenance/close_duplicate_prs.py
  tests/unit/scripts/test_close_duplicate_prs.py
Due: py-compile

fix(security): upgrade vulnerable locked dependencies
  scripts/security/audit_uv_lock.py
  tests/unit/scripts/test_audit_uv_lock.py
  uv.lock
Due: py-compile

fix(sandbox): allow syscalls current runc and glibc need in seccomp profile
  src/codomyrmex/coding/sandbox/seccomp_profile.json
  tests/unit/coding/sandbox/test_seccomp_profile.py
Due: py-compile

chore(pre-commit): pin ruff hook to the locked ruff and fix markdownlint args
  .pre-commit-config.yaml
Due: none

docs: fix broken links and complete required AGENTS.md sections
  .agent/AGENTS.md
  .agent/skills/AGENTS.md
  .agent/skills/desloppify/AGENTS.md
  .agent/workflows/AGENTS.md
  .agents/AGENTS.md
  .agents/skills/AGENTS.md
  .agents/skills/agent-interop/AGENTS.md
  .agents/skills/first-principles/AGENTS.md
  .agents/skills/mcp-tool-use/AGENTS.md
  .agents/skills/red-team/AGENTS.md
  .agents/skills/systems-thinking/AGENTS.md
  .codex/AGENTS.md
  .cursor/skills/README.md
  .devcontainer/AGENTS.md
  .jules/AGENTS.md
  data/AGENTS.md
  data/sair/AGENTS.md
  data/sair/results/AGENTS.md
  data/sair/runs/AGENTS.md
  docs/assets/demo_stills/AGENTS.md
  docs/modules/language_detection/AGENTS.md
  docs/modules/preprocessing/AGENTS.md
  evaluations/AGENTS.md
  evaluations/api/AGENTS.md
  evaluations/cli/AGENTS.md
  evaluations/gemini/AGENTS.md
  src/codomyrmex/language_detection/AGENTS.md
  src/codomyrmex/language_detection/MCP_TOOL_SPECIFICATION.md
  src/codomyrmex/preprocessing/MCP_TOOL_SPECIFICATION.md
Due: validate-doc-links, check-placeholders, validate-agents-structure

test(integration): skip Whisper test only when Hub weights are unreachable
  tests/integration/hermes/test_gateway_audio_transcoding.py
Due: py-compile

ci: make the test suite finish, and stop running it twice
  .github/workflows/ci-integration.yml
  .github/workflows/ci.yml
  .github/workflows/code-health.yml
  .github/workflows/workflow-coordinator.yml
Due: none

style: satisfy pre-commit hooks on files this branch touches
  .cursor/skills/README.md
  src/codomyrmex/coding/sandbox/seccomp_profile.json
  src/codomyrmex/language_detection/MCP_TOOL_SPECIFICATION.md
  src/codomyrmex/preprocessing/MCP_TOOL_SPECIFICATION.md
Due: validate-doc-links, check-placeholders

fix(arch): drop stale layering contract and add missing __all__ exports
  src/codomyrmex/language_detection/__init__.py
  src/codomyrmex/preprocessing/__init__.py
  src/codomyrmex/preprocessing/mcp_tools.py
  src/codomyrmex/static_analysis/imports.py
  tests/unit/language_detection/test_mcp_tools.py
  tests/unit/preprocessing/test_mcp_tools.py
Due: py-compile

chore(lint): re-enable F811/F821/F822/F823 and fix what they hid
  pyproject.toml
  scripts/agents/basic_usage.py
  scripts/sair/evaluate.py
  src/codomyrmex/agents/hermes/client_pkg/session_ops.py
  src/codomyrmex/examples/agent_orchestration_demo.py
  tests/performance/test_lazy_imports.py
  tests/unit/cloud/test_infomaniak_object_storage.py
Due: py-compile, validate-dependencies

fix(cli): stop echoing bool status after output; ignore docs in workflows
  src/codomyrmex/cli/core.py
  src/codomyrmex/cli/doctor.py
  tests/integration/cli/test_cli_commands.py
Due: py-compile

fix(trust): explicit safe-tool list named tools that do not exist
  src/codomyrmex/agents/pai/mcp/trust_metadata.py
  tests/unit/agents/navigation/test_catalog.py
  tests/unit/agents/pai/test_trust_metadata_registry.py
Due: py-compile

fix(docs-site): align Docusaurus packages and fence MDX-breaking text
  src/codomyrmex/documentation/docs/modules/cli/README.md
  src/codomyrmex/documentation/package-lock.json
  src/codomyrmex/documentation/package.json
  src/codomyrmex/documentation/yarn.lock
Due: validate-doc-links, check-placeholders

ci(lighthouse): serve the built site instead of a file:// URL
  .github/lighthouse-ci.json
  .github/workflows/lighthouse-ci.yml
Due: none

style: apply prettier to edited JSON files
  .github/lighthouse-ci.json
  src/codomyrmex/documentation/package.json
Due: none

docs: refresh inventory counts to the live tree
  .github/README.md
  README.md
  docs/modules/model_context_protocol/PAI.md
  docs/reference/inventory.md
  src/codomyrmex/model_context_protocol/PAI.md
  tests/unit/colony_kernel/test_manuscript_consistency.py
Due: py-compile, validate-doc-links, check-placeholders

ci(lighthouse): use valid audit IDs in assertions
  .github/lighthouse-ci.json
Due: none

Path conditions:
  py-compile: any of: \.py$
  validate-dependencies: any of: ^pyproject\.toml$
  validate-doc-links: any of: \.md$
  check-placeholders: any of: \.md$
  validate-agents-structure: any of: AGENTS\.md$
