Repository docxology/codomyrmex: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

py-compile:
  name: py-compile
  entry: python -m py_compile
  language: system

validate-dependencies:
  name: Validate Dependencies
  entry: python3 scripts/validation/validate_dependencies.py
  language: system
  pass_filenames: false
  always_run: false

validate-doc-links:
  name: Validate Documentation Links
  entry: python3 scripts/documentation/validate_links_comprehensive.py --repo-root . --output output --fail-on-broken
  language: system
  pass_filenames: false
  always_run: false

check-placeholders:
  name: Check for Placeholder Content
  entry: python3 -c "import sys; content = open(sys.argv[1]).read(); patterns = ['TODO', 'FIXME', 'placeholder', 'TBD', 'HACK', 'STUB']; found = [p for p in patterns if p in content]; sys.exit(1 if found else 0)"
  language: system

validate-agents-structure:
  name: Validate AGENTS.md Structure
  entry: python3 scripts/documentation/validate_agents_structure.py --repo-root . --output output --fail-on-invalid
  language: system
  pass_filenames: false
  always_run: false

docs: mark 3 v1.1.1 items complete in TODO; correct noqa metric
  TODO.md
Due: validate-doc-links, check-placeholders

docs: add v1.1.1 code review baseline + fix ruff violations
  review.md
  src/codomyrmex/website/pai_mixin.py
Due: py-compile, validate-doc-links, check-placeholders

fix: CI and Security workflow failures + live README badges
  .github/workflows/ci.yml
  .github/workflows/security.yml
  README.md
Due: validate-doc-links, check-placeholders

fix: security.yml Semgrep token guard via step output + non-blocking dep update tests
  .github/workflows/security.yml
Due: none

docs: comprehensive .github/README.md overhaul
  .github/README.md
Due: validate-doc-links, check-placeholders

fix: make CI reliably green + enhance README badges
  .github/README.md
  .github/workflows/ci.yml
Due: validate-doc-links, check-placeholders

fix: make unit tests and dep-update PR non-blocking
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

chore: deeply scope v1.1.2 and v1.1.3 releases
  TODO.md
Due: validate-doc-links, check-placeholders

chore: update TODO.md snapshot for v1.1.2 (ruff 3,552)
  TODO.md
Due: validate-doc-links, check-placeholders

feat: add Hypothesis property-based tests (30 new tests, 749→766 pass)
  pyproject.toml
  src/codomyrmex/tests/unit/events/test_hypothesis_events.py
  src/codomyrmex/tests/unit/serialization/test_hypothesis_round_trips.py
  src/codomyrmex/tests/unit/validation/test_hypothesis_schemas.py
  uv.lock
Due: py-compile, validate-dependencies

chore: fix mkdocs cross-refs in getting-started docs
  docs/README.md
  docs/getting-started/full-setup.md
  docs/getting-started/tutorials/connecting-pai.md
Due: validate-doc-links, check-placeholders

v1.1.3: Quality Ratchet
  .github/README.md
  AGENTS.md
  CHANGELOG.md
  PAI.md
  README.md
  SPEC.md
  TODO.md
  pyproject.toml
  src/codomyrmex/__init__.py
  src/codomyrmex/tests/unit/events/test_hypothesis_events.py
  src/codomyrmex/tests/unit/validation/test_hypothesis_schemas.py
  uv.lock
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

v1.1.4: Ruff Zero 🎉
  .github/README.md
  AGENTS.md
  CHANGELOG.md
  PAI.md
  README.md
  SPEC.md
  TODO.md
  pyproject.toml
  src/codomyrmex/__init__.py
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders, validate-agents-structure

fix(ci): fix CI and Security workflows to pass
  .github/workflows/ci.yml
  .github/workflows/security.yml
  CLAUDE.md
Due: validate-doc-links, check-placeholders

feat(agents): comprehensive Qwen agent integration with qwen-agent framework
  .desloppify/query.json
  scorecard.png
  src/codomyrmex/agents/qwen/AGENTS.md
  src/codomyrmex/agents/qwen/PAI.md
  src/codomyrmex/agents/qwen/README.md
  src/codomyrmex/agents/qwen/SPEC.md
  src/codomyrmex/agents/qwen/__init__.py
  src/codomyrmex/agents/qwen/mcp_tools.py
  src/codomyrmex/agents/qwen/qwen_agent_wrapper.py
  src/codomyrmex/agents/qwen/qwen_client.py
  src/codomyrmex/tests/unit/agents/qwen/__init__.py
  src/codomyrmex/tests/unit/agents/qwen/test_qwen.py
  uv.lock
Due: py-compile, validate-doc-links, check-placeholders, validate-agents-structure

test(qwen): expand test suite to 51 tests — comprehensive method/MCP/wrapper validation
  .desloppify/query.json
  CLAUDE.md
  src/codomyrmex/agents/droid/generators/documentation.py
  src/codomyrmex/orchestrator/thin.py
  src/codomyrmex/tests/unit/agents/qwen/test_qwen.py
Due: py-compile, validate-doc-links, check-placeholders

refactor(scripts/agents): organize into provider subfolders + rewrite qwen demo
  .desloppify/query.json
  scorecard.png
  scripts/agents/README.md
  scripts/agents/claude/claude_code_demo.py
  scripts/agents/claude/claude_code_workflow.py
  scripts/agents/claude/claude_example.py
  scripts/agents/code_editing/code_editor_example.py
  scripts/agents/codex/codex_example.py
  scripts/agents/droid/droid_example.py
  scripts/agents/gemini/demo_gemini_dispatch.py
  scripts/agents/gemini/gemini_example.py
  scripts/agents/jules/jules_batch_dispatch.sh
  scripts/agents/jules/jules_example.py
  scripts/agents/jules/mega_swarm_dispatcher.py
  scripts/agents/jules/mega_swarm_harvester.py
  scripts/agents/ollama/orchestrate_with_ollama.py
  scripts/agents/opencode/opencode_example.py
  scripts/agents/pai/pai_dashboard.py
  scripts/agents/pai/pai_example.py
  scripts/agents/pai/simulate_pai_chat.py
  scripts/agents/pai/z3_pai_example.py
  scripts/agents/qwen/README.md
  scripts/agents/qwen/SPEC.md
  scripts/agents/qwen/qwen_demo.py
  src/codomyrmex/agents/droid/generators/documentation.py
  src/codomyrmex/tests/unit/agents/droid/test_droid_generators_syntax.py
Due: py-compile, validate-doc-links, check-placeholders

chore(repo): add FUNDING.md and untrack generated json assets
  .gitignore
  FUNDING.md
Due: validate-doc-links, check-placeholders

chore: release v1.1.5
  CHANGELOG.md
  TODO.md
  docs/assets/release_1_1_5.png
  pyproject.toml
  src/codomyrmex/__init__.py
  src/codomyrmex/tests/unit/dark/test_dark_pdf.py
  src/codomyrmex/tests/unit/quantum/test_mcp_tools_quantum.py
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders

chore(stabilization): burn down 332 ruff violations and deeply scope TODO.md roadmaps
  TODO.md
  parse_ty.py
  scripts/agents/jules/mega_swarm_v2_dispatcher.py
  src/codomyrmex/agents/gemini/gemini_client.py
  src/codomyrmex/concurrency/semaphores/semaphore.py
  src/codomyrmex/llm/rag/__init__.py
  src/codomyrmex/logistics/orchestration/project/resource_manager.py
  src/codomyrmex/logistics/orchestration/project/task_orchestrator.py
  src/codomyrmex/system_discovery/core/context.py
  src/codomyrmex/system_discovery/reporting/status_reporter.py
  src/codomyrmex/telemetry/agent_hooks.py
  src/codomyrmex/telemetry/otel.py
  src/codomyrmex/terminal_interface/rendering/rich_renderer.py
  src/codomyrmex/terminal_interface/utils/terminal_utils.py
  src/codomyrmex/tests/integration/test_integration_orchestration.py
  src/codomyrmex/tests/unit/agents/test_agent_lifecycle_zeromock.py
  src/codomyrmex/tests/unit/agents/test_llm_client.py
  src/codomyrmex/tests/unit/cli/test_cli_integrated.py
  src/codomyrmex/tests/unit/config_management/test_config_features.py
  src/codomyrmex/tests/unit/embodiment/test_embodiment_bases.py
  src/codomyrmex/tests/unit/embodiment/test_transformation.py
  src/codomyrmex/tests/unit/events/test_event_system_review.py
  src/codomyrmex/tests/unit/events/test_mcp_tools.py
  src/codomyrmex/tests/unit/exceptions/test_exhaustive.py
  src/codomyrmex/tests/unit/git_operations/test_git_core_zero_mock.py
  src/codomyrmex/tests/unit/llm/chains/test_chains.py
  src/codomyrmex/tests/unit/logging_monitoring/unit/test_json_logging_integration.py
  src/codomyrmex/tests/unit/performance/test_performance_enhanced.py
  src/codomyrmex/tests/unit/quantum/test_quantum_algorithms.py
  src/codomyrmex/tests/unit/system_discovery/test_introspection.py
  src/codomyrmex/tests/unit/telemetry/test_agent_hooks.py
  src/codomyrmex/tests/unit/telemetry/test_tracing_framework.py
  src/codomyrmex/tests/unit/terminal_interface/test_rich_renderer.py
  src/codomyrmex/tests/unit/validation/test_improved_validation.py
  src/codomyrmex/validation/rules/__init__.py
  src/codomyrmex/validation/sanitizers/__init__.py
  src/codomyrmex/validation/validator.py
  src/codomyrmex/website/pai_mixin.py
Due: py-compile, validate-doc-links, check-placeholders

feat(pai): implement Bike Ride Voice Reply STT and LLM improve
  bun.lock
  package.json
  src/codomyrmex/agents/pai/pm/routes/email.ts
  src/codomyrmex/agents/pai/pm/spa/index.html
Due: none

[test] Coverage push: smoke tests, ruff zero, gate ratchet
  .desloppify/query.json
  README.md
  TODO.md
  pyproject.toml
  src/codomyrmex/coding/_lang_utils.py
  src/codomyrmex/coding/review/reviewer.py
  src/codomyrmex/coding/static_analysis/static_analyzer.py
  src/codomyrmex/collaboration/__init__.py
  src/codomyrmex/containerization/docker/image_optimizer.py
  src/codomyrmex/skills/arscontexta/services.py
  src/codomyrmex/telemetry/metrics/__init__.py
  src/codomyrmex/tests/unit/test_coverage_smoke.py
Due: py-compile, validate-dependencies, validate-doc-links, check-placeholders

[fix] ruff: fix 2 remaining violations from auto-generated _lang_utils.py
  src/codomyrmex/coding/review/reviewer.py
  src/codomyrmex/collaboration/__init__.py
  src/codomyrmex/tests/unit/test_coverage_smoke.py
Due: py-compile

[docs] TODO.md overhaul: remove completed items, add Active Debt section
  .desloppify/query.json
  TODO.md
  src/codomyrmex/telemetry/metrics/core.py
  src/codomyrmex/vector_store/_search_mixin.py
  src/codomyrmex/vector_store/persistent.py
  src/codomyrmex/vector_store/store.py
  src/codomyrmex/video/_validation.py
  src/codomyrmex/video/analysis/video_analyzer.py
  src/codomyrmex/video/extraction/frame_extractor.py
Due: py-compile, validate-doc-links, check-placeholders

[docs] TODO.md: mark TODO/FIXME triage done (0 real actionable)
  .desloppify/query.json
  TODO.md
Due: validate-doc-links, check-placeholders

[test] Coverage push: functional tests for git_operations, documentation, cli
  .desloppify/query.json
  CLAUDE.md
  scorecard.png
  src/codomyrmex/tests/unit/test_cli_coverage.py
  src/codomyrmex/tests/unit/test_documentation_coverage.py
  src/codomyrmex/tests/unit/test_git_operations_coverage.py
Due: py-compile, validate-doc-links, check-placeholders

Path conditions:
  py-compile: any of: \.py$
  validate-dependencies: any of: ^pyproject\.toml$
  validate-doc-links: any of: \.md$
  check-placeholders: any of: \.md$
  validate-agents-structure: any of: AGENTS\.md$
